

body {
    background: url(%%bg%%), radial-gradient(ellipse at center, rgba(251, 253, 254, 1) 0, rgba(251, 253, 254, 1) 49%, rgba(224, 242, 255, 1) 100%) fixed
}

.thing.link {
    box-shadow: 0 1px 3px rgba(173, 178, 255, 0.8);
}



/* legacy nightmode colors
--------------------------------------------------------------------------------*/
html[lang$=nm] body {
    background: #333;
    color: #bdc3c7;
}

html[lang$=nm] #previoussearch,
html[lang$=nm] .combined-search-page #previoussearch,
html[lang$=nm] .combined-search-page #previoussearch .res-search-pane,
html[lang$=nm] .combined-search-page .search-result-group,
html[lang$=nm] .comment .score,
html[lang$=nm] .entry,
html[lang$=nm] .icon-menu a,
html[lang$=nm] .linkinfo .shortlink input,
html[lang$=nm] .post-sharing,
html[lang$=nm] .side,
html[lang$=nm] .side #searchexpando,
html[lang$=nm] .sidecontentbox,
html[lang$=nm] .sidecontentbox .content,
html[lang$=nm] .submit-page .roundfield,
html[lang$=nm] .subreddit-report-form,
html[lang$=nm] .thing.link,
html[lang$=nm] .titlebox .leavecontributor-button,
html[lang$=nm] .titlebox .leavemoderator,
html[lang$=nm] .titlebox form.toggle,
html[lang$=nm] ul.res-search-tabs li.res-search-tab-active,
html[lang$=nm] .link.RES-keyNav-activeThing,
html[lang$=nm].res .RES-keyNav-activeElement,
html[lang$=nm] .comment-permalink-page .commentarea>.infobar,
html[lang$=nm] .commentarea .child>.usertext,
html[lang$=nm] .commentarea>.menuarea,
html[lang$=nm] .commentarea>.panestack-title,
html[lang$=nm] .commentarea>.usertext,
html[lang$=nm] .gold-accent.comment-visits-box {
    background: #1F1F1F !important;
    border-color: #333 !important;
}

html[lang$=nm] .side {
    background: #1a1a1a;
}



html[lang$=nm] #header:before {
    background: #1a1a1a;
}
html[lang$=nm] #header:after {
    background: #1F1F1F
}

html[lang$=nm] #header .tabmenu {
    background: #1a1a1a;
    border-color: #1F1F1F
}