

body {
    background: url(%%bg%%), radial-gradient(ellipse at center, #fbfefb 0, #fbfefc 49%, #e1ffe0 100%) fixed
}

.thing.link {
    box-shadow: 0 2px 6px rgba(140, 193, 131, 0.35);
}

.side .md a[href*=flairbot], .side .md>h2+ul li a, .sidecontentbox .helplink~.content li.more a, .sidecontentbox a.helplink {
    background-color: #2ecc71;
    border-color: #4ea04e;
    text-shadow: 0 1px 0 #479847;
}

.link.RES-keyNav-activeThing,
.res .RES-keyNav-activeElement,
.res .RES-keyNav-activeElement .md-container {
    background: #f4fff8 !important;
}

.usertext button[type=submit], button, input[type=submit] {
    background-color: #2ecc71;
    border-color: #4ea04e;
    box-shadow: inset 0 1px 0 #a9dec0;
}

.usertext button[type=submit]:hover, button:hover, input[type=submit]:hover {
    background-color: #56d08a;
}

.menuarea .dropdown.lightdrop .selected, .menuarea .dropdown.lightdrop .selected:hover,
.res .commentingAsUser {
    color: #2ab364;
}