/* DIRECT BANNER
----------------*/
.pagename a {
    width: 588px;
    background-image: url(%%header-logo-e3%%);
}

.side .md a[href="https://www.twitch.tv/nintendo"] {
    display: block;
    position: absolute;
    top: 20px;
    z-index: 500;
    left: 495px;
    height: 140px;
    width: 320px;
    font-size: 0;
    padding: 5px;
    margin: -6px;
    border: 1px solid transparent;
}
.side .md a[href="https://www.twitch.tv/nintendo"]:hover {
    border-color: #eee;
}
[lang$=nm] .side .md a[href="https://www.twitch.tv/nintendo"]:hover {
    border-color: #333;
}

.listing-page #header .tabmenu li a:after {
    background: rgba(200,200,200,.9);
}
[lang$=nm] .listing-page #header .tabmenu li a:after {
    background: rgba(200,200,200,.4);
}


.side .md>blockquote:nth-of-type(2) {
    box-shadow: 0 -1px 2px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.2);
}
[lang$=nm] .side .md>blockquote:nth-of-type(2) {
    box-shadow: 0 -1px 2px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.2);
    background: rgba(255,255,255,.65);
    color: rgba(0,0,0,.6);
    color: hsla(218, 100%, 30%, 1);
    border-color: hsla(218, 100%, 50%, 1);
}
[lang$=nm] .side .md>blockquote:nth-of-type(2) a {
    color: hsla(218, 100%, 50%, 1);
}

#header {
    background: #fafafa !important;
}

[lang$=nm] #header {
    background: #000 !important;
}