/* Remove moon theme */
.side .md>h1 a:last-child {
    display: none!important;
}

.side .md>h1 a {
    width: 85%;
}

/* Resize for Beast Ball */
.titlebox .users-online .number:before {
    background-position: 0px -237px!important;
    background-size: 200px!important;
}

/* Vertically align trainer flairs */
.flair {
    width: 50px!important;
    height: 50px!important;
    top: -42px!important;
    left: 63px!important;
}

.link .flair{
    top: -18px!important;
    left: 140px!important;
}

.titlebox .flair {
    bottom: -16px!important;
    top: auto!important;
    left: -7px!important;
}

.sidecontentbox .flair {
    left: 2px!important;
    top: auto!important;
    bottom: 0px!important;
    margin-left: -5px!important;
    transform: scale(0.7)!important;
    transform-origin: left bottom!important;
}
.sidecontentbox .flair:before {
    transform: scale(1.4)!important;
    transform-origin: left bottom!important;
    left: 60px!important;
    bottom: 4px!important;
}
.sidecontentbox .flair:after {
    transform: scale(1.4)!important;
    transform-origin: left bottom!important;
    left: 333px!important;
}

.flair.flair-tf:before {
    left: 51px!important;
    bottom: 4px!important;
}

.flair:after {
    top: auto!important;
    bottom: 2px!important;
    left: 249px!important;
}


/* Change Subscriber name */
.titlebox .number:after {
    content: " Team Skull Grunts"!important;
}

/********************************************************************************
* Skull Grunt Flairs
*********************************************************************************/
.author~.flair {
    background: url(%%skullflair%%)!important;
    background-image: url(%%skullflair%%)!important;
}

.author[href$="a"]~.flair,
.author[href$="e"]~.flair,
.author[href$="i"]~.flair,
.author[href$="m"]~.flair,
.author[href$="q"]~.flair,
.author[href$="u"]~.flair,
.author[href$="y"]~.flair,
.author[href$="3"]~.flair,
.author[href$="7"]~.flair,
.author[href$="A"]~.flair,
.author[href$="B"]~.flair,
.author[href$="C"]~.flair,
.author[href$="D"]~.flair,
.author[href$="E"]~.flair,
.author[href$="F"]~.flair,
.author[href$="G"]~.flair
{
    background-position: -0px -0px!important;
}

.author[href$="b"]~.flair,
.author[href$="f"]~.flair,
.author[href$="j"]~.flair,
.author[href$="n"]~.flair,
.author[href$="r"]~.flair,
.author[href$="v"]~.flair,
.author[href$="z"]~.flair,
.author[href$="2"]~.flair,
.author[href$="6"]~.flair,
.author[href$="H"]~.flair,
.author[href$="I"]~.flair,
.author[href$="J"]~.flair,
.author[href$="K"]~.flair,
.author[href$="L"]~.flair,
.author[href$="M"]~.flair,
.author[href$="N"]~.flair
{
    background-position: -50px -0px!important;
}

.author[href$="c"]~.flair,
.author[href$="g"]~.flair,
.author[href$="k"]~.flair,
.author[href$="o"]~.flair,
.author[href$="s"]~.flair,
.author[href$="w"]~.flair,
.author[href$="1"]~.flair,
.author[href$="5"]~.flair,
.author[href$="9"]~.flair,
.author[href$="O"]~.flair,
.author[href$="P"]~.flair,
.author[href$="Q"]~.flair,
.author[href$="R"]~.flair,
.author[href$="S"]~.flair,
.author[href$="T"]~.flair,
.author[href$="U"]~.flair
{
    background-position: -100px 0px!important;
}

.author[href$="d"]~.flair,
.author[href$="h"]~.flair,
.author[href$="l"]~.flair,
.author[href$="p"]~.flair,
.author[href$="t"]~.flair,
.author[href$="x"]~.flair,
.author[href$="0"]~.flair,
.author[href$="4"]~.flair,
.author[href$="8"]~.flair,
.author[href$="V"]~.flair,
.author[href$="W"]~.flair,
.author[href$="X"]~.flair,
.author[href$="Y"]~.flair,
.author[href$="Z"]~.flair,
.author[href$="-"]~.flair,
.author[href$="_"]~.flair
{
    background-position: -155px -0px!important;
}

/********************************************************************************
* CUSTOM SKULL FLAIRS
*********************************************************************************/
.author[href$="/BIG_BAD_GUZMA"]~.flair {
    background-position: -255px -0px!important;
}

.author[href$="/Big_Sis_Plumeria"]~.flair {
    background-position: -203px -0px!important;
}
.author[href$="/PlumsSalazzle"]~.flair {
    background-position: -901px -0px!important;
}

.author[href$="/xX_gladion_Xx"]~.flair {
    background-position: -305px -0px!important;
}

.author[href$="/TSkull_Choreographer"]~.flair {
    background-position: -750px -0px!important;
}

.author[href$="/bigbadskullgrunt001"]~.flair {
    background-position: -1055px -0px!important;
}

.author[href$="/TeamSkull4Ever"]~.flair {
    background-position: -965px -3px!important;
}

.author[href$="/Officer_Nanu"]~.flair {
    background-position: -700px -0px!important;
}

/* Reddit Mod Police Flair */
.author[href$="/bigslothonmyface"]~.flair,
.author[href$="/Dragon_Claw"]~.flair,
.author[href$="/Ferretsroq"]~.flair,
.author[href$="/technophonix1"]~.flair,
.author[href$="/Will-TVR"]~.flair,
.author[href$="/kwwxis"]~.flair,
.author[href$="/ngbeslhang"]~.flair,
.author[href$="/DavidLuizshair"]~.flair,
.author[href$="/Mlahk7"]~.flair,
.author[href$="/jaksida"]~.flair,
.author[href$="/Thief-Noctis"]~.flair,
.author[href$="/Mockturne"]~.flair,
.author[href$="/RustRider"]~.flair,
.author[href$="/tizorres"]~.flair,
.author[href$="/PlayOnSunday"]~.flair,
.author[href$="/TARS-CASE"]~.flair,
.author[href$="/Scathee"]~.flair,
.author[href$="/ad3z10"]~.flair,
.author[href$="/Hyouten"]~.flair,
.author[href$="/Koni_Fox"]~.flair,
.author[href$="/AinhartLoz"]~.flair,
.author[href$="/Haruka-sama"]~.flair,
.author[href$="/IAmzSamz"]~.flair,
.author[href$="/CrimsonMudkip"]~.flair,
.author[href$="/TexasAndroid"]~.flair,
.author[href$="/Lady_Baruren"]~.flair,
.author[href$="/A_Wild_Abra"]~.flair
{
    background: url(%%skullflair%%)!important;
    background-image: url(%%skullflair%%)!important;
    background-position: -401px 0px!important;
}

/********************************************************************************
* CUSTOM SKULL BALL FLAIRS
*********************************************************************************/

/* Give subscribers a dusk ball */
.flair:after {
    background-position: -223px -53px!important;
}

.author[href$="/BIG_BAD_GUZMA"]~.flair:after {
    background-image: url(%%pokesheet%%)!important;
    background-position: -8px -370px!important;
}

.author[href$="/Officer_Nanu"]~.flair:after {
    background-position: -79px -14px!important;
}

.author[href$="/xX_gladion_Xx"]~.flair:after {
    background-position: -114px -90px!important;
}



/* Give Mods a Great Ball */
.author[href$="/bigslothonmyface"]~.flair:after,
.author[href$="/Dragon_Claw"]~.flair:after,
.author[href$="/Ferretsroq"]~.flair:after,
.author[href$="/technophonix1"]~.flair:after,
.author[href$="/Will-TVR"]~.flair:after,
.author[href$="/kwwxis"]~.flair:after,
.author[href$="/ngbeslhang"]~.flair:after,
.author[href$="/DavidLuizshair"]~.flair:after,
.author[href$="/Mlahk7"]~.flair:after,
.author[href$="/jaksida"]~.flair:after,
.author[href$="/Thief-Noctis"]~.flair:after,
.author[href$="/Mockturne"]~.flair:after,
.author[href$="/RustRider"]~.flair:after,
.author[href$="/tizorres"]~.flair:after,
.author[href$="/PlayOnSunday"]~.flair:after,
.author[href$="/TARS-CASE"]~.flair:after,
.author[href$="/Scathee"]~.flair:after,
.author[href$="/ad3z10"]~.flair:after,
.author[href$="/Hyouten"]~.flair:after,
.author[href$="/Koni_Fox"]~.flair:after,
.author[href$="/AinhartLoz"]~.flair:after,
.author[href$="/Haruka-sama"]~.flair:after,
.author[href$="/IAmzSamz"]~.flair:after,
.author[href$="/CrimsonMudkip"]~.flair:after,
.author[href$="/TexasAndroid"]~.flair:after,
.author[href$="/Lady_Baruren"]~.flair:after,
.author[href$="/A_Wild_Abra"]~.flair:after
{
    background-position: -43px -14px!important;
}