/* Remove moon theme */
.side .md>h1 a:last-child {
    display: none!important;
}

.side .md>h1 a {
    width: 85%;
}

/* Resize for Beast Ball */
.titlebox .users-online .number:before {
    background-position: 0px -237px!important;
    background-size: 200px!important;
}

/* Vertically align trainer flairs */
.flair {
    width: 50px!important;
    height: 50px!important;
    top: -42px!important;
    left: 63px!important;
}

.link .flair{
    top: -18px!important;
    left: 140px!important;
}

.titlebox .flair {
    bottom: -16px!important;
    top: auto!important;
    left: -7px!important;
}

.sidecontentbox .flair {
    left: 2px!important;
    top: auto!important;
    bottom: 0px!important;
    margin-left: -5px!important;
    transform: scale(0.7)!important;
    transform-origin: left bottom!important;
}
.sidecontentbox .flair:before {
    transform: scale(1.4)!important;
    transform-origin: left bottom!important;
    left: 60px!important;
    bottom: 4px!important;
    content: "SKuLl!"
}
.sidecontentbox .flair:after {
    transform: scale(1.4)!important;
    transform-origin: left bottom!important;
    left: 333px!important;
}

.flair.flair-tf:before {
    left: 51px!important;
    bottom: 4px!important;
}

.flair:after {
    top: auto!important;
    bottom: 2px!important;
    left: 249px!important;
}


/* Change Subscriber name */
.titlebox .number:after {
    content: " Team Skull Grunts"!important;
}

/********************************************************************************
* Skull Grunt Flairs
*********************************************************************************/
.author~.flair {
    background: url(%%skullflair%%)!important;
    background-image: url(%%skullflair%%)!important;
}

.author[href$="a"]~.flair,
.author[href$="e"]~.flair,
.author[href$="i"]~.flair,
.author[href$="m"]~.flair,
.author[href$="q"]~.flair,
.author[href$="u"]~.flair,
.author[href$="y"]~.flair,
.author[href$="3"]~.flair,
.author[href$="7"]~.flair,
.author[href$="A"]~.flair,
.author[href$="B"]~.flair,
.author[href$="C"]~.flair,
.author[href$="D"]~.flair,
.author[href$="E"]~.flair,
.author[href$="F"]~.flair,
.author[href$="G"]~.flair
.author[href$="c"]~.flair,
.author[href$="g"]~.flair,
.author[href$="k"]~.flair,
.author[href$="o"]~.flair,
.author[href$="s"]~.flair,
.author[href$="w"]~.flair,
.author[href$="1"]~.flair,
.author[href$="5"]~.flair,
.author[href$="9"]~.flair,
.author[href$="O"]~.flair,
.author[href$="P"]~.flair,
.author[href$="Q"]~.flair,
.author[href$="R"]~.flair,
.author[href$="S"]~.flair,
.author[href$="T"]~.flair,
.author[href$="U"]~.flair
{
    background-position: -100px 0px!important;
}

.author[href$="b"]~.flair,
.author[href$="f"]~.flair,
.author[href$="j"]~.flair,
.author[href$="n"]~.flair,
.author[href$="r"]~.flair,
.author[href$="v"]~.flair,
.author[href$="z"]~.flair,
.author[href$="2"]~.flair,
.author[href$="6"]~.flair,
.author[href$="H"]~.flair,
.author[href$="I"]~.flair,
.author[href$="J"]~.flair,
.author[href$="K"]~.flair,
.author[href$="L"]~.flair,
.author[href$="M"]~.flair,
.author[href$="N"]~.flair
.author[href$="d"]~.flair,
.author[href$="h"]~.flair,
.author[href$="l"]~.flair,
.author[href$="p"]~.flair,
.author[href$="t"]~.flair,
.author[href$="x"]~.flair,
.author[href$="0"]~.flair,
.author[href$="4"]~.flair,
.author[href$="8"]~.flair,
.author[href$="V"]~.flair,
.author[href$="W"]~.flair,
.author[href$="X"]~.flair,
.author[href$="Y"]~.flair,
.author[href$="Z"]~.flair,
.author[href$="-"]~.flair,
.author[href$="_"]~.flair
{
    background-position: -155px -0px!important;
}

/********************************************************************************
* CUSTOM SKULL FLAIRS
*********************************************************************************/
.author[href$="/BIG_BAD_GUZMA"]~.flair {
    background-position: -255px -0px!important;
}

.author[href$="/Big_Sis_Plumeria"]~.flair {
    background-position: -203px -0px!important;
}
.author[href$="/PlumsSalazzle"]~.flair {
    background-position: -901px -0px!important;
}

.author[href$="/xX_gladion_Xx"]~.flair {
    background-position: -305px -0px!important;
}

.author[href$="/TSkull_Choreographer"]~.flair {
    background-position: -750px -0px!important;
}

.author[href$="/bigbadskullgrunt001"]~.flair {
    background-position: -1055px -0px!important;
}

.author[href$="/TeamSkull4Ever"]~.flair {
    background-position: -965px -3px!important;
}

.author[href$="/Officer_Nanu"]~.flair {
    background-position: -700px -0px!important;
}

.author[href$="/Team_Skulls_New_Abra"]~.flair {
    background-position: -1150px -0px!important;
}

.author[href$="/Aether_Lusamine"]~.flair {
    background-position: -600px -0px!important;
}

.author[href$="/TeamSkullGrammerBot"]~.flair {
    width: 70px!important;
    background-position: -1230px -0px!important;
}

.author[href$="/HomelessSkullGrunt"]~.flair {
    background-position: -0px -65px!important;
}

/* Reddit Mod Police Flair */
.author[href$="/bigslothonmyface"]~.flair,
.author[href$="/Dragon_Claw"]~.flair,
.author[href$="/Ferretsroq"]~.flair,
.author[href$="/technophonix1"]~.flair,
.author[href$="/Will-TVR"]~.flair,
.author[href$="/kwwxis"]~.flair,
.author[href$="/ngbeslhang"]~.flair,
.author[href$="/DavidLuizshair"]~.flair,
.author[href$="/Mlahk7"]~.flair,
.author[href$="/jaksida"]~.flair,
.author[href$="/Thief-Noctis"]~.flair,
.author[href$="/Mockturne"]~.flair,
.author[href$="/RustRider"]~.flair,
.author[href$="/tizorres"]~.flair,
.author[href$="/PlayOnSunday"]~.flair,
.author[href$="/TARS-CASE"]~.flair,
.author[href$="/Scathee"]~.flair,
.author[href$="/ad3z10"]~.flair,
.author[href$="/Hyouten"]~.flair,
.author[href$="/Koni_Fox"]~.flair,
.author[href$="/AinhartLoz"]~.flair,
.author[href$="/Haruka-sama"]~.flair,
.author[href$="/IAmzSamz"]~.flair,
.author[href$="/CrimsonMudkip"]~.flair,
.author[href$="/TexasAndroid"]~.flair,
.author[href$="/Lady_Baruren"]~.flair,
.author[href$="/A_Wild_Abra"]~.flair
{
    background: url(%%skullflair%%)!important;
    background-image: url(%%skullflair%%)!important;
    background-position: -401px 0px!important;
}

/********************************************************************************
* CUSTOM SKULL BALL FLAIRS
*********************************************************************************/

/* Give subscribers a Nest ball */
.flair:after {
    background-position: -240px 0!important;
}

.author[href$="/BIG_BAD_GUZMA"]~.flair:after {
    background-position: -90px -30px!important;
}

.author[href$="/Officer_Nanu"]~.flair:after,
.author[href$="/Big_Sis_Plumeria"]~.flair:after,
.author[href$="/Aether_Lusamine"]~.flair:after
{
    background-position: -60px 0!important;
}

.author[href$="/xX_gladion_Xx"]~.flair:after {
    background-position: -570px 0!important;
}


.author[href$="Team_Skulls_New_Abra"]~.flair:after {
    background-position: -60px -60px!important;
}

.author[href$="/TeamSkullGrammerBot"]~.flair:after {
    background-position:-330px 0!important;
}

/* Give Mods a Great Ball */
.author[href$="/bigslothonmyface"]~.flair:after,
.author[href$="/Dragon_Claw"]~.flair:after,
.author[href$="/Ferretsroq"]~.flair:after,
.author[href$="/technophonix1"]~.flair:after,
.author[href$="/Will-TVR"]~.flair:after,
.author[href$="/kwwxis"]~.flair:after,
.author[href$="/ngbeslhang"]~.flair:after,
.author[href$="/DavidLuizshair"]~.flair:after,
.author[href$="/Mlahk7"]~.flair:after,
.author[href$="/jaksida"]~.flair:after,
.author[href$="/Thief-Noctis"]~.flair:after,
.author[href$="/Mockturne"]~.flair:after,
.author[href$="/RustRider"]~.flair:after,
.author[href$="/tizorres"]~.flair:after,
.author[href$="/PlayOnSunday"]~.flair:after,
.author[href$="/TARS-CASE"]~.flair:after,
.author[href$="/Scathee"]~.flair:after,
.author[href$="/ad3z10"]~.flair:after,
.author[href$="/Hyouten"]~.flair:after,
.author[href$="/Koni_Fox"]~.flair:after,
.author[href$="/AinhartLoz"]~.flair:after,
.author[href$="/Haruka-sama"]~.flair:after,
.author[href$="/IAmzSamz"]~.flair:after,
.author[href$="/CrimsonMudkip"]~.flair:after,
.author[href$="/TexasAndroid"]~.flair:after,
.author[href$="/Lady_Baruren"]~.flair:after,
.author[href$="/A_Wild_Abra"]~.flair:after
{

    background-position: -30px 0important;
}

/********************************************************************************
* PO TOWN RAIN
*********************************************************************************/

a[name="content"] {
	background: none;
    background-color: rgba(255,255,255,0);
	background-image: url(%%rain-3%%), url(%%rain-2%%), url(%%rain-1%%);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index:100;
	animation: rain 10s linear infinite, lightning 12s linear infinite;
    font-size: 0px;
    opacity: 0.6;
    pointer-events: none
}

html[lang$=nr] a[name="content"] {
    display: none!important;
}

@keyframes lightning {
    0% {background-color: rgba(255,255,255,0); opacity: 0.6;}

    32% {background-color: rgba(255,255,255,0); opacity: 0.6;}
    33% {background-color: rgba(255,255,255,1); opacity: 1;}
    34% {background-color: rgba(255,255,255,0); opacity: 0.6;}

    100% {background-color: rgba(255,255,255,0); opacity: 0.6;}
}

@keyframes rain {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 400px 3500px, 450px 3000px, 350px 3300px;}
    100% {background-position: 1000px 7500px, 800px 6400px, 600px 6600px;}
}

/********************************************************************************
* SCALABLE HEADER
*********************************************************************************/

#header {
    height: 9.375vw;
}

.pagename a {
    width: 11.45vw;
    height: 4.16vw;

    top: 2.6vw;
    left: 22vw;
}


/********************************************************************************
* REPLACE MODERATORS
*********************************************************************************/

.sidecontentbox .helplink~.content li>a{
    font-size: 0px!important;
    pointer-events: none!important;
}

.sidecontentbox .helplink~.content li>a:after {
    content: "Skull Grunt";
}

.sidecontentbox .author, .sidecontentbox .author, .sidecontentbox .author:before, .sidecontentbox .author:after {
    margin-left: 19px;
}

.sidecontentbox .author[href$="/bigslothonmyface"]~.flair,
.sidecontentbox .author[href$="/Dragon_Claw"]~.flair,
.sidecontentbox .author[href$="/Ferretsroq"]~.flair,
.sidecontentbox .author[href$="/technophonix1"]~.flair,
.sidecontentbox .author[href$="/Will-TVR"]~.flair,
.sidecontentbox .author[href$="/kwwxis"]~.flair,
.sidecontentbox .author[href$="/ngbeslhang"]~.flair,
.sidecontentbox .author[href$="/DavidLuizshair"]~.flair,
.sidecontentbox .author[href$="/Mlahk7"]~.flair,
.sidecontentbox .author[href$="/jaksida"]~.flair {
    background-position: -100px 0px!important;
}

.sidecontentbox .author[href$="/bigslothonmyface"]~.flair:after,
.sidecontentbox .author[href$="/Dragon_Claw"]~.flair:after,
.sidecontentbox .author[href$="/Ferretsroq"]~.flair:after,
.sidecontentbox .author[href$="/technophonix1"]~.flair:after,
.sidecontentbox .author[href$="/Will-TVR"]~.flair:after,
.sidecontentbox .author[href$="/kwwxis"]~.flair:after,
.sidecontentbox .author[href$="/ngbeslhang"]~.flair:after,
.sidecontentbox .author[href$="/DavidLuizshair"]~.flair:after,
.sidecontentbox .author[href$="/Mlahk7"]~.flair:after,
.sidecontentbox .author[href$="/jaksida"]~.flair:after {
        background-position: -13px -337px!important;
        background-image: url(%%pokesheet%%)!important;
        transform: scale(1.5)!important;
        margin: 0px!important;
        height: 32px!important;
}

body > div.side > div:nth-child(6) > div > div > h1,
body > div.side > div:nth-child(7) > div > div > h1 {
    font-size: 0px;
}

body > div.side > div:nth-child(6) > div > div > h1:after,
body > div.side > div:nth-child(7) > div > div > h1:after {
    font-size: 12px;
    content: "Grunts of the week!";
}


/* hide moderator about section */
body > div.side > div:nth-child(7) > div > ul > li.more {
    display: none;
}

body > div.side > div:nth-child(6) > div > ul > li > span.RESUserTag,
body > div.side > div:nth-child(7) > div > ul > li > span.RESUserTag {
    display: none!important;
}

.footer-parent:before {
    background-position-y: center!important;
}

/********************************************************************************
* SKULL LOGO
*********************************************************************************/
body > div.side > div:nth-child(4) > div > form.toggle.flairtoggle {
    display: none;
}

a[href="https://rpokemon.github.io/#flair"] {
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    display: block!important;

    width: 100%!important;
    height: 100vh!important;
    font-size: 0px!important;

    border: 0!important;
    margin: 0!important;
    padding: 0!important;

    background-color: transparent!important;
    background-image: url(%%skull-logo%%)!important;
    background-size: contain!important;
    background-position: 50% 0!important;
    background-attachment: fixed!important;
    background-repeat: no-repeat!important;

    pointer-events: none
}

/********************************************************************************
* HIKER MEME
*********************************************************************************/

input[name=uh] ~ a:after {
    content: "";
    position: absolute!important;
    top: -9.3vw!important;
    right: 0!important;
    z-index: -10!important;
    background-position: 0 0!important;
    width: 100vw!important;
    height: 9.375vw!important;
}


input[name="uh"][value*="ka"] ~ a:after {
    background: url(%%hiker-banner%%) left center/cover no-repeat!important;
}

