
body>.content {
    padding-top: 90px
}

/********************************************************************************
* ANNOUNCEMENT MODULES
*********************************************************************************/
.side .md>blockquote:first-of-type {
    position: absolute;
    top: 166px;
    left: 0;
    display: -webkit-flex;
    display: flex;
    padding: 0 20px;
    height: 46px;
    margin-top: 27px;
}

.side .md>blockquote:first-of-type>p {
    margin: 0;
}
.side .md>blockquote:first-of-type>p>a {
    font-size: 0;
    border-right: 1px solid rgba(0,0,0,.06);
    margin: 8px 25px 0 0;
    width: 210px;
    height: 32px;
    display: block;
}
.side .md>blockquote:first-of-type>p>a strong {
    display: inline-block;
    font-weight: 400;
    font-size: 11px;
    width: 40px;
    white-space: nowrap;
    height: 32px;
    text-indent: 38px;
    image-rendering: pixelated;
    padding-top: 1px;
    color: #333;
}
.side .md>blockquote:first-of-type>p>a em {
    display: inline-block;
    color: #dd4b39;
    font-style: normal;
    font-weight: 700;
    position: relative;
    top: 15px;
    font-size: 12px;
}

/* top announcement flair positioning
--------------------------------------------------------------------------------*/
.side .md>blockquote:first-of-type>p:nth-of-type(1)>a strong {
    background: url(%%sinnohflair%%) -360px -32px; /* TODO: Change this sprite weekly (Rebuild Tues/PotW) */
}
.side .md>blockquote:first-of-type>p:nth-of-type(2)>a strong {
    background: url(%%kantoflair%%) -800px -32px;
}
.side .md>blockquote:first-of-type>p:nth-of-type(3)>a strong {
    background: url(%%ballflair%%) -1257px 1px;
    image-rendering: auto;
}

/********************************************************************************
* ANNOUNCEMENT BAR
*********************************************************************************/
.side .md>blockquote:nth-of-type(2) {
    position: absolute;
    top: 29px;
    right: 5px;
    z-index: 500;
    width: 288px;
    background: rgba(255,255,255,.9);
    border-radius: 3px;
    height: 120px;
    border-left: 3px solid #48f;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    font-size: 13px;
}
.side .md>blockquote:nth-of-type(2) p {
    border-bottom: 1px solid rgba(0,0,0,.07);
    margin: 0 5px ;
    padding: 0 5px;
    position: relative;
    line-height: 25px;
}
/* title */
.side .md>blockquote:nth-of-type(2) p:first-child {
    font-weight: 700;
    font-size: 12px;
    padding: 1px 0;
    border: 0;
}

/* inner content shadow */
.side .md>blockquote:nth-of-type(2):before {
    content: '';
    display: block;
    position: absolute;
    top: 25px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: rgba(255, 255, 255, .35);
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15), inset 0 -1px 2px rgba(0, 0, 0, .1)
}

/* announcement bar nightmode */
[lang$=nm] .side .md>blockquote:nth-of-type(2) {
    background: rgba(0,0,0,0.6);
}

[lang$=nm] .side .md>blockquote:nth-of-type(2) p,
[lang$=nm] .side .md>blockquote:first-of-type>p>a strong {
    color: #fff;
    text-shadow: 0 0px 4px #000, 0 1px 5px #000;
}
[lang$=nm] .side .md>blockquote:nth-of-type(2):before {
    background: rgba(0,0,0,.35);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .6), inset 0 0 3px rgba(0, 0, 0, .35)
}