
/********************************************************************************
* ANNOUNCEMENT MODULES
*********************************************************************************/

body > .content {
    padding-top: 50px;
}

.side .md > blockquote:first-of-type {
    position: absolute;
    top: -77px;
    right: 100%;
    width: calc(100vw - 347px);
    border: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.side .md > blockquote:first-of-type > p {
    display: block;
    width: 210px;
    height: 32px;
    box-sizing: border-box;
    margin: 0;
    margin-right: 30px;
    padding: 1px;
    border-right: 1px solid rgba(0,0,0,0.06);
}

.side .md > blockquote:first-of-type > p > a {
    display: block;
    padding-left: 38px;
    position: relative;
    top: -2px;
}
.side .md > blockquote:first-of-type > p > a strong {
    display: block;
    font-weight: normal;
    font-size: 11px;
}
.side .md > blockquote:first-of-type > p > a em {
    display: block;
    color: #dd4b39;
    font-style: normal;
    font-weight: bold;
}

.side .md > blockquote:first-of-type > p > a:before {
    content:"";
    background: url(%%Flair%%);
    display: block;
    position: absolute;
    width: 40px;
    height: 32px;
    margin-bottom: 10px;
    left: -5px;
}

/* top announcement flair positioning
--------------------------------------------------------------------------------*/
.side .md > blockquote:first-of-type > p:nth-of-type(1) > a:before{
    background-position: -240px -448px; /* TODO: Change this sprite weekly (PoTW) */
}
.side .md > blockquote:first-of-type > p:nth-of-type(2) > a:before{
    background-position: -800px -32px; 
}
.side .md > blockquote:first-of-type > p:nth-of-type(3) > a:before{
    background: url(%%pokesheet%%) -6px -304px; 
}


/********************************************************************************
* ANNOUNCEMENT BAR
*********************************************************************************/

body > .content {
    padding-top: 90px;
}

.side .md > blockquote:nth-of-type(4) {
    position: absolute;
    top: 0;
    z-index: 500;
    right: 0;
    margin-top: -245px;
    margin-right: 5px;
    width: 300px;
    background: rgba(255,255,255,0.9);
    border-radius: 3px;
    min-height: 120px;
    border-left: 3px solid #48f;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding-top: 23px;
    box-sizing: border-box;
    font-family: Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13px;
}

.side .md > blockquote:nth-of-type(4) p {
    padding: 5px;
    background: transparent;
    margin: 0;
    position: relative;
    z-index: 5;
}

/* title */
.side .md > blockquote:nth-of-type(4):before {
    content: 'IMPORTANT';
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: bold;
    font-size: 12px;
}

/* inner content shadow */
.side .md > blockquote:nth-of-type(4):after {
    content: '';
    display: block;
    position: absolute;
    top: 25px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: rgba(255,255,255,0.35);
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.15), inset 0 -1px 2px rgba(0,0,0,0.1);
}