/********************************************************************************
* BANNER
*********************************************************************************/
/*
#header {
    background: url(%%daymodeheader%%) center 0/cover no-repeat;
}
[lang$=nm] #header, .res-nightmode #header {
    background: url(%%nightmodeheader%%) center center/cover no-repeat;
}*/
.pagename a {
    top: 19px;
    width: 294px;
    height: 147px;
    display: block;
    left: 215px;
    background: url(%%header-logo%%) no-repeat center center / contain;
}
.pagename a:hover {
    background-position-y: 100%;
}
.pagename:after {
    content: "";
    width: 300px;
    height: 150px;
    background: url(%%banner-pokemon%%) no-repeat center center / contain;
    position: absolute;
    left: calc(100% - 530px);
    top: 16px;
}

/*detective pikachu banner*/
#header {
    background: url(%%header%%) center 0/cover no-repeat;
}