/********************************************************************************
* BANNER
*********************************************************************************/
#header, html[lang$=nm] #header {
    background: url(%%instinct-banner%%) -128px 19px/ auto calc(100% - 19px)!important;
}

.side .md hr:first-of-type {
    display: none;
}

.pagename:before {
    content: "";
    display: block;
    width: 220px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 240px;
    box-shadow: 0 0 25px 15px rgba(0,0,0,0.1);
    background: rgba(0,0,0,0.1);
}

.pagename a {
    background: url(%%pokemon-logo--white-outline-small%%) center / contain!important;
}

html[lang$=nm] body:before {
    background: transparent url(%%yellow-bg%%) no-repeat center / 40%;
    opacity: 0.2;
}

html[lang$=nm], html[lang$=nm] body {
    background: #36393e;
    color: #bdc3c7;
}