/********************************************************************************
* BANNER
*********************************************************************************/

#header {
    background: url(%%header%%) center/cover no-repeat;
}

[lang$=nm] #header, .res-nightmode #header {
    background: url(%%header-night%%) center center/cover no-repeat;
}

.pagename a {
    top: 19px;
    width: 294px;
    height: 147px;
    display: block;
    left: 215px;
    background: url(%%header-logo%%) no-repeat center center / contain;
}
.pagename a:hover {
    background-position-y: 100%;
}
.pagename:after {
    content: "";
    width: 300px;
    height: 150px;
    background: url(%%banner-pokemon%%) no-repeat center center / contain;
    position: absolute;
    left: calc(50% - 150px);
    top: 16px;
}