
/********************************************************************************
* COMMENTS PAGE
*********************************************************************************/

/* commentarea menus
--------------------------------------------------------------------------------*/
.commentarea>.sitetable {
    margin-top: 30px
}
.commentarea .child>.usertext,
.commentarea>.menuarea,
.commentarea>.panestack-title,
.commentarea>.usertext,
.gold-accent.comment-visits-box {
    display: block;
    padding: 2px 10px;
    margin: 0;
    border: 0;
    background: #fff;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3
}

.comment-permalink-page .commentarea>.menuarea,
.commentarea>.panestack-title {
    border-top: 1px solid #e3e3e3
}
.comment-permalink-page .commentarea>.infobar,
.commentarea .child>.usertext,
.gold-accent.comment-visits-box {
    border-bottom: 1px solid #e3e3e3
}
.commentarea>.menuarea {
    background: #fafafa;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .1)
}

/* panestack title */
.panestack-title .title {
    display: inline-block;
    margin: 0 10px 0 0;
    padding-top: 10px;
    padding-bottom: 10px
}

/* menu area */
.commentarea>.menuarea {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px
}

.commentarea>.menuarea .spacer {
    margin: 0
}

/* drop choices */
.menuarea .dropdown.lightdrop .selected {
    background-image: none;
    text-decoration: none;
    opacity: 10;
    cursor: pointer;
    color: #2a66d6;
    display: inline-flex;
    align-items: center
}
.menuarea .dropdown.lightdrop .selected:hover {
    color: #48f
}
.menuarea .dropdown.lightdrop .selected:after {
    content: " =";
    opacity: .5;
    margin-left: 2px
}
.drop-choices a.choice {
    padding: 3px 5px
}


.res #REScommentNavToggle {
    flex-basis: 100%;
    margin-top: 3px
}
.commentarea .menuarea form.toggle {
    margin-left: 0;
    margin-right: 8px
}
.contest-mode.infobar.mellow {
    display: block;
    margin: 10px 0;
    background-color: #48f;
    border: 1px solid #2a66d6;
    color: rgba(255, 255, 255, .85);
    border-radius: 3px
}

/* visits box
--------------------------------------------------------------------------------*/
.gold-accent.comment-visits-box {
    border-radius: 0;
    width: 100%;
    max-width: none!important;
    padding: 10px;
    box-sizing: border-box
}
.gold-accent.comment-visits-box .title {
    font-weight: 500
}
select#comment-visits {
    border: 0;
    padding: 3px 4px;
    margin-left: 5px;
    background: rgba(0, 0, 0, .05);
    color: #555
}


/* usertext edit
--------------------------------------------------------------------------------*/
.commentarea>.usertext {
    padding-top: 10px;
    border-bottom: 1px solid #e3e3e3
}
.res .markdownEditor .edit-btn:not(.btn-macro) {
    border: 0;
    border-radius: 0
}
.res .commentingAs {
    font-size: 12px
}
.res .commentingAsUser {
    color: #2a66d6
}
.commentarea .child>.usertext {
    margin: 5px 0 15px 30px;
    border-radius: 3px;
    padding-top: 10px
}
.comments-page .usertext textarea {
    padding: 4px
}

.commentarea>.usertext textarea,
.comments-page .usertext textarea {
    background: #fff;
    color: #333!important;
    border: 1px solid #c8ccd0!important
}

/* usertext edit - buttons
--------------------------------------------------------------------------------*/
.usertext button.cancel,
.usertext button[type=submit] {
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    color: #fff!important;
    line-height: 29px;
    padding: 0 10px;
    min-width: 77px;
    margin: 0 5px 1px 0;
    outline: 0;
    font-size: 13px;
    position: relative
}
.usertext button.cancel:active,
.usertext button[type=submit]:active {
    top: 1px
}
.usertext button[type=submit] {
    background-color: #48f;
    border-color: #2a66d6;
    box-shadow: inset 0 1px 0 #669bff
}

.usertext button.cancel {
    background-color: rgba(0,0,0,0.3);
    border-color: rgba(0,0,0,0.15);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
}

html[lang$=nm] .usertext button.cancel {
    background-color: rgba(255, 255, 255, .14);
    border-color: rgba(255, 255, 255, .07);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15)
}

/* usertext edit - bottom area
--------------------------------------------------------------------------------*/
.usertext .bottom-area {
    margin-bottom: 10px
}
.usertext .RESBigEditorPop,
.usertext .help-toggle,
.usertext a.reddiquette {
    display: inline-block;
    margin: 5px 0 0 10px;
    line-height: 14px;
    cursor: pointer
}
.usertext .RESBigEditorPop {
    height: auto;
    padding: 0;
    border: 0;
    background: 0;
    box-shadow: none;
    margin-top: 6px;
    font-size: 11px
}
body.mod-toolbox .tb-action-button.tb-top-macro-select {
    margin-top: 5px;
    background: rgba(0, 0, 0, .05);
    color: #555
}
