/* DIRECT BANNER
----------------*/
#header {
    background: white url(%%direct-banner%%) -360px 30px / auto 126.5px no-repeat;
}

html[lang$=nm] #header {
    background: #000 url(%%direct-banner-nm%%) -360px 30px / auto 126.5px no-repeat;
}

.pagename a {
    top: 30px;
    height: 125px;
    background: 0 !important;
}

.side .md a[href="https://www.twitch.tv/nintendo"] {
    display: block;
    position: absolute;
    top: 109px;
    z-index: 500;
    left: 487px;
    height: 30px;
    width: 169px;
    font-size: 0;
    padding: 5px;
    margin: -6px;
    border: 1px solid transparent;
}
.side .md a[href="https://www.twitch.tv/nintendo"]:hover {
    border-color: #eee;
}
html[lang$=nm] .side .md a[href="https://www.twitch.tv/nintendo"]:hover {
    border-color: #333;
}

.listing-page #header .tabmenu li a:after {
    background: rgba(200,200,200,.9);
}
html[lang$=nm] .listing-page #header .tabmenu li a:after {
    background: rgba(200,200,200,.4);
}


.side .md>blockquote:nth-of-type(2) {
    box-shadow: 0 -1px 2px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.2);
}
html[lang$=nm] .side .md>blockquote:nth-of-type(2) {
    box-shadow: 0 -1px 2px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.2);
    background: rgba(255,255,255,.65);
    color: rgba(0,0,0,.6);
    color: hsla(218, 100%, 30%, 1);
    border-color: hsla(218, 100%, 50%, 1);
}
html[lang$=nm] .side .md>blockquote:nth-of-type(2) a {
    color: hsla(218, 100%, 50%, 1);
}