/********************************************************************************
* BODY
*********************************************************************************/
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow-x: hidden !important;
    background-color: transparent !important;
    background: url(%%bglight%%);
}

/* body bg */
/*
background-attachment: fixed causes the background to be repainted on every scroll
here's a GPU friendly version:
*/
body:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
}

body > .debuginfo:before {
    content: 'CSS by /u/technophonix1, /u/kwwxis, /u/AtooZ, /u/Haruka-Sama; design mockup by /u/Hero_of_Legend';
    float: left;
    color: rgba(0,0,0,0.35);
    padding: 4px 5px;
    background: rgba(255,255,255,0.5);
}

body>.content {
    margin-right: 330px;
    margin-left: 25px
}
.sheets {
    margin-right: 0
}

.icon-menu a { background: transparent }

/********************************************************************************
* WIKI
*********************************************************************************/
.wiki-page .wiki-page-content {
    margin-right: 0
}
