/********************************************************************************
* BODY
*********************************************************************************/
#header-img,
#sr-more-link,
.pagename a {
    position: absolute
}
body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden !important;
    background-color: transparent !important;
    background: url(%%bglight%%);
}

/* body bg */
/*
background-attachment: fixed causes the background to be repainted on every scroll
here's a GPU friendly version:
*/
body:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
}

body > .debuginfo:before {
    content: 'CSS by /u/technophonix1, /u/kwwxis, /u/AtooZ, /u/Haruka-Sama; design mockup by /u/Hero_of_Legend';
    float: left;
    color: rgba(0,0,0,0.35);
    padding-left: 5px;
}

body>.content {
    margin-right: 330px;
    margin-left: 25px
}
.sheets {
    margin-right: 0
}

/********************************************************************************
* DEFAULT BUTTONS
*********************************************************************************/
button, input[type=submit],
.usertext button.cancel,
.usertext button[type=submit] {
    display: inline-block;
    margin: 3px;
    padding: 0 8px 1px;
    background-color: #48f;
    border: 1px solid #2a66d6;
    border-radius: 2px;
    color: #fff !important;
    font-weight: 700;
    font-size: small;
    text-transform: capitalize;
    line-height: 26px;
    outline: 0!important;
    box-shadow: inset 0 1px 0 #669bff
}

button:hover, input[type=submit]:hover {
    background-color: #5d99ff
}

button:active, input[type=submit]:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .2)
}


/* usertext edit - buttons
--------------------------------------------------------------------------------*/
.usertext button.cancel,
.usertext button[type=submit] {
    padding: 0 10px;
    border-radius: 3px;
    line-height: 29px;
    min-width: 77px;
    margin: 0 5px 1px 0;
    font-size: 13px;
    position: relative;
}
.usertext button.cancel:active,
.usertext button[type=submit]:active {
    top: 1px
}
.usertext button.cancel {
    background-color: rgba(0,0,0,0.3);
    border-color: rgba(0,0,0,0.15);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25);
}

html[lang$=nm] .usertext button.cancel {
    background-color: rgba(255, 255, 255, .14);
    border-color: rgba(255, 255, 255, .07);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15)
}

/********************************************************************************
* WIKI
*********************************************************************************/
.wiki-page .wiki-page-content {
    margin-right: 0
}
