/* special user bubles
--------------------------------------------------------------------------------*/

/* AMA host user bubbles

TEMPLATE:
.thing .author[href$="/username"],
.res .thing .tagline .author.submitter[href$="/username"],
.side .tagline .author[href$="/username"],
.author[href$="/username"]~.flair:before {
    background-position: 0 -144px !important;
    color: #fff !important;
}

--------------------------------------------------------------------------------*/

/* WEEKY ANIME THREAD
--------------------------------------------------------------------------------*/

/* UNCOMMENT THIS IF WE EVER USE IT

.thing[data-url*="weekly_anime_thread"] .author,
#gtm-jail[name*="weekly_anime_thread"]~.content .commentarea .sitetable .thing .author.submitter {
    background-position: 0 -324px !important;
    color: #fff !important; 
}

.thing[data-url*="weekly_anime_thread"] .author~.flair,
#gtm-jail[name*="weekly_anime_thread"]~.content .commentarea .sitetable .thing .author.submitter~.flair {
    color: #fff !important;
}

*/

/* ABRA YELLOW */
.thing .author[href$="/A_Wild_Abra"],
.res .thing .tagline .author.submitter[href$="/A_Wild_Abra"],
.side .tagline .author[href$="/A_Wild_Abra"] {
    background-position: 0 -180px!important;
    color: #fff!important
}

.side .tagline .author[href$="/A_Wild_Abra"]~.flair:before,
.author[href$="/A_Wild_Abra"]~.flair:before {
    color: #333 !important;
}

/* Tech Green */
.thing .tagline .author.moderator[href$="/technophonix1"],
.thing .author[href$="/technophonix1"],
.side .tagline .author[href$="/technophonix1"],
.author[href$="/technophonix1"]~.flair:before {
    background-position: 0 -216px !important;
    color: #333 !important;
}

/* Haruka Purple - Distinguish Only */
.thing .tagline .author.moderator[href$="/Haruka-sama"],
.author.moderator[href$="/Haruka-sama"]~.flair:before,
.side .tagline .author[href$="/Haruka-sama"],
.side .tagline .author[href$="/Haruka-sama"]~.flair:before {
    background-position: 0 -252px !important;
    color: #fff !important;
}

/* Samz Purple/Turqoise - Distinguish Only */
.thing .tagline .author.moderator[href$="/IAmzSamz"],
.author.moderator[href$="/IAmzSamz"]~.flair:before,
.side .tagline .author[href$="/IAmzSamz"],
.side .tagline .author[href$="/IAmzSamz"]~.flair:before  {
    background-position: 0 -288px !important;
    color: #fff !important;
}

/* Baru Orange - Distinguish Only */
.thing .tagline .author.moderator[href$="/Lady_Baruren"],
.author.moderator[href$="/Lady_Baruren"]~.flair:before,
.side .tagline .author[href$="/Lady_Baruren"],
.side .tagline .author[href$="/Lady_Baruren"]~.flair:before  {
    background-position: 0 -324px !important;
    color: #fff !important;
}

/* DLH Black/Yellow - Distinguish Only */
.thing .tagline .author.moderator[href$="/DavidLuizshair"],
.side .tagline .author[href$="/DavidLuizshair"] {
    background-position: 0 -360px !important;
    color: #fff !important;
}
.side .tagline .author[href$="/DavidLuizshair"]~.flair:before,
.author.moderator[href$="/DavidLuizshair"]~.flair:before {
    color: #333 !important;
}

/* Mudkip Blue/Orange - Distinguish Only */
.thing .tagline .author.moderator[href$="/CrimsonMudkip"],
.author.moderator[href$="/CrimsonMudkip"]~.flair:before,
.side .tagline .author[href$="/CrimsonMudkip"],
.side .tagline .author[href$="/CrimsonMudkip"]~.flair:before  {
    background-position: 0 -396px !important;
    color: #fff !important;
}

/* TexasAndroid Black/White - Distinguish Only */
.thing .tagline .author.moderator[href$="/TexasAndroid"],
.side .tagline .author[href$="/TexasAndroid"] {
    background-position: 0 -432px !important;
    color: #fff !important;
}
.side .tagline .author[href$="/TexasAndroid"]~.flair:before,
.author.moderator[href$="/TexasAndroid"]~.flair:before {
    color: #333 !important;
}

/* Mockturne Vermillion - Distinguish Only */
.thing .tagline .author.moderator[href$="/Mockturne"],
.author.moderator[href$="/Mockturne"]~.flair:before,
.side .tagline .author[href$="/Mockturne"],
.side .tagline .author[href$="/Mockturne"]~.flair:before  {
    background-position: 0 -468px !important;
    color: #fff !important;
}

/* Draycen - Distinguish Only */
.thing .tagline .author.moderator[href$="/Draycen"],
.author.moderator[href$="/Draycen"]~.flair:before,
.side .tagline .author[href$="/Draycen"],
.side .tagline .author[href$="/Draycen"]~.flair:before  {
    background-position: 0 -504px !important;
    color: #fff !important;
}

/* SnowPhoenix9999 - Distinguish Only */
.thing .tagline .author.moderator[href$="/SnowPhoenix9999"],
.side .tagline .author[href$="/SnowPhoenix9999"],
/* im lazy sue me - haruka 
 -- UrsineKing - Distinguish Only
*/
.thing .tagline .author.moderator[href$="/UrsineKing"],
.side .tagline .author[href$="/UrsineKing"]
{
    background-position: 0 -540px !important;
    color: #fff !important;
}
.side .tagline .author[href$="/SnowPhoenix9999"]~.flair:before,
.author.moderator[href$="/SnowPhoenix9999"]~.flair:before,
/* im lazy sue me - haruka 
 -- UrsineKing - Distinguish Only
*/
.side .tagline .author[href$="/UrsineKing"]~.flair:before,
.author.moderator[href$="/UrsineKing"]~.flair:before
{
    color: #333 !important;
}

/* AnAbsurdlyAngryGoose - Distinguish Only */
.thing .tagline .author.moderator[href$="/AnAbsurdlyAngryGoose"],
.author.moderator[href$="/AnAbsurdlyAngryGoose"]~.flair:before,
.side .tagline .author[href$="/AnAbsurdlyAngryGoose"],
.side .tagline .author[href$="/AnAbsurdlyAngryGoose"]~.flair:before  {
    background-position: 0 -576px !important;
    color: #fff !important;
}

/* ShinySigma - Distinguish Only */
.thing .tagline .author.moderator[href$="/ShinySigma"],
.author.moderator[href$="/ShinySigma"]~.flair:before,
.side .tagline .author[href$="/ShinySigma"],
.side .tagline .author[href$="/ShinySigma"]~.flair:before  {
    background-position: 0 -612px !important;
    color: #fff !important;
}

/* Pikaachew - Distinguish Only */
.thing .tagline .author.moderator[href$="/Pikaachew"],
.side .tagline .author[href$="/Pikaachew"] {
    background-position: 0 -648px !important;
    color: #fff !important;
}
.side .tagline .author[href$="/Pikaachew"]~.flair:before,
.author.moderator[href$="/Pikaachew"]~.flair:before {
    color: #333 !important;
}

/* TheDominantSoul - Distinguish Only */
.thing .tagline .author.moderator[href$="/TheDominantSoul"],
.side .tagline .author[href$="/TheDominantSoul"] {
    background-position: 0 -684px !important;
    color: #fff !important;
}
.side .tagline .author[href$="/TheDominantSoul"]~.flair:before,
.author.moderator[href$="/TheDominantSoul"]~.flair:before {
    color: #333 !important;
}

/* AndyJekal - Distinguish Only */
.thing .tagline .author.moderator[href$="/AndyJekal"],
.author.moderator[href$="/AndyJekal"]~.flair:before,
.side .tagline .author[href$="/AndyJekal"],
.side .tagline .author[href$="/AndyJekal"]~.flair:before  {
    background-position: 0 -720px !important;
    color: #fff !important;
}

/* StormSwampert - Distinguish Only */
.thing .tagline .author.moderator[href$="/StormSwampert"],
.author.moderator[href$="/StormSwampert"]~.flair:before,
.side .tagline .author[href$="/StormSwampert"],
.side .tagline .author[href$="/StormSwampert"]~.flair:before  {
    background-position: 0 -756px !important;
    color: #fff !important;
}

/* GeekScientist - Distinguish Only */
.thing .tagline .author.moderator[href$="/GeekScientist"],
.author.moderator[href$="/GeekScientist"]~.flair:before,
.side .tagline .author[href$="/GeekScientist"],
.side .tagline .author[href$="/GeekScientist"]~.flair:before  {
    background-position: 0 -792px !important;
    color: #fff !important;
}

/* OFFICIAL ACCOUNT BUBBLES */

/* NINTENDO OF AMERICA OFFICIAL - user Flair */
.thing .author[href$="/Nintendo_America"],
.author[href$="/CrimsonMudkip"]~.flair:before,
.side .tagline .author[href$="/Nintendo_America"]
.side .tagline .author[href$="/Nintendo_America"]~.flair:before  {
    background-position: 0 108px!important;
    color: #fff!important
}

/* OLD MODERATORS RED BUBBLE 
--------------------------------------------------------------------------------*/
/* Hero_Of_Legend */
.thing .author[href$="/Hero_Of_Legend"],
.res .thing .tagline .author.submitter[href$="/Hero_Of_Legend"],
.side .tagline .author[href$="/Hero_Of_Legend"],
.author[href$="/Hero_Of_Legend"]~.flair:before,

/* SHINX_FUCKER */
.thing .author[href$="/SHINX_FUCKER"],
.res .thing .tagline .author.submitter[href$="/SHINX_FUCKER"],
.side .tagline .author[href$="/SHINX_FUCKER"],
.author[href$="/SHINX_FUCKER"]~.flair:before,

/* Thundergrunge */
.thing .author[href$="/Thundergrunge"],
.res .thing .tagline .author.submitter[href$="/Thundergrunge"],
.side .tagline .author[href$="/Thundergrunge"],
.author[href$="/Thundergrunge"]~.flair:before {
    background-position: 0 -108px !important;
    color: #fff !important;
}
