
/********************************************************************************
* FOOTER
*********************************************************************************/
/*.footer, .footer .col { border: 0; border-radius: 0 }
.footer-parent {
    padding-top: 120px;
    margin-bottom: -13px;
}

.footer {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    max-width: none;
    padding-top: 60px;
    padding-bottom: 15px;
}

.footer .col:not(:last-child) { margin-right: 80px }
.footer .col { flex: initial }
.footer .col .title { font-size: 16px; margin-bottom: 12px; text-transform: capitalize; color: #555; }

.footer .col li:not(.title) a { font-size: 13px; line-height: 18px; color: #555; }
.bottommenu, .bottommenu a { font-size: 11px; color: #777 }
.bottommenu a.updated { color: #208623 }

.footer-parent > *, body > .debuginfo {
    background: white;
    margin: 0;
}*/

.footer-parent {
    position: relative;
    height: 450px;
    margin-bottom: -10px;
    padding-bottom: 60px;
    margin-top: 20px;
}
.footer-parent:before {
    content: '';
    display: block;
    position: absolute;
    height: 124px;
    right: 0;
    left: 0;
    bottom: 0;
    background: url(%%footer-bg%%) repeat-x center top/auto 200%;
    z-index: 0;
}

[lang$=nm] .footer-parent:before, .res-nightmode .footer-parent:before {
    background-position-y: bottom;
}

.footer-parent > * {
    z-index: 5;
    position: relative;
    background: transparent;
}

.footer {
    padding: 15px 20px;
    max-width: 620px;
    box-shadow: 0 50px 50px -40px rgba(0,0,0,0.25), 0 0 60px 0 rgba(0,0,0,0.1);
    background-color: #fff;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: #43F7BB solid 3px;
}

body > .debuginfo {
    position: absolute;
    width: 100%;
    background: transparent;
    margin-top: -50px;
    height: 10px;
}
body > .debuginfo,
body > .debuginfo:before {
    color: #fff;
    text-shadow: 0 0 3px #000;
}

.footer .col {
    max-width: 150px;
    border: 0;
}

.footer .col .title {
    color: rgba(0,0,0,0.45);
}

.footer .col a {
    color: #59f;
}

.footer-parent .bottommenu {
    color: rgba(0,0,0,0.5);
}
.footer-parent .bottommenu a {
    color: #333;
}

[lang$=nm] .footer, .res-nightmode .footer {
    background: #333;
}

[lang$=nm] .footer .col .title, .res-nightmode .footer .col .title {
    color: #43f7bb;
}
[lang$=nm] .footer .col a, .res-nightmode .footer .col a,
[lang$=nm] .footer-parent .bottommenu a, .res-nightmode .footer-parent .bottommenu a {
    color: #43f7bb;
    opacity: 0.5;
}
[lang$=nm] .footer-parent .bottommenu, .res-nightmode .footer-parent .bottommenu {
    color: #999;
}