
.author~.flair, .author[href]~.flair,.thing .flair {
    background-image: none !important;
}

.tagline:before {
    content: '';
    background: url(%%tallarecaceae%%) no-repeat center / contain;
    width: 27px;
    height: 94px;
    position: absolute;
    left: 67px;
    bottom: 0;
    z-index: 5;
    margin-left: 7px;
}

.link .tagline:before {
    left: 145px;
}

.comment .tagline:before {
    bottom: 100%;
    margin-bottom: 3px;
}

.side .tagline:before {
    left: 0;
    margin-left: 5px;
    margin-bottom: -4px;
}