
/********************************************************************************
* SR HEADER AREA
*********************************************************************************/
#sr-header-area {
    position: relative;
    z-index: 20;
    background: #fff;
    border-bottom: 0
}

.res [id^=RESShortcut] {
    background-color: transparent!important;
    color: #99a2a8!important
}

/********************************************************************************
* HEADER (DOESN'T INCLUDE USER AREA & TABMENU)
*********************************************************************************/
#header-img,
#sr-more-link,
.pagename a {
    position: absolute
}

/* Header
--------------------------------------------------------------------------------*/
#header {
    height: 166px;
    overflow: visible!important
}

#header-img {
    bottom: 10px;
    left: 10px;
    width: auto;
    height: 60px
}

#header-bottom-left {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

/* Page name
--------------------------------------------------------------------------------*/
.pagename {
    font-size: 0
}
/* header bars
--------------------------------------------------------------------------------*/

.side:before, #header:before {
    content: '';
    display: block;
    position: absolute;
    height: 46px;
    top: 166px;
    width: 100vw;
    right: -6px;
    box-sizing: border-box;
    border-top: 1px solid rgba(128, 128, 128, 0.22);
}

#header:before {
    height: 27px;
    z-index: 1;
    background: #fff;
}

.side:before {
    margin-top: 27px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
    background: #fafafa;
}

/********************************************************************************
* USER AREA
*********************************************************************************/

/* Header bottom right
--------------------------------------------------------------------------------*/
#header-bottom-right {
    display: -webkit-flex;
    display: flex;
    position: absolute;
    top: 100%!important;
    bottom: auto!important;
    right: 15px;
    padding: 0;
    line-height: 27px;
    height: 27px;
    background: transparent;
    z-index: 2
}
#header-bottom-right a:hover {
    text-decoration: none
}

#header a.pref-lang,
#header .logout a:before {
    content: '';
    display: inline-block;
    background: url(%%pokesheet%%) -32px -163px;
    width: 25px;
    height: 27px;
    font-size: 0!important;
    margin: 0;
    image-rendering: pixelated;
}

#header .logout a:before {
    background-position: -62px -162px
}

#header-bottom-right .flat-list, #header .logout, #header .logout a {
    display: inline-block;
    height: 27px;
    min-width: 27px;
    position: relative;
    font-size: 0;
}

/* beta hint
--------------------------------------------------------------------------------*/
.beta-hint a {
    background: 0;
    height: 24px;
    line-height: 24px;
    text-indent: 0;
    text-align: center;
    font-size: 0!important;
}
.beta-hint a:before {
    content: 'Î²';
    font-size: 12px;
    font-weight: 700;
    color: #99a2a8;
}

/* userbar
--------------------------------------------------------------------------------*/
.res #userbarToggle {
    background: transparent!important;
    border: 0;
    line-height: 25px;
}
#header-bottom-right a,
.res #userbarToggle {
    color: #333;
}
#header-bottom-right .separator {
    display: none;
}
#header .user {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    font-size: 0
}
#header .user>* {
    font-size: 12px
}

/* user karma */
#header .user>.userkarma {
    padding: 0 5px;
}
#header .user>.userkarma a {
    color: rgba(0,0,0,0.5);
    line-height: 27px;
    display: inline-block;
}
#header .user>.userkarma a:hover {
    color: rgba(0,0,0,0.7);
}

/* res account switcher stuff */
.res #header .user>a {
    padding-right: 17px
}
.res #RESAccountSwitcherIcon {
    margin-left: -15px;
    background: 0!important
}
.res #RESAccountSwitcherIcon:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid #bbb;
    position: relative;
    top: 6px;
    left: 1px
}

/* userbar icons
--------------------------------------------------------------------------------*/

#mail.nohavemail,
#message.nohavemail { background: -1px -192px }
#mail.havemail,
#message.havemail { background: -31px -192px }

#chat:not(.active) { background: -60px -191px }
#chat.active { background: -90px -191px }

#modmail { transform: scale(0.95) }
#modmail.nohavemail { background: -1px -222px }
#modmail.havemail { background: -31px -222px }

#new_modmail.nohavemail { background: -61px -223px; }
#new_modmail.havemail { background: -91px -223px; }

#mail,
#message,
#chat,
#modmail,
#new_modmail,
#header .gearIcon {
    height: 27px!important;
    width: 28px!important;
    background-image: url(%%pokesheet%%)!important;
    image-rendering: pixelated;
    font-size: 0 !important;
    box-sizing: border-box;
    display: inline-block;
    top: 0;
    margin: 0;
}

#header .imageInfoSettingsButton {
    background: transparent;
    border: 0;
    display: inline-block;
    padding: 0;
    height: 27px;
    line-height: 27px;
    text-align: center;
}

#header .gearIcon {
    background-position: -90px -162px;
    transform: scale(0.9);
    transform-origin: center;
}
#header .gearIcon:after {display: none}

.user + .separator {
    display: inline;
}

/* message count
--------------------------------------------------------------------------------*/
.message-count {
    background: #FF7500;
    color: #fff!important;
    height: 18px;
    line-height: 18px;
    min-width: 20px;
    text-align: center;
    position: relative;
    margin: 5px;
}

/* all items (except .user)
--------------------------------------------------------------------------------*/
#header-bottom-right > *:not(.user),
#header-bottom-right .flat-list li > * {
    opacity: .75;
    max-height: 28px;
    margin-left: 3px;
}
#header-bottom-right > *:not(.user):hover,
#header-bottom-right .flat-list li > *:hover {
    opacity: 1;
}

/********************************************************************************
* TAB MENU
*********************************************************************************/
#header .tabmenu {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 100%;
    left: 352px;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    transform: translate(-50%);
    margin-top: -6px;
    background: #fff;
    border: 1px solid #cecdcd;
    height: 34px;
    border-radius: 18px;
    padding: 2px 0 0;
    text-transform: capitalize;
    z-index: 10;
}

#header .tabmenu li {
    margin: 0
}

#header .tabmenu li a {
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent!important;
    border: 0!important;
    font-size: small;
    margin-right: 4px;
}

#header .tabmenu a:hover,
#header .tabmenu li.selected a {
    color: #48f !important;
    opacity: 1 !important;
}

/* listing-page tabmenu items
--------------------------------------------------------------------------------*/

/* positions */
#header .tabmenu li:nth-child(1) a {
    /* Hot */
    background: -5px 0
}
#header .tabmenu li:nth-child(2) a {
    /* New */
    background: -42px 0
}
#header .tabmenu li:nth-child(3) a {
    /* Rising */
    background: -79px 0
}
#header .tabmenu li:nth-child(4) a {
    /* Controversial */
    background: -116px 0
}
#header .tabmenu li:nth-child(5) a {
    /* Top */
    background: -153px 0
}
#header .tabmenu li:nth-child(6) a {
    /* Gilded */
    background: -190px 0
}
#header .tabmenu li:nth-child(7) a {
    /* Wiki */
    background: -227px 0
}
#header .tabmenu li:nth-child(8) a {
    /* Promoted */
    background: -264px 0
}
#header .tabmenu .res-toggle-filterline-visibility a {
    /* Toggle Tilterline */
    background: -301px 0;
}
#header .tabmenu .res-show-images a {
    /* Show Images */
    background: -338px 0
}
#header .tabmenu .tb-metrics a {
    /* Metrics */
    background: -375px 0;
}
#header .tabmenu .tb-queuetools-tab a {
    /* Queue */
    background: -412px 0;
}
#header .tabmenu .res-filter-visited-links a {
    /* Visited */
    background: -485px 0;
}

/* listing-page tabmenu items
--------------------------------------------------------------------------------*/
.listing-page #header .tabmenu li {
    width: 38px;
    height: 32px;
    position: relative;
}
.listing-page #header .tabmenu li a {
    content: "";
    display: inline-block;
    background-image: url(%%tabmenu%%)!important;
    width: 34px;
    height: 32px;
    opacity: .6;
    font-size: 0;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
    position: absolute;
    image-rendering: pixelated;
}

/* non-listing-page tabmenu items
--------------------------------------------------------------------------------*/
body:not(.listing-page) #header .tabmenu li a {
    background: rgba(0, 0, 0, .05)!important;
    margin: 1px 0 0 3px;
    padding: 0 5px;
    font-size: 12px;
    color: #6c9bec;
}
body #header .tabmenu li:first-child a {
    border-radius: 15px 0 0 15px;
    margin-left: 3px;
}
body #header .tabmenu li:last-child a {
    border-radius: 0 15px 15px 0;
    margin-right: 3px;
}

body #header .tabmenu li:only-child a {
    border-radius: 15px;
}

/* tabmenu tooltips
--------------------------------------------------------------------------------*/

/* element */
#header .tabmenu a:after {
    display: block;
    position: absolute;
    margin-bottom: 8px;
    font-size: 12px;
    background: #2068ee;
    line-height: 20px;
    padding: 0 10px;
    left: 50%;
    border-radius: 3px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: bottom 150ms ease, opacity 150ms ease-in;
    transition: bottom 150ms ease, opacity 150ms ease-in;
    bottom: 60%;
    opacity: 0;
    color: #fff;
    border: 1px solid #fff;
}
#header .tabmenu a:hover:after {
    bottom: 100%;
    opacity: 1
}

/* tooltip text */
#header .tabmenu li:nth-child(1) a:after {
    content: 'hot'
}
#header .tabmenu li:nth-child(2) a:after {
    content: 'new'
}
#header .tabmenu li:nth-child(3) a:after {
    content: 'rising'
}
#header .tabmenu li:nth-child(4) a:after {
    content: 'controversial'
}
#header .tabmenu li:nth-child(5) a:after {
    content: 'top'
}
#header .tabmenu li:nth-child(6) a:after {
    content: 'gilded'
}
#header .tabmenu li:nth-child(7) a:after {
    content: 'wiki'
}
#header .tabmenu li:nth-child(8) a:after {
    content: 'promoted'
}

.res-show-images a:after { content: 'view images' attr(aftercontent) !important }
.selected .res-show-images a:after { content: 'hide images' attr(aftercontent) !important }

.res-filter-visited-links a:after { content: 'filter visited links' !important }
.selected .res-filter-visited-links a:after { content: 'unfilter visited links' !important }

.res-toggle-filterline-visibility a:after { content: 'toggle filterline' }

#header .tb-queuetools-tab :after {
    content: 'queue'
}
#header .tb-metrics a:after {
    content: 'metrics'
}

/********************************************************************************
* HEADER NIGHTMODE
*********************************************************************************/
[lang$=nm] #sr-header-area, .res-nightmode #sr-header-area {
    background: #282b30!important;
    border-bottom: 1px solid #282b30;
    color: #acb4b9;
}
[lang$=nm] #sr-header-area .width-clip .dropdown.srdrop .selected.title, .res-nightmode #sr-header-area .width-clip .dropdown.srdrop .selected.title,
[lang$=nm] #sr-header-area a, .res-nightmode #sr-header-area a,
[lang$=nm] #header-bottom-right a, .res-nightmode #header-bottom-right a,
[lang$=nm] .res #userbarToggle, .res-nightmode .res #userbarToggle {
    color: #acb4b9
}

/* header bars */
[lang$=nm] #header:before, .res-nightmode #header:before {
    background: #282b30;
    border-color: #212428;
}
[lang$=nm] .side:before, .res-nightmode .side:before {
    background: #2f3238;
    border-color: #212428;
    box-shadow: 0 1px 3px #1e2124;
}

[lang$=nm] #header .tabmenu, .res-nightmode #header .tabmenu {
    background: #282b30;
    border-color: #212428
}
html[lang$=nm] body:not(.listing-page) #header .tabmenu li a, html.res-nightmode body:not(.listing-page) #header .tabmenu li a {
    background: #2e3238 !important;
}
[lang$=nm] .side .md>blockquote:first-of-type>p>a, .res-nightmode .side .md>blockquote:first-of-type>p>a {
    color: #c9c9c9;
}

/*header bottom right*/
[lang$=nm] #header .user > a, .res-nightmode #header .user > a,
[lang$=nm] #header .user > .userkarma, .res-nightmode #header .user > .userkarma {
    color: rgba(255,255,255,0.5)
}
[lang$=nm] #header .user>.userkarma a, .res-nightmode #header .user>.userkarma a {
    color: rgba(255,255,255,0.4);
}
[lang$=nm] #header .user>.userkarma a:hover, .res-nightmode #header .user>.userkarma a:hover {
    color: rgba(255,255,255,0.6);
}

[lang$=nm] .beta-hint a:before, .res-nightmode .beta-hint a:before {
    color: rgba(255,255,255,0.4);
    font-weight: normal;
}
[lang$=nm] #header .user + .separator, .res-nightmode #header .user + .separator {
    color: rgba(255,255,255,0.25);
}
[lang$=nm] .res #RESAccountSwitcherIcon:before, .res-nightmode .res #RESAccountSwitcherIcon:before {
    border-top-color: #666;
}

/********************************************************************************
* LOGGED OUT USERS
*********************************************************************************/
body:not(.loggedin) #header .user {
    font-size: 12px;
    display: block;
}
body:not(.loggedin) #header-bottom-right a {
    color: #2068ee;
    font-weight: bold;
}