
/********************************************************************************
* SR HEADER AREA
*********************************************************************************/

#sr-header-area {
    height: 18px;
}

#sr-more-link {
    position: absolute;
}

/* drop choices */
#sr-header-area .width-clip .dropdown.srdrop .selected.title {
    font-size: 9px;
    font-weight: 700;
    padding-right: 3px;
}

.dropdown.srdrop .selected { background-image: none; }
.dropdown.srdrop .selected:after { display: none; }

/* RES things */
.res #RESShortcutsEditContainer, .res #RESShortcutsSort,.res #RESShortcutsRight,.res #RESShortcutsLeft,.res #RESShortcutsAdd,.res #RESShortcutsTrash {
    background-color: transparent !important;
    color: #979797 !important;
}

/********************************************************************************
* HEADER (DOESN'T INCLUDE USER AREA & TABMENU)
*********************************************************************************/

/* Header
--------------------------------------------------------------------------------*/

#header {
    height: 166px;
    background: no-repeat 50% 19px / cover;
    overflow: visible !important;
}

#header-img {
    position: absolute;
    bottom: 10px;
    left: 5px;
    z-index: 99;
    width: 50px;
    height: 50px;
}

#header-bottom-left {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Page name
--------------------------------------------------------------------------------*/
.pagename {
    font-size: 0;
}

.pagename a {
    top: 45px;
    width: 220px;
    height: 80px;
    display: block;
    position: absolute;
    left: 240px;
    z-index: 99;
    background: url(%%logo%%) no-repeat 0 0;
}

.pagename a:hover {
    background-position: 0 -80px;
}

/* header bars
--------------------------------------------------------------------------------*/

/* tabmenu and user area full-width bar */
#header:before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 27px;
    background: white;
    border-bottom: 1px solid #cecdcd;
    box-shadow: 0 -2px 3px rgba(0,0,0,0.05);
    z-index: 1;
}
/* announcement module and search full-width bar*/
#header:after {
    content: '';
    display: block;
    top: 100%;
    margin-top: 27px;
    position: absolute;
    right: 0;
    left: 0;
    height: 46px;
    background: #fafafa;
    box-shadow: 0 1px 3px rgba(0,0,0,0.06);
}

/********************************************************************************
* USER AREA
*********************************************************************************/

/* Header bottom right
--------------------------------------------------------------------------------*/
#header-bottom-right {
    display: flex;
    align-items: center;
    position: absolute;
    top: 100% !important;
    bottom: auto !important;
    right: 0;
    padding: 0 15px 0 0;
    line-height: 27px;
    height: 27px;
    background-color: transparent;
    z-index: 2;
}

#header-bottom-right a {
    font-weight: 400;
    font-size: small;
}

#header-bottom-right a:hover {
    text-decoration: none;
}

#header-bottom-right a.pref-lang, .loggedin .logout a {
    display: inline-block;
    background: url(%%pokesheet%%) -55px -371px;
    width: 25px;
    height: 25px;
    font-size: 0;
    margin: 0;
}
#header-bottom-right a.pref-lang{height: 30px;}

.loggedin .logout a { height: 30px; background-position: -90px -372px; font-size: 0 !important; }

/* userbar
--------------------------------------------------------------------------------*/
.res #userbarToggle {
    background-color: transparent !important;
    border: none;
}

#header-bottom-right .separator {
    font-size: 0;
    padding-left: 5px;
}

#header-bottom-right .user {
    display: flex;
    align-items: center;
    font-size: 0;
}
#header-bottom-right .user > * { font-size: 12px; }

/* user a */
#header-bottom-right .user > a {
    display: inline-block;
    padding: 0 5px;
}

/* user karma */
#header-bottom-right .user > .userkarma {
    padding: 0 5px;
}

/* res account switcher stuff */
.res #header-bottom-right .user > a {
    padding-right: 17px;
}
.res #RESAccountSwitcherIcon {
    margin-left: -15px;
    background-image: none !important;
}

.res #RESAccountSwitcherIcon:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #666;
    position: relative;
    top: 5px;
    left: 1px;
}

/* userbar icons
--------------------------------------------------------------------------------*/
#mail { display: inline-block; overflow: visible; }
#mail.havemail { background: -121px -374px; }
#mail.nohavemail { background: -54px -310px; }

#modmail { top: -2px; margin-bottom: -6px; }
#modmail.havemail { background: -54px -404px; }
#modmail.nohavemail { background: -152px -374px; }

.gearIcon { background: -116px -339px!important; top: 5px; }
.gearIcon:after { display: none; }

#mail, #modmail, .gearIcon {
    height: 28px!important;
    width: 28px!important;
    background-image: url(%%pokesheet%%)!important;
}

/* opacity hover/no hover
--------------------------------------------------------------------------------*/
#modmail, #mail, #header-bottom-right a.pref-lang, .loggedin .logout a, .gearIcon {
    opacity: .75;
}
#modmail:hover, #mail:hover, #header-bottom-right a.pref-lang:hover, .loggedin .logout a:hover, .gearIcon:hover {
    opacity: 1;
    text-decoration: none !important;
    border-bottom: 0px solid !important;
}

/********************************************************************************
* TAB MENU
*********************************************************************************/

#header .tabmenu {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 100%;
    right: auto;
    bottom: auto;
    left: 352px; /* move left end of tabmenu to approximately where the middle of the sub logo is */
    -webkit-transform: translate(-50%); /* ^ and use transform to center at that point */
    -moz-transform: translate(-50%);
    transform: translate(-50%);
    
    margin-top: -6px;
    background: white;
    border: 1px solid #cecdcd;
    height: 34px;
    border-radius: 18px;
    padding: 0;
    padding-top: 2px;
    text-transform: capitalize;
}

.tabmenu li a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0;
    background-color: transparent !important;
    border: 0 !important;
    font-size: small;
    margin-right: 1px;
}

.tabmenu li a:hover, .tabmenu li.selected a {
    color: #48f;
    z-index: 100;
}

/* listing-page tabmenu items
--------------------------------------------------------------------------------*/

/* tabmenu items with icon */
.listing-page #header-bottom-left .tabmenu li a:not([href^="j"]) {
    display: block;
    font-size: 0;
    position: relative;
}

/* tabmenu icons */
.listing-page #header-bottom-left .tabmenu li:nth-child(1) a:before { background: -227px 0px; }
.listing-page #header-bottom-left .tabmenu li:nth-child(2) a:before { background: -5px 0px; }
.listing-page #header-bottom-left .tabmenu li:nth-child(3) a:before { background: -43px 0px; }
.listing-page #header-bottom-left .tabmenu li:nth-child(4) a:before { background: -80px 0px; }
.listing-page #header-bottom-left .tabmenu li:nth-child(5) a:before { background: -116px 0px; }
.listing-page #header-bottom-left .tabmenu li:nth-child(6) a:before { background: -154px 0px; }
.listing-page #header-bottom-left .tabmenu li:nth-child(7) a:before { background: -265px 0px; }
.listing-page #header-bottom-left .tabmenu li:nth-child(8) a:before { background: -190px -0px; }
.listing-page #header-bottom-left .tabmenu li:nth-child(9) a:before { background: -302px 0px; }
.listing-page #header-bottom-left .tabmenu li a:not([href^="j"]):before {
    content: "";
    display: inline-block;
    background-image: url(%%tabmenu%%);
    width: 33px;
    height: 32px;
    opacity: .6;
    -webkit-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
}

/* not-listing-page tabmenu items
--------------------------------------------------------------------------------*/
body:not(.listing-page) .tabmenu li {
    margin-right: 0;
    margin-left: 0;
}

body:not(.listing-page) .tabmenu li a:not([href^="j"]) {
    background: rgba(0,0,0,0.05) !important;
    margin: 0;
    margin-top: 1px;
    padding: 0 5px;
    font-size: 12px;
    margin-left: 3px;
}

body:not(.listing-page) .tabmenu li:first-of-type a {
    border-radius: 15px 0 0 15px;
}

body.res:not(.listing-page) .tabmenu li:nth-of-type(3) a,
body:not(.res):not(.listing-page) .tabmenu li:nth-of-type(2) a,
body:not(.listing-page) .tabmenu li:last-of-type {
    border-radius: 0 15px 15px 0;
    margin-right: 2px;
}

/* mod toolbox
--------------------------------------------------------------------------------*/

.tabmenu li a[href^="j"],
body:not(.listing-page) .tabmenu li a {
    margin-left: 5px;
}
.tabmenu li a[href^="j"] {
    position: absolute;
    top: auto;
    left: 100%;
    right: auto;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.3);
}
.tabmenu li.tb-metrics a[href^="j"] {
    margin-left: 90px;
}

.tabmenu li.tb-metrics, .tabmenu li.tb-metrics ~ li {
    margin: 0;
}

/* tabmenu tooltips
--------------------------------------------------------------------------------*/

.listing-page #header-bottom-left .tabmenu li a:not([href^="j"]):after {
    content: '';
    display: block;
    position: absolute;
    margin-bottom: 8px;
    font-size: 12px;
    background: rgba(200,200,200,0.4);
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 3px;
    -webkit-transition: bottom 150ms ease, opacity 150ms ease-in;
    transition: bottom 150ms ease, opacity 150ms ease-in;
    bottom: 60%;
    opacity: 0;
    color: white;
}
.listing-page #header-bottom-left .tabmenu li a:not([href^="j"]):hover:after {
    bottom: 100%;
    opacity: 1;
}

.listing-page #header-bottom-left .tabmenu li:nth-of-type(1) a:after { content: 'hot'; }
.listing-page #header-bottom-left .tabmenu li:nth-of-type(2) a:after { content: 'new'; }
.listing-page #header-bottom-left .tabmenu li:nth-of-type(3) a:after { content: 'rising'; }
.listing-page #header-bottom-left .tabmenu li:nth-of-type(4) a:after { content: 'controversial'; }
.listing-page #header-bottom-left .tabmenu li:nth-of-type(5) a:after { content: 'top'; }
.listing-page #header-bottom-left .tabmenu li:nth-of-type(6) a:after { content: 'gilded'; }
.listing-page #header-bottom-left .tabmenu li:nth-of-type(7) a:after { content: 'wiki'; }
.listing-page #header-bottom-left .tabmenu li:nth-of-type(8) a:after { content: 'promoted'; }
.res.listing-page #header-bottom-left .tabmenu li:nth-of-type(9) a:after { content: 'view images'; }
