

/********************************************************************************
* LISTING PAGE MISC
*********************************************************************************/
.listing-page .content>.menuarea {
    border: 0;
    margin-bottom: 10px;
    padding-left: 3px;
    overflow: visible;
}
.listing-page .content>.menuarea .spacer {
    padding: 0 10px 0 40px;
    line-height: 32px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
}

.listing-page .content>.menuarea .spacer:before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    background: url(%%pokesheet%%) -55px -37px;
    top: 0;
    left: 0;
    transform: scale(0.8);
    opacity: 0.5;
}
[lang$=nm] .listing-page .content>.menuarea .spacer:before {
    opacity: 1;
}

/* ads */
.organic-listing {
    background: 0 0!important;
    border: 0;
    margin-bottom: 20px;
    overflow: visible !important
}
.link.promotedlink {
    overflow: visible
}
.link.promotedlink p.title {
    margin-left: 5px
}

.listing-page .content>.menuarea .spacer {
    background: #fff;
    border: 1px solid #e3e3e3
}

/* drop-choices */
.drop-choices.lightdrop, [lang$=nm] .drop-choices {
    border: 1px solid #bbb;
    box-shadow: 0 2px 1.5px rgba(0,0,0,0.1);
    border-radius: 3px;
    margin-left: -5px;
    border-top: 1.5px solid #2a66d6;
    margin-top: 10px;
}
.drop-choices.lightdrop:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 10px;
    width: 0;
    height: 0;
    border-bottom: 7px solid #2a66d6;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.drop-choices.lightdrop a.choice {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.drop-choices.lightdrop a.choice:hover {
    background: #2a66d6;
    color: #fff;
}
.drop-choices .RES-dropdown-button {
    float: none;
    margin-left: 15px;
}
.drop-choices.lightdrop a.choice:hover .RES-dropdown-button {
    color: #fff;
}

[lang$=nm] .drop-choices {
    border: 1px solid #111;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    border-top: 1.5px solid #2a66d6 !important;
}
[lang$=nm] .drop-choices.lightdrop a.choice {
    color: #bababa;
}