/********************************************************************************
* PINNABLE-CONTENT - Used in video posts
*********************************************************************************/
.pinnable-content.pinned .top-matter {
    position: static;
    padding-left: 250px;
    padding-top: 5px;
}

.pinned .link {
    margin: 0 !important;
    border-top: 0;
    border-bottom: 0;
    min-height: 100%;
}
.pinned .link .midcol {
    position: absolute;
    top: 0;
    left: 0;
}
.pinned .link .thumbnail {
    display: none;
}
.pinned .link .domain {
    right: 45px;
}
.pinned .link .tagline {
    left: 170px;
    top: 15px;
    right: 70px;
}

.pinned .link.linkflair-rule .linkflairlabel {
    display: inline !important;
    position: relative !important;
    font-size: 12px !important;
    margin: 0 !important;
}