
/* link flairs / linkflairs / flair filters
--------------------------------------------------------------------------------*/
.linkflairlabel {
    display: block;
    position: absolute!important;
    text-align: center;
    line-height: 20px;
    background: #ccc;
    min-width: 50px!important;
    padding: 0 10px;
    top: 5px;
    left: 0;
    margin: 0;
    width: 67px;
    border: 0;
    border-radius: 3px 3px 0 0;
    z-index: 10;
    color: #fff!important;
    font-weight: 700;
    font-size: 12px
}

.link .linkflairlabel {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: 27px 0 0 -49px
}
/* reset rotation for flair selector */
.flairselector .linkflairlabel {
    -moz-transform: rotate(0)!important;
    -webkit-transform: rotate(0)!important;
    transform: rotate(0)!important
}

/* increase label size for longer linkflairs */
.linkflair[class*=spoiler] .title .linkflairlabel,
.linkflair[class*=rotation] .title .linkflairlabel {
    font-size: 10px;
    overflow: visible;
    text-indent: -9px;
    width: 75px;
    top: 9px;
    left: -4px;
}

.link.linkflair[class*=spoiler],
.link.linkflair[class*=rotation] {
    padding-bottom: 10px;
}

/* linkflair - fill*/
.link.linkflair:before {
    content: '';
    display: block;
    position: absolute;
    width: 21px;
    top: -1px;
    right: 100%;
    margin-right: -5px;
    bottom: -1px;
    border-radius: 3px 0 0 3px;
    z-index: 5;
    background: #ccc
}
.comments-page .link.linkflair:before {
    width: 6px
}

/* linkflair backgrounds */
.flairselector .linkflair-image .linkflairlabel,
.link.linkflair-image:before,
.linkflair-image .linkflairlabel {
    background: #a7565c
}
.flairselector .linkflair-media .linkflairlabel,
.link.linkflair-media:before,
.linkflair-media .linkflairlabel {
    background: #856fa6
}
.flairselector .linkflair-discussion .linkflairlabel,
.link.linkflair-discussion:before,
.linkflair-discussion .linkflairlabel {
    background: #76c374
}
.flairselector .linkflair-info .linkflairlabel,
.link.linkflair-info:before,
.linkflair-info .linkflairlabel {
    background: #e6d76d
}
.flairselector .linkflair-art .linkflairlabel,
.link.linkflair-art:before,
.linkflair-art .linkflairlabel {
    background: #e868c1
}
.flairselector .linkflair-noob .linkflairlabel,
.link.linkflair-noob:before,
.linkflair-noob .linkflairlabel {
    background: #3498db
}
.flairselector .linkflair-rule .linkflairlabel,
.link.linkflair-rule:before,
.linkflair-rule .linkflairlabel {
    background: #e74c3c
}
.flairselector .linkflair-rotation .linkflairlabel,
.link.linkflair-rotation:before,
.linkflair-rotation .linkflairlabel {
    background: #76c374;
}

.flairselector [class*=spoiler] .linkflairlabel,
.link[class*=spoiler]:before,
[class*=spoiler] .linkflairlabel {
    background: #e4796b;
}

/* spoiler linkflairlabel and title overlay
--------------------------------------------------------------------------------*/

.linkflair-spoiler a.title {
    min-width: 215px
}
.link.linkflair-spoiler a.title:before {
    content: 'Spoiler - hover to view title';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #606060!important;
    padding: 3px;
    text-transform: initial;
    font-size: 15px;
    opacity: 1;
    transition: opacity .2s;
    transition-delay: .2s
}
.link.linkflair-spoiler a.title:hover:before {
    opacity: 0
}

/* filters
--------------------------------------------------------------------------------*/

html:lang(ao) .link:not(.linkflair-art),
html:lang(di) .link:not(.linkflair-discussion),
html:lang(fo) .link:not(.linkflair-info),
html:lang(im) .link:not(.linkflair-image),
html:lang(me) .link:not(.linkflair-media),
html:lang(na) .link.linkflair-art,
html:lang(nd) .link.linkflair-discussion,
html:lang(ne) .link.linkflair-media,
html:lang(nf) .link.linkflair-info,
html:lang(ni) .link.linkflair-image,
html:lang(ns) .link.linkflair-spoiler a.title:before {
    display: none!important
}