

/********************************************************************************
* LISTING PAGE MISC
*********************************************************************************/
.listing-page .content>.menuarea {
    border: 0;
    margin-bottom: 10px;
    padding-left: 3px;
    overflow: visible
}
.listing-page .content>.menuarea .spacer {
    padding: 0 10px 0 40px;
    line-height: 32px;
    border-radius: 16px;
    display: inline-block;
    position: relative
}

.listing-page .content>.menuarea .spacer:before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    background: url(%%pokesheet%%) -55px -177px;
    top: 0;
    left: 0
}

/* ads */
.organic-listing {
    background: 0 0!important;
    border: 0;
    margin-bottom: 20px;
    overflow: visible !important
}
.link.promotedlink {
    overflow: visible
}
.link.promotedlink p.title {
    margin-left: 5px
}

.listing-page .content>.menuarea .spacer {
    background: #fff;
    border: 1px solid #e3e3e3
}


#siteTable:before {
    content: 'Wisdom over Instinct; Calm over Valor';
    display: block;
    background: #007aff;
    border-bottom: 1px solid #006fe6;
    margin-bottom: 20px;
    padding: 12px 20px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: hsla(211,100%,95%,1);
}