
/* link flairs / linkflairs / flair filters
--------------------------------------------------------------------------------*/
.thing .linkflairlabel {
    display: block;
    position: absolute!important;
    text-align: center;
    line-height: 20px;
    background: transparent;
    min-width: 50px!important;
    padding: 0 10px;
    margin: 0;
    width: auto;
    border: 0;
    z-index: 10;
    color: #fff!important;
    font-weight: 700;
    font-size: 10px;
    
    -webkit-transform: rotate(-90deg) translate(-100%,-100%);
    transform: rotate(-90deg) translate(-100%,-100%);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    top: 0;
    left: 0;
    margin-top: -1px;
    margin-left: 0;
}

.listing-page .thing.link .linkflairlabel {
    width: 89px;
    padding: 0;
}

/* reset rotation for flair selector */
.thing .flairselector .linkflairlabel, .thing.reddit-link .linkflairlabel {
    -webkit-transform: rotate(0)!important;
    transform: rotate(0)!important
}

/* increase label size for longer linkflairs */
.linkflair.linkflair-spoiler .title .linkflairlabel,
.linkflair.linkflair-rotation .title .linkflairlabel {
    font-size: 9px;
    overflow: visible;
}

.link.linkflair.linkflair-spoiler,
.link.linkflair.linkflair-rotation {
    padding-bottom: 10px;
}

/* linkflair - fill*/
.link.linkflair {
    border-left: 20px solid #777 !important;
    margin-left: -20px;
}

/* flair selector */
.thing.link.linkflair-image {
    border-left-color: #a7565c !important
}
.thing.link.linkflair-media {
    border-left-color: #856fa6 !important
}
.thing.link.linkflair-discussion {
    border-left-color: #76c374 !important
}
.thing.link.linkflair-info {
    border-left-color: #e6d76d !important
}
.thing.link.linkflair-art {
    border-left-color: #e868c1 !important
}
.thing.link.linkflair-noob {
    border-left-color: #3498db !important
}
.thing.link.linkflair-rule {
    border-left-color: #e74c3c !important
}
.thing.link.linkflair-rotation {
    border-left-color: #76c374 !important
}
.thing.link.linkflair-spoiler {
    border-left-color: #e4796b !important
}

/* spoiler linkflairlabel and title overlay
--------------------------------------------------------------------------------*/

.link.linkflair-spoiler a.title:before {
    content: "Spoiler - hover to view title";
    display: inline-block;
    border: 2px dashed #eaeaea;
    background: #fff;
    color: #606060!important;
    padding: 3px 5px;
    font-size: 17px;
    line-height: 17px;
    margin-bottom: -1px;
}

.link.linkflair-spoiler a.title:not(:hover) {
    font-size: 0;
}

.link.linkflair-spoiler a.title:hover:before {
    display: none;
}

/* filters
--------------------------------------------------------------------------------*/

html:lang(ao) .link:not(.linkflair-art),
html:lang(di) .link:not(.linkflair-discussion),
html:lang(fo) .link:not(.linkflair-info),
html:lang(im) .link:not(.linkflair-image),
html:lang(me) .link:not(.linkflair-media),
html:lang(na) .link.linkflair-art,
html:lang(nd) .link.linkflair-discussion,
html:lang(ne) .link.linkflair-media,
html:lang(nf) .link.linkflair-info,
html:lang(ni) .link.linkflair-image,
html:lang(ns) .link.linkflair-spoiler a.title:before {
    display: none!important
}