/********************************************************************************
* LISTING PAGE MISC
*********************************************************************************/

/* ads
--------------------------------------------------------------------------------*/
.organic-listing {
    background: 0 0!important;
    border: 0;
    margin-bottom: 20px;
    overflow: visible !important
}
.link.promotedlink {
    overflow: visible
}
.link.promotedlink p.title {
    margin-left: 5px
}

.listing-page .content>.menuarea .spacer {
    background: #fff;
    border: 1px solid #e3e3e3
}

/* drop chocies
--------------------------------------------------------------------------------*/
.dropdown.lightdrop .selected {
    text-decoration: none;
    cursor: pointer;
    color: #2a66d6;
    background-size: 14px;
    padding-right: 15px;
}
.dropdown.lightdrop .selected:hover {
    color: #48f
}

.drop-choices {
    border-radius: 5px;
    border-color: #c9c9c9;
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}
[lang$=nm] .drop-choices, .res-nightmode .drop-choices {
    border: 1px solid #111;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    border-color: #17191c !important;
    background: #282b30;
}

.drop-choices a.choice {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #2068ee;
    padding: 5px;
    border-bottom: 1px solid #eee;
}
.drop-choices > :last-child a.choice {
    border-bottom: 0;
}
[lang$=nm] .drop-choices a.choice, .res-nightmode .drop-choices a.choice {
    color: rgba(240,252,255,.9) !important;
    border-color: #17191c !important;
}
.drop-choices a.choice:hover {
    color: #fff;
    background: #2068ee;
}
.drop-choices .RES-dropdown-button {
    float: none;
    margin-left: 15px;
    font-size: 9px;
    line-height: 16px;
}
.drop-choices.lightdrop a.choice:hover .RES-dropdown-button {
    color: inherit;
}
.drop-choices > :last-child as.choice {
    border-bottom: 0;
}

[lang$=nm] .dropdown.lightdrop .selected, .res-nightmode .dropdown.lightdrop .selected {
    color: #a5c5ff;
}
[lang$=nm] .dropdown.lightdrop .selected:hover, .res-nightmode .dropdown.lightdrop .selected:hover {
    color: #c1d7ff;
}

/* RES - never ending reddit
--------------------------------------------------------------------------------*/
[lang$=nm].res #progressIndicator, .res-nightmode.res #progressIndicator,
[lang$=nm] .nextprev, .res-nightmode .nextprev,
[lang$=nm] .submit .tabmenu.formtab, .res-nightmode .submit .tabmenu.formtab,
[lang$=nm] .NERPageMarker, .res-nightmode .NERPageMarker {
    background: #282b30;
    border: 1px solid #1e2024;
}
[lang$=nm].res #progressIndicator h2, .res-nightmode.res #progressIndicator h2,
[lang$=nm].res #progressIndicator a, .res-nightmode.res #progressIndicator a,
[lang$=nm] .NERPageMarker > a, .res-nightmode .NERPageMarker > a {
    color: #6697f1;
}


/* infobars
--------------------------------------------------------------------------------*/
.infobar.listingsignupbar {
    border: 1px solid #cecdcd;
    box-shadow: 0 1px 3px rgba(173,178,255,.8);
    margin: 0 0 15px !important;
}
[lang$=nm] .infobar.listingsignupbar, .res-nightmode .infobar.listingsignupbar {
    border: 1px solid hsl(218, 9%, 5%);
    box-shadow: 0 1px 3px rgba(173,178,255,.15);
}

/* listing page control
--------------------------------------------------------------------------------*/
.listing-page .content>.menuarea {
    border: 0;
    margin-bottom: 10px;
    overflow: visible;
}

.nav-buttons:not([hidden]) {
    display: flex;
    justify-content: center;
}

.nextprev, .submit .tabmenu.formtab {
    font-size: 0;
    padding: 7px 16px;
    display: inline-block;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 24px;
}

.nextprev > *, .submit .tabmenu.formtab > * {
    display: inline-block;
}

.listing-page .content>.menuarea .spacer,
.nextprev .prev-button a,
.nextprev .next-button a,
.submit .tabmenu.formtab a {
    display: inline-block;
    padding: 0 10px 0 40px;
    line-height: 32px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    min-width: 170px;
    color: #fff;
    background: #2068ee;
    border: 1px solid #125fed !important;
    cursor: pointer;
}

.nextprev .prev-button a,
.nextprev .next-button a,
.submit .tabmenu.formtab a {
    min-width: initial;
    padding: 0 25px 0 44px;
    font-size: 14.5px;
    text-transform: uppercase;
}

.nextprev .prev-button,
.submit .tabmenu.formtab li:not(:last-child) a {
    margin-right: 10px;
}

.listing-page .content>.menuarea .spacer:hover,
.nextprev .prev-button a:hover,
.nextprev .next-button a:hover,
.submit .tabmenu.formtab a:hover {
    background: #125fed;
}

.listing-page .content>.menuarea .spacer:before,
.nextprev .prev-button a:before,
.nextprev .next-button a:before,
.submit .tabmenu.formtab a:before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    background: url(%%pokesheet%%)  0 -250px;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-position: 0 -250px;
    transform: scale(.21);
    transform-origin: 7px 7px;
    opacity: .7;
    opacity: 1;
}

.listing-page .content>.menuarea .spacer .selected {
    color: #fff !important;
    background-image: none;
}

.listing-page .content>.menuarea .spacer .dropdown {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 105px;
    cursor: pointer;
}
.listing-page .content>.menuarea .spacer .dropdown:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 15px;
    border-top: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.listing-page .content>.menuarea .spacer .selected:after {
    display: none;
}

.listing-page .content>.menuarea .drop-choices {
    top: 100% !important;
    left: 30px !important;
    right: 30px !important;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}