#header {
    overflow:visible!important;
    animation: scrl 60s infinite;
    animation-play-state: paused;
    background-image: url(%%banner-fish-upper%%), url(%%banner-fish-center%%), url(%%banner-fish-lower%%), url(%%fishbg-day%%);
    background-repeat: repeat, repeat, repeat!important;
    background-size: auto 166px, auto 166px, auto 166px, 238px auto!important;
    animation-timing-function: linear;
}

html[lang$="nm"] #header {
    background-image: url(%%banner-fish-upper%%), url(%%banner-fish-center%%), url(%%banner-fish-lower%%), url(%%fishbg-night%%) !important;
}

#header:hover {
    animation-play-state: running
}

@keyframes scrl {
   from {
       background-position: 0 0, 0 0, 0 0, 0 0;
   }

   to {
      background-position: -6322px 0, -4215px 0, -2107px 0, 0 0;
   }
}