
/********************************************************************************
* FIX STUFF - MOD TOOLS / MOD PAGES & THINGS
*********************************************************************************/
.mod-toolbox .menuarea.modtools {
    margin: 0 0 10px 0!important;
}
.thing.comment>input[type=checkbox] {
    position: absolute;
    z-index: 5;
    margin-left: -14px!important;
    margin-top: -3px!important
}

body.mod-toolbox .tb-popup a.author {
    box-sizing: border-box !important;
}
.tb-context-comment .comment {
    margin: 5px 0 0 0;
}
.tb-context-comment .comment input ~.parent {
    min-height: 10px;
}

/* queue pages
--------------------------------------------------------------------------------*/
body:not(.comments-page):not(.comment-permalink-page) .comment {
    border: 1px solid #cecdcd;
    background: #f7f7f7;
    padding: 0 10px 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .03)
}
body:not(.comments-page):not(.comment-permalink-page) .comment .parent {
    padding: 2px 0 7px 20px
}
body:not(.comments-page):not(.comment-permalink-page) .thing.comment>input[type=checkbox] {
    position: static;
    margin: 5px -20px 0 5px!important
}
[lang$=nm] body:not(.comments-page):not(.comment-permalink-page) .comment, .res-nightmode body:not(.comments-page):not(.comment-permalink-page) .comment {
    background: rgba(42, 45, 50, .4);
    border-color: rgba(0, 0, 0, .15)
}
[lang$=nm] body:not(.comments-page):not(.comment-permalink-page) .comment .parent, .res-nightmode body:not(.comments-page):not(.comment-permalink-page) .comment .parent {
    background: rgba(0, 0, 0, .1);
    border: 0
}

/* flair page
--------------------------------------------------------------------------------*/
.flaircell.tagline {
    font-size: 0;
    float: left;
    position: relative;
}

.flaircell .RESUserTag, .flaircell .flairselectbtn, .flairgrant .header {
    display: none !important;
}

.flaircell.tagline ~ form {
    margin-left: 300px;
    overflow: hidden;
}
.flaircell.tagline .flair {
    top: 0;
    left: 0;
}