/********************************************************************************
* MISC/GENERAL NIGHTMODE STYLES
*********************************************************************************/
[lang$=nm] body {
    background: #36393e url(%%bgdark%%)!important;
    color: #bdc3c7
}

[lang$=nm] .md a, [lang$=nm] .icon-menu a, [lang$=nm] .sidecontentbox a {
    color: hsl(216,100%,75%)
}

[lang$=nm] .subreddit-report-form,
[lang$=nm] .post-sharing,
[lang$=nm] .flairselector h2,
[lang$=nm] #previoussearch,
[lang$=nm] .combined-search-page #previoussearch .res-search-pane,
[lang$=nm] .side,
[lang$=nm] .titlebox .leavecontributor-button,
[lang$=nm] .titlebox .leavemoderator,
[lang$=nm] .titlebox form.toggle,
[lang$=nm] .submit-page .roundfield {
    background: #282b30 !important;
    color: #aaa;
    border-color: #282b30;
    box-shadow: none;
}

[lang$=nm] #newlink-with-image-upload .image-upload-drop-target,
[lang$=nm] .combined-search-page #search input[type=text],
[lang$=nm] .commentarea>.usertext textarea,
[lang$=nm] .comments-page .usertext textarea,
[lang$=nm] .submit-page .roundfield input[type=text],
[lang$=nm] .submit-page .roundfield input[type=url],
[lang$=nm] .submit-page .roundfield textarea,
[lang$=nm] .flairselector input[type=text],
[lang$=nm] .markdownEditor .edit-btn:not(.btn-macro) {
    background-color: rgba(255, 255, 255, .05);
    color: #aaa!important;
    border: 1px solid rgba(255, 255, 255, .15)!important
}

[lang$=nm] .side #searchexpando,
[lang$=nm] body.mod-toolbox .tb-general-button, 
[lang$=nm] body.mod-toolbox .tb-bracket-button,
[lang$=nm] .reddit-infobar {
    background: #282b30;
    border: 1px solid rgba(255, 255, 255, .1);
    color: #c7c7c7
}

[lang$=nm] .drop-choices a.choice:hover {
    background: rgba(255, 255, 255, .06)
}
[lang$=nm] .md,
[lang$=nm] .submit-page .roundfield>.title {
    color: #c7c7c7;
}
[lang$=nm] .res .voteWeight {
    background: transparent !important;
}