.icon-menu a { background: transparent }

html body,
html body:before,
html .footer-parent > *,
html body > .debuginfo {
    background: #36393e;
    color: #bdc3c7
}

html .md a {
    color: #48f
}
html .comment .md a:visited,
html .comment .md p>a:visited,
html .link .md a:visited {
    color: #8271ff
}

html .thing.link,
html .entry,
html .subreddit-report-form,
html .post-sharing,
html .comment .score,
html #previoussearch,
html .combined-search-page #previoussearch .res-search-pane,
html .side,
html .titlebox .leavecontributor-button,
html .titlebox .leavemoderator,
html .titlebox form.toggle,
html .submit-page .roundfield {
    background: #282b30 !important;
    color: #aaa;
    border-color: #282b30 !important;
    box-shadow: none;
}

html .link.RES-keyNav-activeThing,
html .comment.RES-keyNav-activeThing .entry {
    border-color: #575a63 !important;
}

.link .midcol {
    border-right: 0;
}

/* comment page
--------------------------------------------------------------------------------*/

html .comment-permalink-page .commentarea>.infobar,
html .commentarea .child>.usertext,
html .commentarea>.panestack-title,
html .commentarea>.usertext,
html .gold-accent.comment-visits-box {
    background: #282b30;
}
html .commentarea > * {
    border: 0 !important;
}

html .commentarea>.menuarea {
    background: #2a2d33
}
html .gold-accent.comment-visits-box .title {
    color: rgba(255, 255, 255, .3)
}

html #newlink-with-image-upload .image-upload-drop-target,
html .combined-search-page #search input[type=text],
html .commentarea>.usertext textarea,
html .comments-page .usertext textarea,
html .submit-page .roundfield input[type=text],
html .submit-page .roundfield input[type=url],
html .submit-page .roundfield textarea,
html .markdownEditor .edit-btn:not(.btn-macro) {
    background-color: rgba(255, 255, 255, .05);
    color: #aaa!important;
    border: 1px solid rgba(255, 255, 255, .15)!important
}

html .RESUserTagImage:after {
    background-image: none!important
}
html .drop-choices,
html .side #searchexpando,
html body.mod-toolbox .tb-general-button, 
html body.mod-toolbox .tb-bracket-button,
html .listing-page .content>.menuarea .spacer,
html .reddit-infobar {
    background: #282b30;
    border: 1px solid rgba(255, 255, 255, .1);
    color: #c7c7c7
}
html .drop-chToices a.choice:hover {
    background: rgba(255, 255, 255, .06)
}
html .new-comment .usertext-body,
html .usertext.border .usertext-body {
    background-color: transparent
}
html .thing.comment.new-comment:not(.RES-keyNav-activeThing) .entry {
    border-color: #e5efff !important;
}

/* spoiler overlay
--------------------------------------------------------------------------------*/
html .link.linkflair-spoiler a.title:before {
    border: 2px dashed #36393e;
    background: #282b30
}


/* thing title
--------------------------------------------------------------------------------*/
html .link a.title {
    color: rgba(255, 255, 255, .8)
}
html .link a.title:visited,
html .thing .title:visited,
html .thing.visited .title {
    color: #b0a2e6
}

/* stuff
--------------------------------------------------------------------------------*/
html .post-sharing,
html .subreddit-report-form {
    border-color: rgba(255, 255, 255, .2)!important;
    background: rgba(255, 255, 255, .02)!important
}


/********************************************************************************
* HEADER
*********************************************************************************/
html #sr-header-area {
    background: #282b30!important;
    border-bottom: 1px solid #282b30
}
html .message-count {
    background-color: #aaa333
}
html #sr-header-area .width-clip .dropdown.srdrop .selected.title,
html #sr-header-area a,
html #header-bottom-right a,
html .res #userbarToggle {
    color: #aaa
}

/* header bars */
html #header:before {
    background: #282b30;
    border-bottom: 0
}
html .side:before {
    background: #2f3238
}

html #header .tabmenu {
    background: #282b30;
    border-color: #212428
}
html .side .md>blockquote:first-of-type>p>a {
    color: #c9c9c9;
}
/********************************************************************************
* ANNOUNCEMENT BAR
*********************************************************************************/
html .side .md>blockquote:nth-of-type(2) {
    background: rgba(255, 255, 255, .5);
    color: rgba(0, 0, 0, .6)
}
html .side .md>blockquote:nth-of-type(2) p {
    color: rgba(0, 0, 0, .8)
}
html .side .md>blockquote:nth-of-type(2):after {
    background: rgba(255, 255, 255, .45);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .6), inset 0 0 3px rgba(0, 0, 0, .35)
}

html .side .md>blockquote:first-of-type>p>a strong {
    color: white;
}

/* sidebar common button
--------------------------------------------------------------------------------*/

html .side .md a[href$="#flair"],
html .side .md>h2+ul li a,
html .sidecontentbox .helplink~.content li.more a,
html .sidecontentbox a.helplink {
    box-shadow: 0 0 1px rgba(0,0,0,0.8);
    text-shadow: none;
    background: rgba(255,255,255,.06);
    border-color: rgba(255,255,255,.15);
    border-radius: 2px;
}

html .sidecontentbox .helplink~.content li:not(.more) {
    background: rgba(255,255,255,0.04);
}

/* toggles and subscription stuff
--------------------------------------------------------------------------------*/
html .titlebox .subscribers {
    color: #aaa
}
html .titlebox .users-online,
html .toggle.fancy-toggle-button .option.active,
html.res .res-fancy-toggle-button {
    background: rgba(0, 0, 0, .4);
    color: #aaa
}
html .titlebox form.toggle.flairtoggle,
html .titlebox form.toggle.res-sr-style-toggle {
    color: #aaa
}

/* sidebar rules
--------------------------------------------------------------------------------*/
html .side .md > h3 {
    border-bottom-color: #e3e3e3
}
html .side .md h3+ul+ol:after {
    background: #e3e3e3
}
html .side .md > h3,
html .side .md h3+ul,
html .side .md h3+ul+ol {
    border-left-color: #e3e3e3
}
html .side .md h3+ul+ol>li:before {
    background: #282b30;
    border-color: #e3e3e3;
    font-weight: 700;
    font-size: 13px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    left: -36px;
    top: 3px
}
html .side .md h3+ul a {
    color: #ccc;
}


/* sun/moon switch day mode
--------------------------------------------------------------------------------*/
html .side .md > h1 {
    background: rgba(255, 255, 255, .08);
    border: 1px solid rgba(255, 255, 255, .15)
}
html .side .md > h1 a {
    color: #fff
}
html .side .md > h1 a:last-child {
    border-left: 1px solid rgba(255, 255, 255, .15)
}
/* author panel - set to dark version
--------------------------------------------------------------------------------*/
html .flairrow .author,
html .side .tagline .author,
html .thing .author {
    background-position: 0 0;
    color: #48f
}




html #search input[type=text] {
    background: rgba(255,255,255,.05);
    color: #aaa!important;
}

html .footer .col li.title,
html .footer .col li:not(.title) a {
    color: #888
}
html .bottommenu,
html .bottommenu a {
    color: #777
}

html .md,
html .side .md,
html .submit-page .roundfield>.title,
html .side .md>h2,
html .side .md>h4:first-of-type,
html .side .md>h4>a,
html .side .md>h6,
html .side .md>p:first-of-type,
html .side .md h6+blockquote p a,
html .side #searchexpando {
    color: #c7c7c7;
}
html .thing .md hr {
    background: rgba(255,255,255,0.1)
}
html .md code,
html .md pre {
    background: rgba(0, 0, 0, .08)
}
html .side .md table td,
html .side .md table td a {
    color: #a5a5a5
}

html .comment .score.dislikes,
html .comment .score.likes,
html .comment .score.unvoted,
html .flair:before,
html .link .score.unvoted,
html .tagline time:not(.edited-timestamp) {
    color: #aaa
}


html .linkflair-spoiler .thumbnail,
html .thumbnail,
html .thumbnail.default,
html .thumbnail.nsfw,
html .thumbnail.self {
    background-image: url(%%pokesheet%%) !important;
    border: 1px solid #111
}