
/********************************************************************************
* MOON MODE
*********************************************************************************/

html[lang$=nm] body {
    background: #36393e;
    color: #bdc3c7
}
html[lang$=nm] .md a {
    color: #48f
}
html[lang$=nm] .comment .md a:visited,
html[lang$=nm] .comment .md p>a:visited,
html[lang$=nm] .link .md a:visited {
    color: #8271ff
}


/********************************************************************************
* HEADER
*********************************************************************************/
html[lang$=nm] #sr-header-area {
    background: #282b30!important;
    border-bottom: 1px solid #282b30
}
html[lang$=nm] #sr-header-area .width-clip .dropdown.srdrop .selected.title,
html[lang$=nm] #sr-header-area a {
    background: 0 0;
    color: #aaa
}
html[lang$=nm] .message-count {
    background-color: #aaa333
}
html[lang$=nm] #header-bottom-right a,
html[lang$=nm] .res #userbarToggle {
    color: #aaa
}

/* header bars */
html[lang$=nm] #header:before {
    background: #282b30;
    border-bottom: 0
}
html[lang$=nm] #header:after {
    background: #2f3238
}

html[lang$=nm] #header .tabmenu {
    background: #282b30;
    border-color: #212428
}
html[lang$=nm] .tabmenu li a[href^="j"] {
    color: rgba(255, 255, 255, .3)
}
html[lang$=nm] body:not(.listing-page) .tabmenu li a:not([href^="j"]) {
    background: rgba(255, 255, 255, .04)!important
}


/********************************************************************************
* ANNOUNCEMENT BAR
*********************************************************************************/
html[lang$=nm] .side .md>blockquote:nth-of-type(4) {
    background: rgba(255, 255, 255, .5);
    color: rgba(0, 0, 0, .6)
}
html[lang$=nm] .side .md>blockquote:nth-of-type(4) p {
    color: rgba(0, 0, 0, .8)
}

html[lang$=nm] .side .md>blockquote:nth-of-type(4):after {
    background: rgba(255, 255, 255, .45);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .6), inset 0 0 3px rgba(0, 0, 0, .35)
}

/********************************************************************************
* RESET
*********************************************************************************/
html[lang$=nm] #previoussearch,
html[lang$=nm] .combined-search-page #previoussearch,
html[lang$=nm] .combined-search-page #previoussearch .res-search-pane,
html[lang$=nm] .combined-search-page .search-result-group,
html[lang$=nm] .comment .score,
html[lang$=nm] .entry,
html[lang$=nm] .icon-menu a,
html[lang$=nm] .linkinfo .shortlink input,
html[lang$=nm] .post-sharing,
html[lang$=nm] .side,
html[lang$=nm] .side #searchexpando,
html[lang$=nm] .sidecontentbox,
html[lang$=nm] .sidecontentbox .content,
html[lang$=nm] .submit-page .roundfield,
html[lang$=nm] .subreddit-report-form,
html[lang$=nm] .thing.link,
html[lang$=nm] .titlebox .leavecontributor-button,
html[lang$=nm] .titlebox .leavemoderator,
html[lang$=nm] .titlebox form.toggle,
html[lang$=nm] ul.res-search-tabs li.res-search-tab-active,
html[lang$=nm] .link.RES-keyNav-activeThing,
html[lang$=nm].res .RES-keyNav-activeElement {
    background: #282b30!important;
    color: #aaa;
    border-color: #282b30!important
}

/********************************************************************************
* THING
*********************************************************************************/


html[lang$=nm] .link {
    border: 1px solid transparent;
    box-shadow: none
}
html[lang$=nm] .link .entry {
    border-color: transparent!important
}
html[lang$=nm] .comment .entry {
    border: 1px solid transparent!important
}
html[lang$=nm] .new-comment .usertext-body {
    background-color: transparent
}
html[lang$=nm] .thing.comment.new-comment:not(.RES-keyNav-activeThing) .entry {
    border-color: #e5efff !important;
}

html[lang$=nm] .linkflair-spoiler .thumbnail,
html[lang$=nm] .thumbnail,
html[lang$=nm] .thumbnail.default,
html[lang$=nm] .thumbnail.nsfw,
html[lang$=nm] .thumbnail.self {
    background-image: url(%%pokesheet%%) !important;
    border: 1px solid #111
}
html[lang$=nm] .entry .buttons .first:before {
    display: inline-block
}
html[lang$=nm] .link .midcol {
    background: rgba(255, 255, 255, .01);
    border-right-color: rgba(255, 255, 255, .03)
}

html[lang$=nm].res .RES-keyNav-activeElement .md-container {
    background-color: transparent!important
}

html[lang$=nm] .link.RES-keyNav-activeThing,
html[lang$=nm] .comment.RES-keyNav-activeThing .entry {
    border-color: #575a63 !important;
}

/* tagline stuff
--------------------------------------------------------------------------------*/

html[lang$=nm] .comment .score.dislikes,
html[lang$=nm] .comment .score.likes,
html[lang$=nm] .comment .score.unvoted,
html[lang$=nm] .flair:before,
html[lang$=nm] .link .score.unvoted,
html[lang$=nm] .tagline time:not(.edited-timestamp) {
    color: #aaa
}


/* thing title
--------------------------------------------------------------------------------*/
html[lang$=nm] .link a.title {
    color: rgba(255, 255, 255, .8)
}
html[lang$=nm] .link a.title:visited,
html[lang$=nm] .thing .title:visited,
html[lang$=nm] .thing.visited .title {
    color: #b0a2e6
}

/* author panel - set to dark version
--------------------------------------------------------------------------------*/
html[lang$=nm] .flairrow .author,
html[lang$=nm] .side .tagline .author,
html[lang$=nm] .thing .author {
    background-position: 0 0;
    color: #48f
}

/* spoiler overlay
--------------------------------------------------------------------------------*/
html[lang$=nm] .link.linkflair-spoiler a.title:before {
    border: 2px dashed #36393e;
    background: #282b30
}

/* stuff
--------------------------------------------------------------------------------*/
html[lang$=nm] .post-sharing,
html[lang$=nm] .subreddit-report-form {
    border-color: rgba(255, 255, 255, .2)!important;
    background: rgba(255, 255, 255, .02)!important
}

/********************************************************************************
* COMMENT AREA
*********************************************************************************/
html[lang$=nm] .comment-permalink-page .commentarea>.infobar,
html[lang$=nm] .commentarea .child>.usertext,
html[lang$=nm] .commentarea>.menuarea,
html[lang$=nm] .commentarea>.panestack-title,
html[lang$=nm] .commentarea>.usertext,
html[lang$=nm] .gold-accent.comment-visits-box {
    background: #282b30;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent
}
html[lang$=nm] .comment-permalink-page .commentarea>.menuarea,
html[lang$=nm] .commentarea>.panestack-title {
    border-top: 1px solid transparent
}
html[lang$=nm] .comment-permalink-page .commentarea>.infobar,
html[lang$=nm] .commentarea >.usertext,
html[lang$=nm] .commentarea .child>.usertext,
html[lang$=nm] .gold-accent.comment-visits-box {
    border-bottom: 1px solid transparent
}
html[lang$=nm] .commentarea>.menuarea {
    background: #2a2d33
}
html[lang$=nm] .gold-accent.comment-visits-box .title {
    color: rgba(255, 255, 255, .3)
}

/* comment visits select and tb macro */
html[lang$=nm] body.mod-toolbox .tb-action-button.tb-top-macro-select,
html[lang$=nm] select#comment-visits {
    background: rgba(255, 255, 255, .05)!important;
    color: #aaa!important
}

/* text inputs */
html[lang$=nm] #newlink-with-image-upload .image-upload-drop-target,
html[lang$=nm] .combined-search-page #search input[type=text],
html[lang$=nm] .commentarea>.usertext textarea,
html[lang$=nm] .comments-page .usertext textarea,
html[lang$=nm] .submit-page .roundfield input[type=text],
html[lang$=nm] .submit-page .roundfield input[type=url],
html[lang$=nm] .submit-page .roundfield textarea {
    background: rgba(255, 255, 255, .05);
    color: #aaa!important;
    border: 1px solid rgba(255, 255, 255, .15)!important
}
html[lang$=nm] #search input[type=text] {
    background: rgba(255, 255, 255, .05);
    color: #aaa!important
}
html[lang$=nm] .panestack-title .title,
html[lang$=nm].res .commentingAs {
    color: #aaa
}
html[lang=nm] .res .markdownEditor .edit-btn:not(.btn-macro) {
    background-color: #aaa
}
html[lang$=nm] .usertext .RESBigEditorPop,
html[lang$=nm] .usertext .help-toggle,
html[lang$=nm] .usertext a.reddiquette {
    color: #369
}

/********************************************************************************
* SIDE
*********************************************************************************/
html[lang$=nm] .side {
    border: 0
}
html[lang$=nm] .side #searchexpando {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-color: rgba(255, 255, 255, .15)!important
}

/* sidecontentbox
--------------------------------------------------------------------------------*/
html[lang$=nm] .sidecontentbox {
    border-color: #eee
}
html[lang$=nm] .linkinfo {
    border: 1px solid transparent!important
}
html[lang$=nm] .gadget .reddit-entry {
    border: 0;
    background: rgba(255, 255, 255, .02)!important
}
html[lang$=nm] .gadget .reddit-entry a,
html[lang$=nm] .gadget .score {
    color: #aaa
}

/* sub description
--------------------------------------------------------------------------------*/
html[lang$=nm] .side .md>p:first-of-type {
    background: rgba(255, 255, 255, .03);
    color: #c7c7c7
}

/* sidebar common button
--------------------------------------------------------------------------------*/

html[lang$=nm] .side .md a[href*=flairbot],
html[lang$=nm] .side .md>h2+ul li a,
html[lang$=nm] .sidecontentbox .helplink~.content li.more a,
html[lang$=nm] .sidecontentbox a.helplink {
    box-shadow: 0 0 1px rgba(0,0,0,0.8);
    text-shadow: none;
    background: rgba(255,255,255,.06);
    border-color: rgba(255,255,255,.15);
    border-radius: 2px;
}
html[lang$=nm] .sidecontentbox .helplink~.content li {
    background: rgba(255, 255, 255, .05)
}

/* toggles and subscription stuff
--------------------------------------------------------------------------------*/
html[lang$=nm] .titlebox .subscribers {
    color: #aaa
}
html[lang$=nm] .titlebox .users-online,
html[lang$=nm] .toggle.fancy-toggle-button .option.active,
html[lang$=nm].res .res-fancy-toggle-button {
    background: rgba(0, 0, 0, .4);
    color: #aaa
}
html[lang$=nm] .titlebox form.toggle.flairtoggle,
html[lang$=nm] .titlebox form.toggle.res-sr-style-toggle {
    color: #aaa
}

/* sidebar psa box
--------------------------------------------------------------------------------*/
html[lang$=nm] .side .md > h5,
html[lang$=nm] .side .md h5+ul {
    background: rgba(255,255,255,0.02);
}
html[lang$=nm] .side .md > h5 {
    border-top: 1px solid rgba(255,255,255,0.05);
}
html[lang$=nm] .side .md h5+ul {
    border-bottom: 1px solid rgba(255,255,255,0.05);
}


/* sidebar rules
--------------------------------------------------------------------------------*/
html[lang$=nm] .side .md > h3 {
    border-bottom-color: #e3e3e3
}
html[lang$=nm] .side .md h3+ul+ol:after {
    background: #e3e3e3
}
html[lang$=nm] .side .md > h3,
html[lang$=nm] .side .md h3+ul,
html[lang$=nm] .side .md h3+ul+ol {
    border-left-color: #e3e3e3
}
html[lang$=nm] .side .md h3+ul+ol>li:before {
    background: #282b30;
    border-color: #e3e3e3;
    font-weight: 700;
    font-size: 13px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    left: -36px;
    top: 3px
}
html[lang$=nm] .side .md h3+ul a {
    color: #ccc;
}

/* submission filters
--------------------------------------------------------------------------------*/
html[lang$=nm] .side .md>blockquote:nth-of-type(2) h2 a,
html[lang$=nm] .side .md>blockquote:nth-of-type(2) h4 a {
    background: #282b30;
    box-shadow: none
}

/* side community links
--------------------------------------------------------------------------------*/
html[lang$=nm] .side .md h6+blockquote p {
    background: rgba(255, 255, 255, .02)
}
html[lang$=nm] .side .md h6+blockquote p a {
    background: rgba(255, 255, 255, .05);
    color: rgba(255,255,255,0.6);
}
html[lang$=nm] .side .md h6+blockquote p a:hover {
    background: rgba(255, 255, 255, .12)
}
html[lang$=nm] .side .md h6+blockquote h4 {
    background: rgba(255, 255, 255, .08)
}

/* sun/moon switch day mode
--------------------------------------------------------------------------------*/
html[lang$=nm] .side .md > h1 {
    background: rgba(255, 255, 255, .08);
    border: 1px solid rgba(255, 255, 255, .15)
}
html[lang$=nm] .side .md > h1 a {
    color: #fff
}
html[lang$=nm] .side .md > h1 a:last-child {
    border-left: 1px solid rgba(255, 255, 255, .15)
}

/********************************************************************************
* MISC
*********************************************************************************/

/* listing page sort menu
--------------------------------------------------------------------------------*/
html[lang$=nm] .listing-page .content>.menuarea .spacer {
    background: #282b30;
    border: 1px solid transparent
}

/* md
--------------------------------------------------------------------------------*/

html[lang$=nm] .md,
html[lang$=nm] .md *:not(a),
html[lang$=nm] .side .md,
html[lang$=nm] .side .md *:not(a),
html[lang$=nm] .submit-page .roundfield>.title {
    color: #c7c7c7
}
html[lang$=nm] .thing .md hr {
    background: rgba(0, 0, 0, .14)
}
html[lang$=nm] .md code,
html[lang$=nm] .md pre {
    background: rgba(0, 0, 0, .08)
}
html[lang$=nm] .side .md table td,
html[lang$=nm] .side .md table td a {
    color: #a5a5a5
}
html[lang$=nm] .reddit-infobar .md * {
    color: #202020
}

/* footer
--------------------------------------------------------------------------------*/
html[lang$=nm] .footer .col li.title,
html[lang$=nm] .footer .col li:not(.title) a {
    color: #555
}
html[lang$=nm] .bottommenu,
html[lang$=nm] .bottommenu a {
    color: #777
}

/* misc
--------------------------------------------------------------------------------*/
html[lang$=nm] .RESUserTagImage:after {
    background-image: none!important
}
html[lang$=nm] .drop-choices {
    background: #282b30;
    border: 1px solid rgba(255, 255, 255, .1);
    color: #222
}
html[lang$=nm] .drop-choices a.choice:hover {
    background: rgba(255, 255, 255, .06)
}

/********************************************************************************
* SEARCH AND SUBMIT PAGE MISC
*********************************************************************************/
html[lang$=nm] .search-expando.collapsed:before {
    display: none
}
html[lang$=nm] #newlink-with-image-upload .image-upload-drop-target {
    border-width: 2px!important;
    border-style: dashed!important
}