.icon-menu a { background: transparent }

html[lang$=nm] body,
html[lang$=nm] body:before {
    background: #36393e;
    color: #bdc3c7
}

html[lang$=nm] .md a {
    color: #48f
}
html[lang$=nm] .comment .md a:visited,
html[lang$=nm] .comment .md p>a:visited,
html[lang$=nm] .link .md a:visited {
    color: #8271ff
}

html[lang$=nm] .thing.link,
html[lang$=nm] .entry,
html[lang$=nm] .subreddit-report-form,
html[lang$=nm] .post-sharing,
html[lang$=nm] .comment .score,
html[lang$=nm] #previoussearch,
html[lang$=nm] .combined-search-page #previoussearch .res-search-pane,
html[lang$=nm] .side,
html[lang$=nm] .titlebox .leavecontributor-button,
html[lang$=nm] .titlebox .leavemoderator,
html[lang$=nm] .titlebox form.toggle,
html[lang$=nm] .submit-page .roundfield {
    background: #282b30 !important;
    color: #aaa;
    border-color: #282b30;
    box-shadow: none;
}

html[lang$=nm] .link.RES-keyNav-activeThing,
html[lang$=nm] .comment.RES-keyNav-activeThing .entry {
    border-color: #575a63 !important;
}

.link .midcol {
    border-right: 0;
}

/* comment page
--------------------------------------------------------------------------------*/

html[lang$=nm] .comment-permalink-page .commentarea>.infobar,
html[lang$=nm] .commentarea .child>.usertext,
html[lang$=nm] .commentarea>.panestack-title,
html[lang$=nm] .commentarea>.usertext,
html[lang$=nm] .gold-accent.comment-visits-box {
    background: #282b30;
}
html[lang$=nm] .commentarea > * {
    border: 0;
}

html[lang$=nm] .commentarea>.menuarea {
    background: #2a2d33
}
html[lang$=nm] .gold-accent.comment-visits-box .title {
    color: rgba(255, 255, 255, .3)
}

html[lang$=nm] #newlink-with-image-upload .image-upload-drop-target,
html[lang$=nm] .combined-search-page #search input[type=text],
html[lang$=nm] .commentarea>.usertext textarea,
html[lang$=nm] .comments-page .usertext textarea,
html[lang$=nm] .submit-page .roundfield input[type=text],
html[lang$=nm] .submit-page .roundfield input[type=url],
html[lang$=nm] .submit-page .roundfield textarea,
html[lang$=nm] .markdownEditor .edit-btn:not(.btn-macro) {
    background-color: rgba(255, 255, 255, .05);
    color: #aaa!important;
    border: 1px solid rgba(255, 255, 255, .15)!important
}

html[lang$=nm] .RESUserTagImage:after {
    background-image: none!important
}
html[lang$=nm] .drop-choices,
html[lang$=nm] .side #searchexpando,
html[lang$=nm] body.mod-toolbox .tb-general-button, 
html[lang$=nm] body.mod-toolbox .tb-bracket-button,
html[lang$=nm] .listing-page .content>.menuarea .spacer,
html[lang$=nm] .reddit-infobar {
    background: #282b30;
    border: 1px solid rgba(255, 255, 255, .1);
    color: #c7c7c7
}
html[lang$=nm] .drop-chToices a.choice:hover {
    background: rgba(255, 255, 255, .06)
}
html[lang$=nm] .new-comment .usertext-body,
html[lang$=nm] .usertext.border .usertext-body {
    background-color: transparent
}
html[lang$=nm] .thing.comment.new-comment:not(.RES-keyNav-activeThing) .entry {
    border-color: #e5efff !important;
}

/* spoiler overlay
--------------------------------------------------------------------------------*/
html[lang$=nm] .link.linkflair-spoiler a.title:before {
    border: 2px dashed #36393e;
    background: #282b30
}


/* thing title
--------------------------------------------------------------------------------*/
html[lang$=nm] .link a.title {
    color: rgba(255, 255, 255, .8)
}
html[lang$=nm] .link a.title:visited,
html[lang$=nm] .thing .title:visited,
html[lang$=nm] .thing.visited .title {
    color: #b0a2e6
}

/* stuff
--------------------------------------------------------------------------------*/
html[lang$=nm] .post-sharing,
html[lang$=nm] .subreddit-report-form {
    border-color: rgba(255, 255, 255, .2)!important;
    background: rgba(255, 255, 255, .02)!important
}


/********************************************************************************
* HEADER
*********************************************************************************/
html[lang$=nm] #sr-header-area {
    background: #282b30!important;
    border-bottom: 1px solid #282b30
}
html[lang$=nm] .message-count {
    background-color: #aaa333
}
html[lang$=nm] #sr-header-area .width-clip .dropdown.srdrop .selected.title,
html[lang$=nm] #sr-header-area a,
html[lang$=nm] #header-bottom-right a,
html[lang$=nm] .res #userbarToggle {
    color: #aaa
}

/* header bars */
html[lang$=nm] #header:before {
    background: #282b30;
    border-bottom: 0
}
html[lang$=nm] .side:before {
    background: #2f3238
}

html[lang$=nm] #header .tabmenu {
    background: #282b30;
    border-color: #212428
}
html[lang$=nm] .side .md>blockquote:first-of-type>p>a {
    color: #c9c9c9;
}
/********************************************************************************
* ANNOUNCEMENT BAR
*********************************************************************************/
html[lang$=nm] .side .md>blockquote:nth-of-type(2) {
    background: rgba(255, 255, 255, .5);
    color: rgba(0, 0, 0, .6)
}
html[lang$=nm] .side .md>blockquote:nth-of-type(2) p {
    color: rgba(0, 0, 0, .8)
}
html[lang$=nm] .side .md>blockquote:nth-of-type(2):after {
    background: rgba(255, 255, 255, .45);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .6), inset 0 0 3px rgba(0, 0, 0, .35)
}

html[lang$=nm] .side .md>blockquote:first-of-type>p>a strong {
    color: white;
}

/* sidebar common button
--------------------------------------------------------------------------------*/

html[lang$=nm] .side .md a[href$="#flair"],
html[lang$=nm] .side .md>h2+ul li a,
html[lang$=nm] .sidecontentbox a.helplink {
    box-shadow: 0 0 1px rgba(0,0,0,0.8);
    text-shadow: none;
    background: rgba(255,255,255,.06);
    border-color: rgba(255,255,255,.15);
    border-radius: 2px;
}

html[lang$=nm] .sidecontentbox .helplink~.content li:not(.more) {
    background: rgba(255,255,255,0.04);
}
html[lang$=nm] .sidecontentbox .helplink~.content li:before {
    opacity: 0.5;
}

/* toggles and subscription stuff
--------------------------------------------------------------------------------*/
html[lang$=nm] .titlebox .subscribers {
    color: #aaa
}
html[lang$=nm] .titlebox .users-online,
html[lang$=nm] .toggle.fancy-toggle-button .option.active,
html[lang$=nm].res .res-fancy-toggle-button {
    background: rgba(0, 0, 0, .4);
    color: #aaa
}
html[lang$=nm] .titlebox form.toggle.flairtoggle,
html[lang$=nm] .titlebox form.toggle.res-sr-style-toggle {
    color: #aaa
}

/* sidebar rules
--------------------------------------------------------------------------------*/

html[lang$=nm] .side .md h3+ul+ol:after {
    background: #e3e3e3
}
html[lang$=nm] .side .md h3+ul,
html[lang$=nm] .side .md h3+ul+ol {
    border-left-color: #e3e3e3
}
html[lang$=nm] .side .md h3+ul+ol>li:before {
    background: #282b30;
    border-color: #e3e3e3;
    font-weight: 700;
    font-size: 13px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    left: -36px;
    top: 3px
}
html[lang$=nm] .side .md h3+ul a {
    color: #dfdfdf;
    background: hsla(216,100%,56%,1);
}


/* sun/moon switch day mode
--------------------------------------------------------------------------------*/
html[lang$=nm] .side .md > h1 {
    background: rgba(255, 255, 255, .08);
    border: 1px solid rgba(255, 255, 255, .15)
}
html[lang$=nm] .side .md > h1 a {
    color: #fff
}
html[lang$=nm] .side .md > h1 a:last-child {
    border-left: 1px solid rgba(255, 255, 255, .15)
}
/* author panel - set to dark version
--------------------------------------------------------------------------------*/
html[lang$=nm] .flairrow .author,
html[lang$=nm] .side .tagline .author,
html[lang$=nm] .thing .author {
    background-position: 0 0;
    color: #48f
}




html[lang$=nm] #search input[type=text] {
    background: rgba(255,255,255,.05);
    color: #aaa!important;
}

html[lang$=nm] .side .md>h2:after,
html[lang$=nm] .side .md>h4>a:after,
html[lang$=nm] .side .md>h6:after,
html[lang$=nm] .side .md>h3:after,
html[lang$=nm] .side .md>h5:after {
    background-image: url(%%sidepattern2w%%);
    opacity: 0.08;
}
html[lang$=nm] .titlebox form.toggle.flairtoggle:after,
html[lang$=nm] .titlebox form.toggle.res-sr-style-toggle:after {
    background: url(%%sidepattern1w%%);
    opacity: 0.08;
}

html[lang$=nm] .md,
html[lang$=nm] .side .md,
html[lang$=nm] .submit-page .roundfield>.title,
html[lang$=nm] .side .md>h2,
html[lang$=nm] .side .md>h3,
html[lang$=nm] .side .md>h4:first-of-type,
html[lang$=nm] .side .md>h4>a,
html[lang$=nm] .side .md>h5,
html[lang$=nm] .side .md>h6,
html[lang$=nm] .side .md>p:first-of-type,
html[lang$=nm] .side .md h6+blockquote p a,
html[lang$=nm] .side #searchexpando {
    color: #c7c7c7;
}

html[lang$=nm] .side .md>h5+ul {
    background: rgba(255,255,255,0.03);
}





html[lang$=nm] .sidecontentbox .content {
    background: rgba(255,255,255,0.02);
}
html[lang$=nm] .side .sidecontentbox .title {
    background: hsl(218, 7%, 20%);
    border-color: hsl(218, 7%, 23%)
}
html[lang$=nm] .gadget .reddit-entry {
    background: transparent !important;
}
html[lang$=nm] .gadget .reddit-link {
    border-color: rgba(255,255,255,0.05);
}
html[lang$=nm] .gadget .score {
    color: #777;
}
html[lang$=nm] .gadget .reddit-entry .linkflairlabel {
    background: #23252a;
    color: #888 !important;
}





html[lang$=nm] .thing .md hr {
    background: rgba(255,255,255,0.1)
}
html[lang$=nm] .md code,
html[lang$=nm] .md pre {
    background: rgba(0, 0, 0, .08)
}
html[lang$=nm] .side .md table td,
html[lang$=nm] .side .md table td a {
    color: #a5a5a5
}

html[lang$=nm] .comment .score.dislikes,
html[lang$=nm] .comment .score.likes,
html[lang$=nm] .comment .score.unvoted,
html[lang$=nm] .flair:before,
html[lang$=nm] .link .score.unvoted,
html[lang$=nm] .tagline time:not(.edited-timestamp) {
    color: #aaa
}


html[lang$=nm] .linkflair-spoiler .thumbnail,
html[lang$=nm] .thumbnail,
html[lang$=nm] .thumbnail.default,
html[lang$=nm] .thumbnail.nsfw,
html[lang$=nm] .thumbnail.self {
    background-image: url(%%pokesheet%%) !important;
    border: 1px solid #111
}