
/********************************************************************************
* SEARCH PAGE
*********************************************************************************/

/* Search area wrapper
--------------------------------------------------------------------------------*/
.combined-search-page #previoussearch {
    border: 1px solid #e3e3e3;
    background: white;
}

/* Search area
--------------------------------------------------------------------------------*/
.combined-search-page .searchpane {
    margin: 0;
}
.combined-search-page .searchpane>h4 {
    display: none
}

/* Search input area
--------------------------------------------------------------------------------*/
.combined-search-page #search {
    position: relative!important;
    padding: 10px;
}
.combined-search-page #search input[type=text] {
    font-size: 23px;
    line-height: 32px;
    border-radius: 0;
    margin: 0 0 5px;
    max-width: none;
    color: #333;
    border: 1px solid #c8ccd0
}

/* Search icon
--------------------------------------------------------------------------------*/
.combined-search-page #search .c-btn-primary.c-btn {
    background-color: #ccc;
    border: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 34px;
    border-radius: 0;
    box-shadow: none;
    margin: 0!important
}

/* RES search tabs
--------------------------------------------------------------------------------*/
.res ul.res-search-tabs {
    margin: 0;
    background: rgba(0, 0, 0, .04);
}
.res ul.res-search-tabs li {
    background: 0
}

/* Search results header
--------------------------------------------------------------------------------*/
.combined-search-page .search-result-group-header {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    margin: 0 0 20px;
}