

/* sidebar common header
--------------------------------------------------------------------------------*/

.side .md>h2,
.side .md>h4:first-of-type,
.side .md>h4>a,
.side .md>h6,
.side .md>h3,
.side .md>h5 {
    display: block;
    position: relative;
    padding-left: 61px;
    height: 30px;
    line-height: 30px;
    top: 0;
    left: 0;
    right: 0;
    margin: 10px -7px;
    text-decoration: none;
    font-size: 18px;
    background: 0 0;
    color: #333;
    font-weight: normal;
}

/* positions */
.side .md>h2:before,
.side .md>h4:first-of-type:before,
.side .md>h3:before,
.side .md>h5:before {
    background: 1600px -1340px
}
.side .md>h4>a:before {
    background: -54px -340px
}
.side .md>h6:nth-of-type(1):before {
    background: -180px -373px
}
.side .md>h6:nth-of-type(2):before {
    background: -87px -403px
}

/* element */
.side .md>h2:before,
.side .md>h4:first-of-type:before,
.side .md>h3:before,
.side .md>h5:before,
.side .md>h4>a:before,
.side .md>h6:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(%%pokesheet%%);
    top: 2px;
    left: 21px
}

.side #search,
.side #searchexpando,
.titlebox>h1 {
    left: 0;
    position: absolute
}

/* common header bg */
.side .md>h2:after,
.side .md>h4:first-of-type:after,
.side .md>h4>a:after,
.side .md>h6:after,
.side .md>h3:after,
.side .md>h5:after,
.titlebox form.toggle.flairtoggle:after,
.titlebox form.toggle.res-sr-style-toggle:after,
.titlebox form.toggle.sr_style_toggle:after {
    content: '';
    background: url(%%sidepattern2%%) -5px 1px no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .08;
    z-index: 0;
    pointer-events: none
}

.titlebox form.toggle.flairtoggle *,
.titlebox form.toggle.res-sr-style-toggle * {
    position: relative;
    z-index: 5
}

/* common sidebar button and common checkboxes
--------------------------------------------------------------------------------*/

/* common button */
.side .md a[href*="#flair"],
.side .md>h2+ul li a,
.sidecontentbox a.helplink {
    border-radius: 2px;
    text-align: center;
    text-shadow: 0 1px 0 #5787e1;
    background: #59f;
    border: 1px solid #59f;
    box-shadow: 0 1px 2px #CECECE;
    color: white !important;
}

/* common checkboxes */
.titlebox form.toggle.flairtoggle,
.titlebox form.toggle.res-sr-style-toggle,
.titlebox form.toggle.sr_style_toggle {
    position: relative;
    padding: 0 0 0 30px;
    height: 18px
}
.titlebox form.toggle.flairtoggle:after,
.titlebox form.toggle.res-sr-style-toggle:after,
.titlebox form.toggle.sr_style_toggle:after {
    background: url(%%sidepattern1%%)
}
