

/********************************************************************************
* SIDEBAR
*********************************************************************************/

/* Element
--------------------------------------------------------------------------------*/
.side {
    z-index: 500;
    margin-top: 107px;
    position: relative;
    padding-top: 735px;
    border-radius: 5px
}
.side .sponsorshipbox {
    position: relative;
    top: 15px
}
.side .md {
    margin: 7px
}

/* we use hr split off blockquotes, we don't want the actual hr to show */
.side .md hr {
    background: 0 0
}
.side .spacer {
    margin: 0
}

/* Search
--------------------------------------------------------------------------------*/
.side #search {
    bottom: 100%;
    right: 0;
    margin-bottom: 41px
}
#search input[type=text] {
    border: 0;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .1)
}
#search input[type=submit] {
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;
    border: 0;
    box-shadow: none
}
.side #searchexpando {
    right: 0;
    z-index: 999
}

/* Titlebox stuff
--------------------------------------------------------------------------------*/
.titlebox {
    display: -webkit-flex;
    display: flex;
    flex-direction: column
}
.titlebox>* {
    order: 1
}
.titlebox>.leavecontributor-button,
.titlebox>.leavemoderator {
    order: 2
}

/* side top-logo */
.titlebox>h1 {
    top: 0;
    right: 0
}
.titlebox>h1 a {
    display: block;
    position: relative;
    font-size: 0;
    height: 60px;
    width: 100%;
    background: url(%%sidelogo%%) center bottom/50% no-repeat;
    margin: 0 auto
}

/* hide stuff */
.moderator.toggle .main:before,
.titlebox .bottom,
.titlebox .leavemoderator:before,
.titlebox form.leavecontributor-button:before {
    display: none
}

/* toggles */
.titlebox .leavecontributor-button,
.titlebox .leavemoderator,
.titlebox form.toggle {
    text-align: left;
    padding: 3px 20px
}

/* Subscribers/Users online
--------------------------------------------------------------------------------*/
.titlebox .subscribers,
.titlebox .users-online {
    position: absolute;
    color: #FFF;
    top: 100px;
    left: 30px;
    right: 30px;
    padding-left: 65px;
    line-height: 20px
}
.titlebox .users-online {
    top: 120px
}

.titlebox .users-online .number:before {
    content: '';
    position: absolute;
    display: block;
    background: url(%%pokesheet%%) 0 -250px;
    width: 52px;
    height: 50px;
    bottom: -8px;
    left: 0
}

.titlebox .number:after {
    content: " Pokémon Trainers"
}
.titlebox .users-online .number:after {
    content: " Online Now"
}

/* subscription buttons
--------------------------------------------------------------------------------*/
.titlebox .word,
.users-online:before {
    display: none
}
.res .res-fancy-toggle-button,
.toggle.fancy-toggle-button .option.active {
    background: #0c0c0c;
    border: 0;
    border-radius: 0;
    line-height: 20px;
    height: 20px;
    display: inline-block;
    text-transform: capitalize
}
.res-fancy-toggle-button.RESDashboardToggle,
.res-fancy-toggle-button.RESshortcut,
.titlebox .fancy-toggle-button {
    position: absolute;
    top: 150px
}
.titlebox .fancy-toggle-button {
    left: 30px
}
.res-fancy-toggle-button.RESshortcut {
    left: 116px
}
.res-fancy-toggle-button.RESDashboardToggle {
    right: 25px
}

/* edit flair area
--------------------------------------------------------------------------------*/

/* flair toggle */
.titlebox form.toggle.flairtoggle {
    top: 185px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box
}
.flairtoggle label {
    display: -webkit-flex;
    display: flex;
    align-items: center
}

/* flair preview tagline */
.titlebox .tagline {
    position: absolute;
    left: -10px;
    top: 210px
}

/* edit flair link */
.side .md a[href*=flairbot] {
    line-height: 26px;
    display: block;
    position: absolute;
    top: 260px;
    left: 30px;
    right: 30px
}

/* checkboxes
--------------------------------------------------------------------------------*/

/* stylesheet toggle */
.titlebox form.toggle.res-sr-style-toggle {
    text-transform: capitalize;
    top: 70px;
    left: 0;
    right: 0
}

.res-sr-style-toggle input {
    display: none
}
.res-sr-style-toggle label {
    display: -webkit-flex;
    display: flex;
    align-items: center
}

/* checkboxes */
.flairtoggle input[type=checkbox]~label:before,
.res-sr-style-toggle label:before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 16px;
    margin-right: 5px
}
.flairtoggle input[type=checkbox],
.side .md>h2+ul+hr {
    display: none
}
.flairtoggle input[type=checkbox]:not(:checked)~label:before {
    background: url(%%pokesheet%%) -178px -195px
}
.flairtoggle input[type=checkbox]:checked~label:before,
.res-sr-style-toggle label:before {
    background: url(%%pokesheet%%) -194px -195px
}

/* Submit links
--------------------------------------------------------------------------------*/
.side .md>h2 {
    position: absolute;
    top: 450px;
    margin: 0
}

/* list */
.side .md>h2+ul {
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 475px;
    left: 0;
    right: 0
}
.side .md>h2+ul li a {
    line-height: 30px;
    display: inline-block;
    left: 30px;
    position: relative;
    margin: 2px auto;
    width: 244px
}

/* icons */
.side .md>h2+ul li a:before {
    content: "";
    background: url(%%Flair%%);
    display: block;
    position: absolute;
    width: 40px;
    height: 32px;
    margin-bottom: 10px
}


.side .md a[href$="/submit"]:before {
    background-position: -960px 0
}
.side .md a[href$="/submit?selftext=true"]:before {
    background-position: -440px -416px
}
.side .md a[href*="/4lpffw"]:before {
    background-position: -800px -32px
}
.side .md a[href*="/r/pokemontrades/submit"]:before {
    background-position: -1080px -64px
}
.side .md a[href*="/r/pokememes/submit"]:before {
    background-position: -480px -64px
}
.side .md a[href*="/r/shinypokemon/submit"]:before {
    background-position: -720px -768px
}


/* subreddit description
--------------------------------------------------------------------------------*/
.side .md>p:first-of-type {
    position: absolute;
    top: 305px;
    margin: 0 16px;
    padding: 8px
}

/* Night/day mode switch (nm switch/dm switch/sn switch/sun switch/moon switch)
--------------------------------------------------------------------------------*/
.side .md h1:first-of-type {
    position: absolute;
    top: 385px;
    left: 20px;
    right: 20px;
    height: 36px;
    border-radius: 18px;
    box-sizing: border-box
}
.side .md h1:first-of-type a {
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    line-height: 36px;
    font-size: 15px;
    text-align: right;
    padding-right: 10px;
    position: relative
}
.side .md h1:first-of-type a:before {
    content: '';
    display: block;
    position: absolute;
    background: url(%%pokesheet%%) -125px -405px;
    width: 27px;
    height: 27px;
    left: 10px;
    top: 3px
}
.side .md h1:first-of-type a:last-child:before {
    left: 3px;
    background-position: -157px -405px
}


html[lang$=nm] .side .md h1:first-of-type a:last-child:before {
    background-position: -157px -437px
}
html[lang$=nm] .side .md h1:first-of-type a:last-child {
    color: #2da8e8
}

html:not([lang$=nm]) .side .md h1:first-of-type a:first-child:before {
    background-position: -125px -437px
}
html:not([lang$=nm]) .side .md h1:first-of-type a:first-child {
    color: #e3b34d
}

html:not([lang$=nm]) .side .md h1:first-of-type a:last-child,
html[lang$=nm] .side .md h1:first-of-type a:first-child {
    font-weight: 400
}

/* Morelinks
--------------------------------------------------------------------------------*/
.nub,
.sidebox.create .spacer,
.sidebox.submit-link .morelink,
.sidebox.submit-text .morelink {
    display: none
}
.sidebox.create .morelink {
    background: 0 0;
    border: 0
}

/* link info box
--------------------------------------------------------------------------------*/
.linkinfo {
    margin-right: 16px;
    margin-left: 23px;
    padding: 8px;
    background: rgba(255, 255, 255, .03);
    text-align: center
}
.linkinfo .date {
    text-transform: uppercase;
    font-size: 9px;
    color: #ccc;
    margin-bottom: 10px
}
.linkinfo .score .word,
.linkinfo .shortlink {
    font-size: 0
}
.linkinfo .shortlink input {
    font-size: 13px;
    text-align: center;
    border: 0;
    margin-top: 10px
}
.linkinfo .score {
    margin-bottom: 5px;
    display: block;
    width: 100%
}

/* submission filters
--------------------------------------------------------------------------------*/
.side .md>blockquote {
    border-left: 0;
    padding: 0 5px
}
.side .md>blockquote:nth-of-type(2):after {
    content: '';
    display: table;
    clear: left
}

/* header title */
.side .md>h4>a:before {
    transition: left .5s ease-out
}
.side .md>h4>a:hover {
    color: #0079d3
}
.side .md>h4>a:hover:before {
    left: 220px
}

/* filter links */
.side .md>blockquote:nth-of-type(2) h2,
.side .md>blockquote:nth-of-type(2) h4 {
    width: 50%;
    height: 30px;
    display: block;
    float: left;
    margin: 0 0 10px;
    padding: 0
}
.side .md>blockquote:nth-of-type(2) h2 {
    width: 100%
}
.side .md>blockquote:nth-of-type(2) h2 a,
.side .md>blockquote:nth-of-type(2) h4 a {
    display: block;
    border: 1px solid;
    border-radius: 3px;
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    text-align: center
}


.side .md>blockquote:nth-of-type(2) h4:nth-child(odd) a {
    border-radius: 3px 0 0 3px
}
.side .md>blockquote:nth-of-type(2) h4:nth-child(even) a {
    border-radius: 0 3px 3px 0
}
.side .md>blockquote:nth-of-type(2) h4:nth-child(1) a,
.side .md>blockquote:nth-of-type(2) h4:nth-child(2) a {
    border-color: #a7565c;
    color: #a7565c
}
.side .md>blockquote:nth-of-type(2) h4:nth-child(3) a,
.side .md>blockquote:nth-of-type(2) h4:nth-child(4) a {
    border-color: #856fa6;
    color: #856fa6
}
.side .md>blockquote:nth-of-type(2) h4:nth-child(5) a,
.side .md>blockquote:nth-of-type(2) h4:nth-child(6) a {
    border-color: #76c374;
    color: #76c374
}
.side .md>blockquote:nth-of-type(2) h4:nth-child(7) a,
.side .md>blockquote:nth-of-type(2) h4:nth-child(8) a {
    border-color: #e6d76d;
    color: #e6d76d
}
.side .md>blockquote:nth-of-type(2) h4:nth-child(10) a,
.side .md>blockquote:nth-of-type(2) h4:nth-child(9) a {
    border-color: #e868c1;
    color: #e868c1
}
.side .md>blockquote:nth-of-type(2) h2:nth-of-type(1) a {
    border-color: #919290;
    color: #919290
}
.side .md>blockquote:nth-of-type(2) h2:nth-of-type(2) a {
    border-color: #59f;
    color: #59f
}
.side .md>blockquote:nth-of-type(2) * a:hover {
    font-weight: 700
}
