
/* sidecontentbox
--------------------------------------------------------------------------------*/
.sidecontentbox {
    margin: 7px;
    padding: 5px;
    background-color: transparent;
    border-top: 1px solid rgba(255, 255, 255, .1)
}

/* title */
.side .sidecontentbox .title,
.side .sidecontentbox .title h1 {
    text-transform: uppercase;
    font-weight: 400;
    padding: 0!important;
    margin: 5px;
    text-align: center;
    line-height: 14px
}

/* list */
.sidecontentbox .content {
    border: 0
}

/* sidecontentbox moderators
--------------------------------------------------------------------------------*/

/* item */
.sidecontentbox .helplink~.content li {
    position: relative;
    min-height: 26px;
    padding-top: 3px;
    margin-bottom: 6px;
    border-radius: 16px 3px 3px 16px;
    background: rgba(0, 0, 0, .05)
}
.sidecontentbox .helplink~.content li:before {
    content: '';
    display: block;
    position: absolute;
    background: url(%%pokesheet%%) -55px -177px;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0
}

/* author link */
.sidecontentbox .helplink~.content li>a {
    top: -3px;
    position: relative
}

/* about mod team */
.sidecontentbox .helplink~.content li.more {
    border-radius: 3px;
    background: 0 0
}
.sidecontentbox .helplink~.content li.more:before {
    display: none
}
.sidecontentbox .helplink~.content li.more a {
    height: 26px;
    line-height: 26px;
    display: block;
    margin: 5px 0 0 5px
}

/* message the moderators link */
.sidecontentbox a.helplink {
    display: block;
    float: none;
    line-height: 28px;
    font-size: 13px;
    padding: 0 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}

/* sidebar misc
--------------------------------------------------------------------------------*/
.gadget .reddit-entry {
    margin-top: 5px!important;
    padding-top: 5px;
}
.gadget .reddit-entry .linkflairlabel {
    display: inline-block;
    position: static!important;
    padding: 0 8px;
    max-width: initial !important;
    color: #333 !important;
    background: #f0f0f0;
}
.gadget .reddit-link-end {
    padding-top: 5px
}
.sidebox .spacer {
    background: 0 0;
    margin: 10px
}

table {
    font-size: .95em
}

.account-activity-box a {
    display: inline-block;
    line-height: 28px;
    margin-top: -10px
}
