
/* PSA box
--------------------------------------------------------------------------------*/
.side .md>h5,
.side .md h5+ul {
    margin: 0 -7px;
    padding: 10px 25px;
    list-style-type: none
}
.side .md>h5 {
    font-weight: 400;
    font-size: 13px;
    padding-bottom: 5px;
    position: relative
}
.side .md h5+ul {
    padding-top: 0;
    margin-bottom: 20px
}
.side .md h5+ul p {
    margin: 0;
    padding: 2.5px 0;
    font-size: 11px !important
}


/* pokemon go teams
--------------------------------------------------------------------------------*/
.side .md > h4:first-of-type {
    padding-left: 20px
}
.side .md > h4 + ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 20px 30px
}

.side .md > h4 + ul li {
    line-height: 32px;
    height: 32px;
    padding: 0 15px 0 48px;
    font-size: 0;
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
    background: #fff;
    margin-bottom: 15px
}
html[lang$=nm] .side .md > h4 + ul li {
    background: rgba(0, 0, 0, .4);
}
.side .md > h4 + ul li strong {
    font-size: 12px
}
.side .md > h4 + ul li:before {
    content: '';
    display: block;
    position: absolute;
    height: 48px;
    width: 48px;
    background: url(%%go-teams%%) no-repeat;
    left: -5px;
    top: -10px
}

.side .md > h4 + ul li:nth-child(2):before { background-position: -48px 0 }
.side .md > h4 + ul li:nth-child(3):before { background-position: -96px 0 }

.side .md h3+ul a, .side .md table tr:nth-child(even) {
    background: rgba(255, 255, 255, .04)
}

.side .md > h4 + ul li:nth-child(1) { box-shadow: 0 .5px 0 2px #0076ec }
.side .md > h4 + ul li:nth-child(2) { box-shadow: 0 .5px 0 2px #fad207 }
.side .md > h4 + ul li:nth-child(3) { box-shadow: 0 .5px 0 2px #f71106 }

/* submission rules
--------------------------------------------------------------------------------*/

.side .md > h3,
.side .md h3+ul,
.side .md h3+ul+ol {
    border-left: 1px solid rgba(255, 255, 255, .2);
    margin: 0 0 0 20px;
    padding-left: 20px;
    list-style-type: none
}
.side .md > h3 {
    border-left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    width: 50%;
    font-size: 13px;
    padding-bottom: 5px
}
.side .md h3+ul a {
    display: inline-block;
    padding: 6px 8px;
    margin-top: 10px;
    border-radius: 3px
}
.side .md h3+ul+ol {
    margin-bottom: 20px;
    counter-reset: siderules;
    position: relative
}
.side .md h3+ul+ol>li {
    position: relative;
    min-height: 30px;
    padding-top: 10px
}
.side .md h3+ul+ol>li:before {
    counter-increment: siderules;
    content: counter(siderules);
    position: absolute;
    text-align: center;
    box-sizing: content-box;
    border: 3px solid #282b30;
    border-radius: 50%;
    -webkit-transform: scale(.86);
    transform: scale(.86)
}
.side .md h3+ul+ol:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 1px
}

/* sidebar calendar
--------------------------------------------------------------------------------*/
.side .md table td,
.side .md table th {
    border: 0
}

.side .md table tr:nth-child(odd) {
    background: rgba(0,0,0,.03)
}
.side .md table td+td,
.side .md table th+th {
    border-left: 1px solid rgba(0,0,0,.02)
}
.side .md table th {
    border-bottom: 1px solid rgba(0,0,0,.02)
}

html[lang$=nm] .side .md table tr:nth-child(odd) {
    background: rgba(255, 255, 255, .01)
}
html[lang$=nm] .side .md table td+td,
html[lang$=nm] .side .md table th+th {
    border-left: 1px solid rgba(255, 255, 255, .03)
}
html[lang$=nm] .side .md table th {
    border-bottom: 1px solid rgba(255, 255, 255, .03)
}

/* sidebar community links
--------------------------------------------------------------------------------*/
.side .md h6+blockquote {
    padding: 0;
    margin: 0 5px 20px
}

/* main links */
.side .md h6+blockquote p {
    font-size: 0;
    padding: 0 5px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: stretch
}

.side .md h6+blockquote p:last-of-type {
    padding-bottom: 10px
}

.side .md h6+blockquote p a {
    font-size: 13px;
    line-height: 22px;
    display: inline-block;
    margin-right: 3px;
    margin-top: 4px;
    color: #b7b7b7;
    padding: 0 5px;
    flex-grow: 1;
    text-align: center
}

/* related subs button */
.side .md h6+blockquote h4 {
    margin: 0;
    padding: 7px 5px;
    font-size: 13px;
    text-align: center
}
