
/* sidecontentbox
--------------------------------------------------------------------------------*/
.sidecontentbox {
    margin: 0;
    background-color: transparent;
}

/* content */
.sidecontentbox .content {
    border: 0;
}

/* moderation tools
--------------------------------------------------------------------------------*/
#moderation_tools.sidecontentbox .content {
    border: 1px solid hsl(210,20%,86%);
    margin:  10px;
    border-radius: 10px;
}

/* sidecontentbox moderators
--------------------------------------------------------------------------------*/
.sidecontentbox .helplink ~ .content {
    background: hsl(210,20%,96%);
    margin: 10px;
    border-radius: 10px;
}
    
/* item */
.sidecontentbox .helplink ~ .content li:not(.more) {
    position: relative;
    background: white;
    border: 1px solid hsl(210,20%,86%);
    margin-bottom: 3px;
    min-height: 29px;
    border-radius: 16px 3px 3px 16px;
    padding-top: 3px;
}

/* item pokeball */
.sidecontentbox .helplink~.content li:not(.more):before {
    content: '';
    display: block;
    position: absolute;
    background: url(%%pokesheet%%) -54px -36px;
    width: 34px;
    height: 34px;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.2;
    margin: -1px;
}

/* author link */
.sidecontentbox .helplink~.content li:not(.more) > a {
    top: -3px;
    position: relative
}

/* message the moderators link */
.sidecontentbox a.helplink {
    display: block;
    float: none;
    margin: 10px 15px 20px;
}

/* recently viewed links
--------------------------------------------------------------------------------*/
.gadget .reddit-link {
    border-radius: 10px;
    padding: 8px 0 5px;
    margin: 5px 5px 5px;
    border: 1px solid hsl(210,20%,90%);
    background: hsl(210,10%,98%);
}
.gadget .reddit-entry {
    margin-top: 0 !important;
}
.gadget .reddit-entry .linkflairlabel {
    display: inline-block;
    position: static!important;
    max-width: initial!important;
    background: #999;
    color: white !important;
    line-height: 20px !important;
    padding: 0 8px;
    border-radius: 6px;
    min-height: initial;
    min-width: initial !important;
    margin: 0 6px 0 0;
    font-size: 11px;
    float: left;
}
.gadget .reddit-link-title {
    line-height: 20px;
    font-weight: bold;
}
.gadget .reddit-link-end {
    padding-top: 5px
}

/* account activity box
--------------------------------------------------------------------------------*/
.account-activity-box {
    border-top: 1px solid #cdcdd6;
}

.account-activity-box a {
    display: inline-block;
    line-height: 28px;
    font-size: 12px;
}

/* nightmode
--------------------------------------------------------------------------------*/
html[lang$=nm] .sidecontentbox .content {
    background: rgba(255,255,255,0.02);
}
html[lang$=nm] .side .sidecontentbox .title {
    background: hsl(218, 7%, 20%);
    border-color: hsl(218, 7%, 23%)
}
html[lang$=nm] .gadget .reddit-entry {
    background: transparent !important;
}
html[lang$=nm] .gadget .reddit-link {
    border-color: rgba(255,255,255,0.05);
}
html[lang$=nm] .gadget .score {
    color: #777;
}
html[lang$=nm] .gadget .reddit-entry .linkflairlabel {
    background: #23252a;
    color: #888 !important;
}