.side table {
    font-size: .95em
}

/* fancy divider
--------------------------------------------------------------------------------*/

.side .md > h1 ~ blockquote + hr,
.side .md > ol + hr {
    background-image: linear-gradient(-90deg, #ff0082 0%, #ff0082 50%, #0080ff 50%, #0080ff 100%);
    margin: 20px -7px 0;
}

.side .md > ol + hr + h4 + blockquote + hr {
    margin-top: 0;
}

/* sidebar common header
--------------------------------------------------------------------------------*/
.side .md>h4>a,
.side .md>h6,
.side .md>h3,
.side .sidecontentbox .title {
    display: block;
    position: relative;
    padding-left: 50px;
    height: 30px;
    line-height: 30px;
    top: 0;
    left: -1px;
    box-sizing: border-box;
    width: 250px;
    margin: 10px -7px;
    text-decoration: none;
    background: #65609F;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.side .md>h3:before,
.side .md>h6:before,
.sidecontentbox .title:before {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    background: url(%%pokesheet%%) 0 -250px;
    top: 5px;
    left: 18px;
    transform: scale(0.2);
    transform-origin: top left;
}

.side #search,
.side #searchexpando,
.titlebox>h1 {
    position: absolute;
    width: 302px;
    right: 5px;
}

/* common header triangle left */
.side .md>h4>a:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 0;
    width: 0;
    border-top: 30px solid #65609F;
    border-left: 15px solid transparent;
}

/* common header triangle right */
.side .md>h4>a:after,
.side .md>h6:after,
.side .md>h3:after,
.side .sidecontentbox .title:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    height: 0;
    width: 0;
    border-top: 30px solid #65609F;
    border-right: 15px solid transparent;
}

/* sidecontentbox fix */
.sidecontentbox .title {
    margin: 10px 0 0 !important;
    font-size: 15px !important;
}
.sidecontentbox .title h1 {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.sidecontentbox .title .collapse-button {
    left: 100%;
    right: initial;
    margin-left: 20px;
    position: absolute;
    top: 9px;
}

/* common sidebar button
--------------------------------------------------------------------------------*/
.side .md>h2+ul li a,
.sidecontentbox a.helplink,
.side .md h6+blockquote h4 a {
    display: block;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    background: #59f;
    border: 1px solid #59f;
    box-shadow: 0 1px 2px #CECECE;
    color: white!important;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    border-radius: 14px;
}