

/********************************************************************************
* SIDEBAR
*********************************************************************************/

/* Element
--------------------------------------------------------------------------------*/
.side {
    margin-top: 107px;
    position: relative;
    padding-top: 980px;
    border-radius: 5px;
    border: 1px solid #e3e3e3
}
.side .sponsorshipbox {
    position: relative;
    top: 15px
}
.ad300x250 {
    height: 250px;
    margin-top: 15px;
}

#ad_main_top {
    position: absolute;
    top: 170px;
    left: 0;
    transform: scale(0.98);
}

.side .md {
    margin: 7px
}

/* we use hr split off blockquotes, we don't want the actual hr to show */
.side .md hr {
    background: 0
}
.side .spacer {
    margin: 0
}

/* Search
--------------------------------------------------------------------------------*/
.side #search {
    bottom: 100%;
    right: 0;
    margin-bottom: 41px
}
#search input[type=text] {
    border: 0;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .1)
}
#search input[type=submit] {
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;
    border: 0;
    box-shadow: none
}
.side #searchexpando {
    right: 0;
    z-index: 999
}

/* Titlebox stuff
--------------------------------------------------------------------------------*/
.titlebox {
    margin-top: 0;
    font-size: 1.2em;
}

/* side top-logo */
.titlebox>h1 {
    top: 0;
    right: 0
}
.titlebox>h1 a {
    display: block;
    position: relative;
    font-size: 0;
    height: 60px;
    width: 100%;
    background: url(%%sidelogo%%) center bottom/50% no-repeat;
    margin: 0 auto
}

/* hide stuff */
.moderator.toggle .main:before,
.titlebox .bottom,
.titlebox .leavemoderator:before,
.titlebox form.leavecontributor-button:before,
.titlebox form.toggle.leavecontributor-button,
.titlebox .leavemoderator {
    display: none
}

/* toggles */
.titlebox .leavecontributor-button,
.titlebox .leavemoderator,
.titlebox form.toggle {
    text-align: left;
    padding: 5px 20px
}

.side .md hr:first-of-type {
    display: none;
}

/* Subscribers/Users online
--------------------------------------------------------------------------------*/
.titlebox .subscribers,
.titlebox .users-online {
    position: absolute;
    color: #333;
    top: 100px;
    left: 30px;
    right: 30px;
    padding-left: 65px;
    line-height: 20px
}
.titlebox .users-online {
    top: 120px;
    background: #f0f0f0;
}

.titlebox .users-online .number:before {
    content: '';
    position: absolute;
    display: block;
    background: url(%%pokesheet%%) 0 -250px;
    width: 52px;
    height: 50px;
    bottom: -8px;
    left: 0
}

.titlebox .number:after {
    content: " Pokémon Trainers"
}
.titlebox .users-online .number:after {
    content: " Online Now"
}

/* subscription buttons
--------------------------------------------------------------------------------*/
.titlebox .word,
.users-online:before {
    display: none
}
.res .res-fancy-toggle-button,
.toggle.fancy-toggle-button .option.active {
    border: 0;
    border-radius: 0;
    line-height: 20px;
    height: 20px;
    display: inline-block;
    text-transform: capitalize;
    background: #f0f0f0;
    color: #333
}
.res-fancy-toggle-button.RESDashboardToggle,
.res-fancy-toggle-button.RESshortcut,
.titlebox .fancy-toggle-button {
    position: absolute;
    top: 150px
}
.titlebox .fancy-toggle-button {
    left: 30px
}
.res-fancy-toggle-button.RESshortcut {
    left: 116px
}
.res-fancy-toggle-button.RESDashboardToggle {
    right: 25px
}

/* gold toggle sr style checkbox
--------------------------------------------------------------------------------*/
.titlebox form.toggle.sr_style_toggle {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

/* edit flair area
--------------------------------------------------------------------------------*/

/* flair toggle */
.titlebox form.toggle.flairtoggle {
    top: 445px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box
}
.flairtoggle label {
    display: -webkit-flex;
    display: flex;
    align-items: center
}

/* flair preview tagline */
.titlebox .tagline {
    position: absolute;
    left: -10px;
    top: 470px
}

/* edit flair link */
.side .md a[href*="#flair"] {
    line-height: 26px;
    display: block;
    position: absolute;
    top: 520px;
    left: 30px;
    right: 30px;
    font-size: 12px
}

/* checkboxes
--------------------------------------------------------------------------------*/

/* stylesheet toggle */
.titlebox form.toggle.res-sr-style-toggle {
    text-transform: capitalize;
    top: 70px;
    left: 0;
    right: 0
}

.res-sr-style-toggle label,
.sr_style_toggle label {
    display: -webkit-flex;
    display: flex;
    align-items: center
}

/* checkboxes */
.flairtoggle input[type=checkbox]~label:before,
.res-sr-style-toggle label:before,
.sr_style_toggle label:before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 16px;
    margin-right: 5px
}
.flairtoggle input[type=checkbox],
.side .md>h2+ul+hr,
.res-sr-style-toggle input,
.sr_style_toggle input {
    display: none
}
.flairtoggle input[type=checkbox]:not(:checked)~label:before,
.sr_style_toggle input[type=checkbox]:not(:checked)~label:before {
    background: url(%%pokesheet%%) -178px -195px
}
.flairtoggle input[type=checkbox]:checked~label:before,
.res-sr-style-toggle label:before,
.sr_style_toggle input[type=checkbox]:checked~label:before {
    background: url(%%pokesheet%%) -194px -195px
}

/* Submit links
--------------------------------------------------------------------------------*/
.side .md>h2 {
    position: absolute;
    top: 700px;
    margin: 0
}

/* list */
.side .md>h2+ul {
    padding: 0;
    list-style: none;
    position: absolute;
    top: 725px;
    left: 0;
    right: 0
}
.side .md>h2+ul li a {
    line-height: 30px;
    display: block;
    margin: 7px auto;
    width: 244px
}

/* icons */
.side .md a[href$="/submit"]:before {
    background: -960px 0
}
.side .md a[href$="selftext=true"]:before {
    background: -440px -416px
}
.side .md a[href$="#q"]:before {
    background: -800px -32px
}
.side .md a[href*="pokemontrades"]:before {
    background: -840px -576px
}
.side .md a[href*="pokememes"]:before {
    background: -480px -64px
}
.side .md a[href*="shinypokemon"]:before {
    background: -720px -768px
}

.side .md>h2+ul li a:before {
    content: "";
    background-image: url(%%Flair%%) !important;
    display: block;
    position: absolute;
    width: 40px;
    height: 32px;
}

/* subreddit description
--------------------------------------------------------------------------------*/
.side .md>p:first-of-type {
    position: absolute;
    top: 558px;
    margin: 0 16px;
    padding: 8px;
    line-height: 16px;
    font-size: 12px;
    
    background: rgba(0, 0, 0, .025);
    color: #222;
}

/* Night/day mode switch (nm switch/dm switch/sn switch/sun switch/moon switch)
--------------------------------------------------------------------------------*/
.side .md > h1 {
    position: absolute;
    top: 635px;
    left: 20px;
    right: 20px;
    border-radius: 18px;
    box-sizing: border-box;
    
    background: 0;
    border: 1px solid #dedede
}
.side .md > h1 a {
    display: inline-block;
    width: 48%;
    box-sizing: border-box;
    line-height: 36px;
    font-size: 14px;
    text-align: right;
    padding-right: 10px;
    position: relative;
    color: #555
}
.side .md > h1 a:last-child {
    border-left: 1px solid #dedede
}

.side .md > h1 a:before {
    content: '';
    display: block;
    position: absolute;
    background: url(%%pokesheet%%) -125px -405px;
    width: 27px;
    height: 27px;
    left: 10px;
    top: 3px
}
.side .md > h1 a:last-child:before {
    left: 3px;
    background-position: -157px -405px
}


html[lang$=nm] .side .md > h1 a:last-child:before {
    background-position: -157px -437px
}
html[lang$=nm] .side .md > h1 a:last-child {
    color: #2da8e8
}

html:not([lang$=nm]) .side .md > h1 a:first-child:before {
    background-position: -125px -437px
}
html:not([lang$=nm]) .side .md > h1 a:first-child {
    color: #e3b34d
}

html:not([lang$=nm]) .side .md > h1 a:last-child,
html[lang$=nm] .side .md > h1 a:first-child {
    font-weight: 400
}

/* Morelinks
--------------------------------------------------------------------------------*/
.sidebox.create,
.sidebox.submit {
    display: none
}
.sidebox.create .morelink {
    background: 0 0;
    border: 0
}

/* link info box
--------------------------------------------------------------------------------*/
.linkinfo {
    margin-right: 16px;
    margin-left: 23px;
    padding: 8px;
    background: rgba(255, 255, 255, .03);
    border: 1px solid #e3e3e3;
    text-align: center
}
.linkinfo .date {
    text-transform: uppercase;
    font-size: 9px;
    color: #ccc;
    margin-bottom: 10px
}
.linkinfo .score .word,
.linkinfo .shortlink {
    font-size: 0
}
.linkinfo .shortlink input {
    font-size: 13px;
    text-align: center;
    border: 0;
    margin-top: 10px
}
.linkinfo .score {
    margin-bottom: 5px;
    display: block;
    width: 100%
}

/* submission filters
--------------------------------------------------------------------------------*/
.side .md>blockquote {
    border-left: 0;
    padding: 0 5px
}
.side .md h4+blockquote:after {
    content: '';
    display: table;
    clear: left
}

/* header title */
.side .md>h4>a:before {
    transition: left .5s ease-out
}
.side .md>h4>a:hover {
    color: #0079d3
}
.side .md>h4>a:hover:before {
    left: 220px
}

/* filter links */
.side .md h4+blockquote > * {
    width: 50%;
    height: 30px;
    display: block;
    float: left;
    margin: 0 0 10px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: normal;
    font-family: Verdana,Geneva,sans-serif;
}
.side .md h4+blockquote > h6 {
    width: 100%
}

.side .md h4+blockquote > * a {
    display: block;
    border: 1px solid;
    border-radius: 3px;
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    text-align: center
}
.side .md h4+blockquote > *:nth-child(odd) a { border-radius: 3px 0 0 3px }
.side .md h4+blockquote > *:nth-child(even) a { border-radius: 0 3px 3px 0 }

.side .md h4+blockquote h1 a {
    border-color: #a7565c;
    color: #a7565c
}
.side .md h4+blockquote h2 a {
    border-color: #856fa6;
    color: #856fa6
}
.side .md h4+blockquote h3 a {
    border-color: #76c374;
    color: #76c374
}
.side .md h4+blockquote h4 a {
    border-color: #e6d76d;
    color: #e6d76d
}
.side .md h4+blockquote h5 a {
    border-color: #e868c1;
    color: #e868c1
}
.side .md h4+blockquote h6:nth-of-type(1) a {
    border-color: #919290;
    color: #919290
}
.side .md h4+blockquote h6:nth-of-type(2) a {
    border-color: #59f;
    color: #59f
}
.side .md h4+blockquote * a:hover {
    font-weight: 700
}


.side .md h4+blockquote * a:last-child {
    display: none;
}

html[lang$="nm"] .side .md h4+blockquote * a:first-child { display: none; }
html[lang$="nm"] .side .md h4+blockquote * a:last-child { display: block; }
