
/* PSA box
--------------------------------------------------------------------------------*/

.side .md > h5 + ul {
    padding: 0;
    list-style-type: none;
    margin: 5px;
    background: #fafafa;
    padding: 8px 10px;
    font-size: 10px;
}

/* kahuna challenges
--------------------------------------------------------------------------------*/
.side .md h4:first-of-type+ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 20px 30px
}

.side .md h4:first-of-type+ul li {
    line-height: 32px;
    height: 32px;
    padding: 0 15px 0 48px;
    font-size: 0;
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
    background: #fff;
    margin-bottom: 15px
}
html[lang$=nm] .side .md h4:first-of-type+ul li {
    background: rgba(0, 0, 0, .4);
}
.side .md h4:first-of-type+ul li strong {
    font-size: 12px
}
.side .md h4:first-of-type+ul li:before {
    content: '';
    display: block;
    position: absolute;
    height: 42px;
    width: 42px;
    background: url(%%balls%%) no-repeat;
    left: 0px;
    top: -5px
}

.side .md h4:first-of-type+ul li:nth-child(1):before {
    background-position: -211px -206px
}
.side .md h4:first-of-type+ul li:nth-child(2):before {
    background-position: -258px -248px
}
.side .md h4:first-of-type+ul li:nth-child(3):before {
    background-position: -258px -206px;
    background: url(%%kahuna%%) no-repeat -6px -51px;
}
.side .md h4:first-of-type+ul li:nth-child(4):before {
    background-position: -259.5px -163px;
    background: url(%%kahuna%%) no-repeat -54px -50px;
}

.side .md h4:first-of-type+ul li:nth-child(1) {
    box-shadow: 0 0.5px 0 2px #ce6957;
}
.side .md h4:first-of-type+ul li:nth-child(2) {
    box-shadow: 0 0.5px 0 2px #9371ab;
}
.side .md h4:first-of-type+ul li:nth-child(3) {
    box-shadow: 0 0.5px 0 2px #be4c53;
    box-shadow: 0 0.5px 0 2px #888;
}
.side .md h4:first-of-type+ul li:nth-child(4) {
    box-shadow: 0 0.5px 0 2px #b07b36;
    box-shadow: 0 0.5px 0 2px #888;
}

/* submission rules
--------------------------------------------------------------------------------*/

.side .md h3+ul,
.side .md h3+ul+ol {
    border-left: 1px solid #e3e3e3;
    margin: 0 0 0 20px;
    padding-left: 20px;
    list-style-type: none
}
.side .md > h3 {
    margin-bottom: -2px !important;
}

.side .md h3+ul a {
    display: inline-block;
    padding: 6px 8px;
    margin-top: 10px;
    border-radius: 3px;
    color: #555;
    background: hsla(216,100%,90%,1);
}
.side .md h3+ul+ol {
    margin-bottom: 20px;
    counter-reset: siderules;
    position: relative
}
.side .md h3+ul+ol>li {
    position: relative;
    min-height: 30px;
    padding-top: 10px
}
.side .md h3+ul+ol>li:before {
    counter-increment: siderules;
    content: counter(siderules);
    position: absolute;
    text-align: center;
    box-sizing: content-box;
    border: 2.5px solid #e3e3e3;
    border-radius: 50%;
    background: #fff;
    font-weight: 700;
    font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    left: -33px;
    top: 5px
}
.side .md h3+ul+ol:after {
    content: '';
    display: block;
    position: absolute;
    background: #e3e3e3;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 1px
}

.side .md h3+ul+ol ul {
    padding-left: 25px;
}

.side .md h3+ul+ol>li:last-of-type {
    padding-bottom: 10px;
}

/* sidebar calendar
--------------------------------------------------------------------------------*/
.side .md table td,
.side .md table th {
    border: 0
}

.side .md table tr:nth-child(odd) {
    background: rgba(0,0,0,.03)
}
.side .md table td+td,
.side .md table th+th {
    border-left: 1px solid rgba(0,0,0,.02)
}
.side .md table th {
    border-bottom: 1px solid rgba(0,0,0,.02)
}

html[lang$=nm] .side .md table tr:nth-child(odd) {
    background: rgba(255, 255, 255, .01)
}
html[lang$=nm] .side .md table td+td,
html[lang$=nm] .side .md table th+th {
    border-left: 1px solid rgba(255, 255, 255, .03)
}
html[lang$=nm] .side .md table th {
    border-bottom: 1px solid rgba(255, 255, 255, .03)
}

/* sidebar community links
--------------------------------------------------------------------------------*/
.side .md h6+blockquote {
    padding: 0;
    margin: 0 5px 20px
}

/* main links */
.side .md h6+blockquote p {
    font-size: 0;
    padding: 0 5px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: stretch;
    background: rgba(0,0,0,0.03);
}

.side .md h6+blockquote p:last-of-type {
    padding-bottom: 10px
}

.side .md h6+blockquote p a {
    font-size: 13px;
    line-height: 22px;
    display: inline-block;
    margin-right: 3px;
    margin-top: 4px;
    padding: 0 5px;
    flex-grow: 1;
    text-align: center;
    background: rgba(0,0,0,0.04);
    color: rgba(0,0,0,0.8);
}
.side .md h6+blockquote p a:hover {
    background: rgba(0,0,0,0.08);
}

/* related subs button */
.side .md h6+blockquote h4 {
    margin: 0;
    padding: 7px 5px;
    font-size: 13px;
    text-align: center;
    background: rgba(0,0,0,0.04);
    color: rgba(0,0,0,0.8);
}