
/* sidecontentbox
--------------------------------------------------------------------------------*/
.sidecontentbox {
    margin: 7px;
    padding: 5px;
    background-color: transparent;
}

/* title */
.side .sidecontentbox .title,
.side .sidecontentbox .title h1 {
    text-transform: uppercase;
    font-weight: 400;
    padding: 0!important;
    margin: 5px;
    text-align: center;
    line-height: 14px
}

.side .sidecontentbox .title {
    background: #fafafa;
    border-top: 1px solid rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(0,0,0,0.05);
    margin: 0 -12px;
    padding: 0 !important;
    line-height:28px;
    position: relative;
}

/* content */
.sidecontentbox .content {
    border: 0;
    background: rgba(0,0,0,0.03);
    margin-top: 10px;
}

/* expand/collapse button */
.sidecontentbox .collapse-button {
    border-radius: 50%;
    border: 0;
    font-size: 14px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    margin: auto;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
}

/* sidecontentbox moderators
--------------------------------------------------------------------------------*/

/* item */
.sidecontentbox .helplink~.content li {
    position: relative;
    min-height: 29px;
    padding-top: 3px;
    margin-bottom: 6px;
    border-radius: 16px 3px 3px 16px;
    background: rgba(0, 0, 0, .05)
}
.sidecontentbox .helplink~.content li:before {
    content: '';
    display: block;
    position: absolute;
    background: url(%%pokesheet%%) -54px -36px;
    width: 34px;
    height: 34px;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.2;
    margin: -1px;
}

.sidecontentbox .helplink ~ .content li:not(.more) {
    background: white;
    border: 1px solid rgba(0,0,0,0.09);
    margin-bottom: 3px;
}

/* author link */
.sidecontentbox .helplink~.content li>a {
    top: -3px;
    position: relative
}

/* about mod team */
.sidecontentbox .helplink~.content li.more {
    background: 0;
    min-height: initial;
    margin: 5px 0 0;
}
.sidecontentbox .helplink~.content li.more:before {
    display: none
}
.sidecontentbox .helplink~.content li.more a {
    line-height: 16px;
    display: block;
    text-align: center;
}

/* message the moderators link */
.sidecontentbox a.helplink {
    display: block;
    float: none;
    line-height: 28px;
    font-size: 13px;
    padding: 0 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}

/* sidebar misc
--------------------------------------------------------------------------------*/
.gadget .reddit-link {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding-bottom: 5px;
}
.gadget .reddit-entry {
    margin-top: 5px!important;
    padding-top: 5px;
}
.gadget .reddit-entry .linkflairlabel {
    display: inline-block;
    position: static!important;
    padding: 0 8px;
    max-width: initial !important;
    color: #333 !important;
    background: #e5e5e5;
}
.gadget .reddit-link-end {
    padding-top: 5px
}
.sidebox .spacer {
    background: 0 0;
    margin: 10px
}

table {
    font-size: .95em
}

.account-activity-box a {
    display: inline-block;
    line-height: 28px;
    margin-top: -10px
}
