

/********************************************************************************
* SIDEBAR
*********************************************************************************/

/* Element
--------------------------------------------------------------------------------*/
.side {
    margin-top: 107px;
    padding-top: 310px;
    border-radius: 5px;
    border: 1px solid #cdcdd6;
}
.side .md {
    margin: 7px
}

/* we use hr split off blockquotes, we don't want the actual hr to show */
.side .md hr {
    background: 0
}
.side .spacer {
    margin: 0
}

/* Search
--------------------------------------------------------------------------------*/
.side #search {
    top: 200px;
    right: 5px;
    z-index: 500;
}
#search input[type=text] {
    border: 0;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    padding: 0 25px 0 9px;
    border: 1px solid rgba(0, 0, 0, .1)
}
#search input[type=submit] {
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;
    border: 0;
    box-shadow: none
}
.side #searchexpando {
    right: 0;
    z-index: 999
}

/* Titlebox stuff
--------------------------------------------------------------------------------*/
.titlebox {
    margin-top: 0;
    font-size: 1.2em;
}

/* side top-logo */
.titlebox > h1 {
    top: 291px;
}
.titlebox > h1 a {
    display: block;
    position: relative;
    font-size: 0;
    height: 60px;
    width: 100%;
    background: url(%%sidelogo%%) center bottom/50% no-repeat;
    margin: 0 auto
}

/* hide stuff */
.moderator.toggle .main:before,
.titlebox .bottom,
.titlebox .leavemoderator:before,
.titlebox form.leavecontributor-button:before,
.titlebox form.toggle.leavecontributor-button,
.titlebox .leavemoderator {
    display: none
}

/* toggles */
.titlebox .leavecontributor-button,
.titlebox .leavemoderator,
.titlebox form.toggle {
    text-align: left;
    padding: 5px 20px
}

.side .md hr:first-of-type {
    display: none;
}

/* Subscribers/Users online
--------------------------------------------------------------------------------*/
.titlebox .subscribers,
.titlebox .users-online {
    position: absolute;
    color: #333;
    top: 374px;
    width: 242px;
    box-sizing: border-box;
    right: 35px;
    padding-left: 65px;
    line-height: 20px;
}
.titlebox .users-online {
    top: 394px;
    background: hsl(210,20%,93%);
}

.titlebox .users-online .number:before {
    content: '';
    position: absolute;
    display: block;
    background: url(%%pokesheet%%) 0 -110px;
    width: 52px;
    height: 52px;
    bottom: -8px;
    left: 0
}

.titlebox .number:after {
    content: " Pokémon Trainers"
}
.titlebox .users-online .number:after {
    content: " Online Now"
}

/* subscription buttons
--------------------------------------------------------------------------------*/
.titlebox .word,
.users-online:before {
    display: none
}
.res .res-fancy-toggle-button,
.toggle.fancy-toggle-button .option.active {
    border: 0;
    border-radius: 0;
    line-height: 20px;
    height: 20px;
    display: inline-block;
    text-transform: capitalize;
    background: hsl(210,20%,93%);
    color: #333
}
.res-fancy-toggle-button.RESDashboardToggle,
.res-fancy-toggle-button.RESshortcut,
.titlebox .fancy-toggle-button {
    position: absolute;
    top: 424px;
}
.titlebox .fancy-toggle-button {
    right: 191px;
}
.res-fancy-toggle-button.RESshortcut {
    right: 116px;
}
.res-fancy-toggle-button.RESDashboardToggle {
    right: 30px;
}

.res .titlebox .multi-count {
    display: none;
}


/* SUBSCRIBE BUTTON DEPRECATED

.fancy-toggle-button.subscribe-button .add.active:after {
    content: "Subscribe?";
    position: fixed;
    top:36px;
    border: 1px solid #59f;
    left: 0px;
    display: block;
    width: 150px;
    text-align: center;
    color: #FFF;
    text-shadow: 0 1px 0 #5787e1;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    background-color: #59f;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, .45);
    z-index: 100;
    border-radius: 0px 6px 6px 0px;
    transition: 300ms ease-in-out;
}
*/

.fancy-toggle-button:hover .add:after {
    width: 176px;
    background-color: #6af;
}

/* edit flair area
--------------------------------------------------------------------------------*/

/* flair preview tagline */
.titlebox .tagline {
    position: relative;
    height: 36px;
    margin-left:12px;
}

/* edit flair link */
.side .md a[href*="#flair"] {
    line-height: 30px;
    display: block;
    position: relative;
    width: 200px;
    text-align: center;
    border-radius: 3px;
    left: 44px;
    color: #fff;
    background: #5787e1;
    font-size: 13px;
}
.side .md a[href*="#flair"]:hover {
    background: #2068ee;
}
.side .md a[href*="#flair"]:before {
    content: '';
    display: block;
    width: 20px;
    height: 25px;
    position: absolute;
    border-bottom: 1.5px solid hsla(219, 70%, 75%, 1);
    border-left: 1.5px solid hsla(219, 70%, 75%, 1);
    border-radius: 0 0 0 4px;
    right: 100%;
    bottom: 50%;
}

/* checkboxes + flairtoggle extra
--------------------------------------------------------------------------------*/

.titlebox form.toggle.flairtoggle,
.titlebox form.toggle.res-sr-style-toggle,
.titlebox form.toggle.sr_style_toggle {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 0 0 22px;
    height: 18px;
    margin: 10px 0;
}

.res-sr-style-toggle label,
.sr_style_toggle label,
.flairtoggle label {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    position: relative;
}

.sr_style_toggle .throbber {
    position: static;
    margin: 0 0 0 10px;
}

/* RES stylesheet toggle */
.titlebox form.toggle.res-sr-style-toggle {
    text-transform: capitalize;
    position: absolute;
    top: 588px;
    right: 7px;
    width: 299px;
    box-sizing: border-box;
    margin-top: 0 !important;
}
.comments-page .titlebox form.toggle.res-sr-style-toggle {
    top: 680px;
}

/* checkboxes */
.flairtoggle input[type=checkbox],
.side .md>h2+ul+hr,
.res-sr-style-toggle input,
.sr_style_toggle input {
    display: none
}
.flairtoggle input[type=checkbox]~label:before,
.res-sr-style-toggle label:before,
.sr_style_toggle label:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
}
.flairtoggle input[type=checkbox]:checked~label:after,
.res-sr-style-toggle label:after,
.sr_style_toggle input[type=checkbox]:checked~label:after {
    content: '';
    display: block;
    width: 10px;
    height: 4px;
    border-left: 3px solid #574aeb;
    border-bottom: 2.5px solid #574aeb;
    position: absolute;
    left: 7px;
    bottom: 4px;
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

/* positioning stuff */
.titlebox form.toggle.res-sr-style-toggle ~ form.toggle.sr_style_toggle,
.titlebox form.toggle.res-sr-style-toggle ~ form.toggle.flairtoggle {
    margin-top: 32px;
}
.titlebox form.toggle.res-sr-style-toggle ~ form.toggle.sr_style_toggle ~ form.toggle.flairtoggle {
    margin-top: 10px;
}

/* Submit links
--------------------------------------------------------------------------------*/

.side .md > h2, .side .md > h4 {
    margin: 0 -7px;
    background: hsla(210, 20%, 93%, 0.8);
    padding: 10px 0;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: hsla(245, 25%, 40%, 1);
    font-size: 19px;
}

.side .md > h2 + ul {
    list-style: none;
    background: hsla(210, 20%, 93%, 0.8);
    margin: 0 -7px;
    padding: 10px 0 30px;
}

.side .md > h2 + ul li:not(:last-child) {
    margin-bottom: 10px;
}

.side .md > h2 + ul li p {
    margin: 0;
}

.side .md > h2 + ul li a {
    line-height: 34px;
    display: block;
    margin: 0 auto;
    width: 250px;
    image-rendering: pixelated;
    text-align: left;
    padding-left: 45px;
    position: relative;
    border-radius: 18px;
    transition: all 100ms ease;
    font-size: 13px;
    box-shadow: none;
    border: 0;
    background: #5275dc;
}
.side .md > h2 + ul li a:after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    background: url(%%pokesheet%%) 0 -250px;
    top: 3px;
    left: 4px;
    transform: scale(0.28);
    transform-origin: top left;
    z-index: 0;
    opacity: 0.5;
}

.side .md > h2 + ul li a:hover {
    width: 260px;
    background: #2068ee;
}

/* icons */
.side .md a[href$="/submit"]:before {
    background: url(%%kantoflair%%) -960px 0
}
.side .md a[href$="selftext=true"]:before {
    background: url(%%sinnohflair%%) -840px -32px
}
.side .md a[href$="/questions/"]:before {
    background: url(%%johtoflair%%) -640px -32px
}
.side .md a[href*="pokemontrades"]:before {
    background: url(%%unovaflair%%) -920px -96px
}
.side .md a[href*="pokememes"]:before {
    background: url(%%formsflair%%) -640px -128px
}
.side .md a[href*="shinypokemon"]:before {
    background: url(%%formsflair%%) -40px 0
}

.side .md>h2+ul li a:before {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 32px;
    left: -2px;
    top: 1px;
    z-index: 2;
}

/* subreddit description
--------------------------------------------------------------------------------*/
.side .md > p:first-of-type {
    position: absolute;
    top: 454px;
    margin: 0;
    width: 266px;
    right: 22px;
    padding: 8px 10px;
    line-height: 19px;
    font-size: 12.5px;
    background: hsl(210,20%,96%);
    color: #222;
    height: 80px;
    box-sizing: border-box;
    border-radius: 3px 3px 0 0;
}

.side .md > p:first-of-type a {
    color: inherit;
    font-weight: 700;
}

/* Night/day mode switch (nm switch/dm switch/sn switch/sun switch/moon switch)
--------------------------------------------------------------------------------*/
.side .md > h1 {
    position: absolute;
    top: 534px;
    width: 266px;
    right: 22px;
    margin: 0;
    font-size: 0;
    
    box-sizing: border-box;
    background: hsl(210,20%,96%);
    border-top: 1px solid hsl(210,20%,88%);
}
.side .md > h1 a {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    line-height: 36px;
    font-size: 11px;
    padding-right: 5px;
    position: relative;
    color: #555;
    padding-left: 50px;
}
.side .md > h1 a:hover {
    background: hsl(210,20%,90%);
}
.side .md > h1 a:last-child {
    border-left: 1px solid hsl(210,20%,88%);
}

.side .md > h1 a:before {
    content: '';
    display: block;
    position: absolute;
    width: 27px;
    height: 27px;
    top: 3px;
    left: 15px;
    background: url(%%downup%%) no-repeat 0 0px / 100% auto;
}
.side .md > h1 a:last-child:before {
    left: 13px;
    background-position-y: 66.6%;
}

/* nightmode */
[lang$=nm] .side .md > h1 a:last-child {
    color: #57aad4
}
/* sun mode */
html:not([lang$=nm]) .side .md > h1 a:first-child {
    color: #ea8f24
}

/* Morelinks
--------------------------------------------------------------------------------*/
.sidebox.create,
.sidebox.submit {
    display: none
}

/* link info box
--------------------------------------------------------------------------------*/
.linkinfo {
    margin-right: 15px;
    margin-left: 18px;
    margin-top: -10px;
    padding: 8px;
    background: hsl(210,20%,96%);
    border: 0;
    text-align: center;
}
.res .linkinfo {
    margin-bottom: 30px;
}
.linkinfo .date {
    text-transform: uppercase;
    font-size: 9px;
    color: #aaa;
    margin-bottom: 10px
}
.linkinfo .shortlink {
    font-size: 0
}
.linkinfo .shortlink input {
    font-size: 12px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.05);
    color: #999;
    margin-top: 10px;
}
.linkinfo .score {
    margin-bottom: 5px;
    display: -webki-flex;
    display: flex;
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: baseline;
    align-items: baseline;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.linkinfo .score .word {
    margin-left: 4px;
    margin-right: 5px;
}

/* submission filters
--------------------------------------------------------------------------------*/
.side .md > blockquote {
    border-left: 0;
    padding: 0 5px
}

/*title*/
.side .md > h4 > a {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 220px;
}

/* blockquote (filters container) */
.side .md > h4 + blockquote {
    background: hsla(210, 20%, 93%, 0.8);
    margin: 0 -7px;
    padding: 10px 10px 20px;
}
.side .md h4+blockquote:after {
    content: '';
    display: table;
    clear: left
}

/* filter links */
.side .md h4+blockquote > * {
    width: 50%;
    height: 30px;
    display: block;
    float: left;
    margin: 0 0 10px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: normal;
    font-family: Verdana,Geneva,sans-serif;
}
.side .md h4+blockquote > h6 {
    width: 100%
}

.side .md h4+blockquote > * a {
    display: block;
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2px;
    text-decoration: none !important;
    opacity: 0.9;
}
.side .md h4+blockquote > *:nth-child(odd) a { border-radius: 3px 0 0 3px }
.side .md h4+blockquote > *:nth-child(even) a { border-radius: 0 3px 3px 0 }

.side .md h4+blockquote h1 a {background: #a7565c}
.side .md h4+blockquote h2 a {background: #856fa6}
.side .md h4+blockquote h3 a {background: #76c374}
.side .md h4+blockquote h4 a {background: #dfcb37}
.side .md h4+blockquote h5:nth-of-type(1) a, .side .md h4+blockquote h5:nth-of-type(2) a {background: #e868c1}
.side .md h4+blockquote h5:nth-of-type(3) a, .side .md h4+blockquote h5:nth-of-type(4) a {background: #e87b0c}
.side .md h4+blockquote h5:nth-of-type(5) a, .side .md h4+blockquote h5:nth-of-type(6) a {background: #59f}
.side .md h4+blockquote h6 a {background: #777;}


.side .md h4+blockquote>* a:hover {
    opacity: 1;
}


.side .md h4+blockquote * a:last-child { display: none; }
html[lang$="nm"] .side .md h4+blockquote * a:first-child { display: none; }
html[lang$="nm"] .side .md h4+blockquote * a:last-child { display: block; }

html[lang$="nm"] .side .md h4+blockquote > * {
    background: rgba(0,0,0,0.2);
    box-shadow: 0 3px 4px #000;
}