/********************************************************************************
* SUBMIT PAGE
*********************************************************************************/

/* Layout
--------------------------------------------------------------------------------*/
.submit-page .content>h1 {
    text-align: center;
    margin: 30px 0 20px;
    text-transform: uppercase;
}
.submit-page .submit.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 520px;
    width: 100%
}

/* Input elements
--------------------------------------------------------------------------------*/
.submit-page .roundfield .usertext-edit,
.submit-page .roundfield input[type=text],
.submit-page .roundfield input[type=url],
.submit-page .roundfield textarea,
.submit-page.res .markdownEditor-wrapper,
.submit-page .submit.content .spacer {
    width: 100%;
    border-color: #c3c3c3;
}

/* Hide things we don't want
--------------------------------------------------------------------------------*/
.formtabs-content>.spacer:first-child,
.submit-page #suggested-reddits,
.submit-page .formtabs-content .infobar {
    display: none!important
}

/* Submit Form and Tabs
--------------------------------------------------------------------------------*/
.submit-page .formtabs-content {
    border: 0;
}

.submit .tabmenu.formtab .selected a {
    background: #0e4cbe;
}

.submit-page .roundfield {
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #d6d6d6;
    border-radius: 0;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    width: 100%;
}

.submit-page .roundfield>.title, .submit_text h1 {
    text-transform: uppercase;
    color: #125fed;
    font-weight: 700;
    letter-spacing: .2px;
}

/* Submit
--------------------------------------------------------------------------------*/
.submit_text {
    max-height: none;
}
.submit_text ol, .submit_text ul {
    margin-left: 0;
}