body {
    background: #f2f3f4;
}

/* header
--------------------------------------------------------------------------------*/
#sr-header-area {
    background: white !important;
    border-bottom: 1px solid #e3e3e3;
}

#header {
    background: url(%%daymodeheader%%) no-repeat -10px 19px / 124%;
    border-bottom-color: #cecdcd;
}

#sr-header-area a {
    background: transparent;
    color: #333;
}

.message-count {
    background: #FF7500;
    color: white !important;
}

#header-bottom-right a,
.res #userbarToggle {
    color: #333;
}

/* tab menu
--------------------------------------------------------------------------------*/
html:not([lang$="nm"]) .listing-page #header-bottom-left .tabmenu li a:not([href^="j"]):before {
    opacity: 1;
}

/********************************************************************************
* RESET
*********************************************************************************/
.entry,
.thing.link,
.side,
.sidecontentbox,
.sidecontentbox .content,
.icon-menu a,
.side .md h5,
.side .md h5+ul,
.linkinfo .shortlink input,
.titlebox form.toggle,
.titlebox .leavemoderator,
.titlebox .leavecontributor-button,
.side #searchexpando,
#previoussearch,
.combined-search-page #previoussearch,
.combined-search-page .search-result-group,
.post-sharing,
.subreddit-report-form {
    background: white !important;
    color: #333;
    border-color: #cecdcd!important;
}

/********************************************************************************
* THING
*********************************************************************************/

.link { border: 1px solid #cecdcd !important; box-shadow: none; }
.link .entry { border-color: transparent !important; }

.comment .entry  {border: 1px solid #cecdcd !important;}

.flair:before,
.link .score.unvoted { color: #333; }

.new-comment .usertext-body {
    background-color: #e5efff;
}

.thumbnail, .thumbnail.self, .thumbnail.default, .thumbnail.nsfw, .linkflair-spoiler .thumbnail {
    background-image: url(%%whitesheet%%);
    border: 1px solid #aaa;
}

.entry .buttons .first:before {
    display: none;
}

/* thing title
--------------------------------------------------------------------------------*/
.link a.title {
    color: rgba(0,0,0,0.8);
}
.thing .title:visited,
.thing.visited .title,
.link a.title:visited  {
    color: #423d56;
}

/* author panel - set to white version
--------------------------------------------------------------------------------*/
.thing .author,
.side .tagline .author,
.flairrow .author {
    background-position: 0 -36px;
}


/* spoiler overlay
--------------------------------------------------------------------------------*/
.link.linkflair-spoiler a.title:before {
    background: #eaeaea;
}


/********************************************************************************
* COMMENT AREA
*********************************************************************************/
.commentarea > .panestack-title,
.commentarea > .menuarea,
.commentarea > .usertext,
.commentarea .child > .usertext,
.gold-accent.comment-visits-box,
.comment-permalink-page .commentarea > .infobar {
    background: white;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}
.commentarea > .panestack-title,
.comment-permalink-page .commentarea > .menuarea {
    border-top: 1px solid #e3e3e3;
}
.commentarea .child > .usertext,
.gold-accent.comment-visits-box,
.comment-permalink-page .commentarea > .infobar {
    border-bottom: 1px solid #e3e3e3;
}
.commentarea > .menuarea { background: rgba(0,0,0,0.01); }

/* comment visits select and tb macro */
select#comment-visits,
body.mod-toolbox .tb-action-button.tb-top-macro-select {
    background: rgba(0,0,0,0.05) !important; color: #555 !important;
}

/* text inputs */
.commentarea > .usertext textarea,
.comments-page .usertext textarea,
.combined-search-page #search input[type=text] {
    background: white;
    color: #333 !important;
    border: 1px solid #c8ccd0 !important;
}
#search input[type=text] {
    background: white;
    color: #333 !important;
}

.panestack-title .title,
html.res .commentingAs {
    color: #333;
}

/********************************************************************************
* SIDE
*********************************************************************************/
.side {
    border: 1px solid #e3e3e3;
}

/* sidecontentbox
--------------------------------------------------------------------------------*/
.sidecontentbox {
    border-color: #eee;
}

.linkinfo {border: 1px solid #e3e3e3 !important;}

.gadget .reddit-entry { border: 0; background: #fafafa !important; }
.gadget .reddit-entry a { color: #333; }

/* sub description
--------------------------------------------------------------------------------*/
.side .md > p:first-of-type {
    background: rgba(0,0,0,0.025);
    color: #222;
    border: 0;
}

/* sidebar common button
--------------------------------------------------------------------------------*/
.side .md a[href*="flairbot"],
.side .md>h2+ul li a,
.sidecontentbox .helplink ~ .content li.more a,
.sidecontentbox a.helplink {
    background: white;
    box-shadow: none;
    color: #333;
    border-color: #e3e3e3;
}
.sidecontentbox .helplink ~ .content li {
    background: rgba(0,0,0,0.05);
}

/* toggles and subscription stuff
--------------------------------------------------------------------------------*/
.titlebox .subscribers {
    color: #333;
}

.titlebox .users-online,
.toggle.fancy-toggle-button .option.active,
html.res .res-fancy-toggle-button {
    background: #f0f0f0;
    color: #333;
}

.titlebox form.toggle.res-sr-style-toggle,
.titlebox form.toggle.flairtoggle {
    color: #333;
}

/* sidebar rules
--------------------------------------------------------------------------------*/
.side .md h3 {
    border-bottom-color: #e3e3e3;
}
.side .md h3+ul+ol:after {
    background: #e3e3e3;
}
.side .md h3,
.side .md h3+ul,
.side .md h3+ul+ol {
    border-left-color: #e3e3e3;
}
.side .md h3+ul+ol>li:before {
    background: white;
    border-color: #e3e3e3;
    font-weight: bold;
    font-size: 13px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    left: -36px;
    top: 3px;
}

/* submission filters
--------------------------------------------------------------------------------*/
.side .md>blockquote:nth-of-type(2) h4 a,
.side .md>blockquote:nth-of-type(2) h2 a {
    background: white;
    box-shadow: none;
}

/* side community links
--------------------------------------------------------------------------------*/
.side .md h6+blockquote p a { background: #f3f3f3 !important; }


/* sun/moon switch day mode
--------------------------------------------------------------------------------*/
.side .md h1:first-of-type {
    background: transparent;
    border: 1px solid #dedede;
}
.side .md h1:first-of-type a {
    color: #555;
}
.side .md h1:first-of-type a:last-child {
    border-left: 1px solid #dedede;
}

/********************************************************************************
* MISC
*********************************************************************************/

/* listing page sort menu
--------------------------------------------------------------------------------*/
.listing-page .content>.menuarea .spacer {
    background: white;
    border: 1px solid #e3e3e3;
}

/* md
--------------------------------------------------------------------------------*/

.side .md,
.side .md *,
.md,
.md * {
    color: #222;
}
.thing .md hr {
    background: rgba(0,0,0,0.14);
}
.md code, .md pre {
    background: rgba(0,0,0,0.08);
}

.side .md table td,
.side .md table td a {
    color: #555;
}

/* footer
--------------------------------------------------------------------------------*/
.footer .col li.title { color: #555 }
.footer .col li:not(.title) a { color: #555 }
.bottommenu,
.bottommenu a { color: #777; }


/* misc
--------------------------------------------------------------------------------*/

.RESUserTagImage:after {
    background-image: none !important;
}

.drop-choices {
    background: white;
    border: 1px solid #e3e3e3;
    color: #222;
}