
/********************************************************************************
* SUN MODE
*********************************************************************************/

body {
    /* background: #ECF0F1 url(%%bg%%); */
    background: url(%%bg%%), radial-gradient(ellipse at center, rgba(251, 253, 254, 1) 0,
                rgba(251, 253, 254, 1) 49%, rgba(224, 242, 255, 1) 100%) fixed; /* BLUE PALETTE */
}

/* header
--------------------------------------------------------------------------------*/
#sr-header-area {
    background: #fff!important;
    border-bottom: 1px solid #e3e3e3
}
#sr-header-area a {
    background: 0 0;
    color: #333
}
.message-count {
    background: #ff7500;
    color: #fff!important
}
#header-bottom-right a,
.flair:before,
.link .score.unvoted,
.res #userbarToggle {
    color: #333
}

/* tab menu
--------------------------------------------------------------------------------*/
html:not([lang$=nm]) .listing-page #header-bottom-left .tabmenu li a:not([href^="j"]):before {
    opacity: 1
}

/* TODO what the hell is this doing here */
html[lang$=nm] .side .md>h2:after,
html[lang$=nm] .side .md>h4:first-of-type:after,
html[lang$=nm] .side .md>h4>a:after,
html[lang$=nm] .side .md>h6:after,
html[lang$=nm] .titlebox form.toggle.flairtoggle:after,
html[lang$=nm] .titlebox form.toggle.res-sr-style-toggle:after {
    opacity: .15
}

/********************************************************************************
* RESET
*********************************************************************************/
#previoussearch,
.combined-search-page #previoussearch,
.combined-search-page .search-result-group,
.entry,
.icon-menu a,
.linkinfo .shortlink input,
.post-sharing,
.side,
.side #searchexpando,
.sidecontentbox,
.sidecontentbox .content,
.subreddit-report-form,
.thing.link,
.titlebox .leavecontributor-button,
.titlebox .leavemoderator,
.titlebox form.toggle {
    background: #fff!important;
    color: #333;
    border-color: #cecdcd!important
}

/********************************************************************************
* THING
*********************************************************************************/
.link {
    border: 1px solid #cecdcd!important;
    box-shadow: 0 1px 3px rgba(173, 178, 255, 0.8); /* BLUE PALETTE */
}
.link .entry {
    border-color: transparent!important
}
.comment .entry {
    border: 1px solid #cecdcd!important
}
.new-comment .usertext-body {
    background-color: #e5efff
}
.entry .buttons .first:before {
    display: none
}

.link.RES-keyNav-activeThing {
    background: #F0F3FC !important
}

/* thing title
--------------------------------------------------------------------------------*/
.link a.title {
    color: rgba(0, 0, 0, .8)
}

.link a.title:visited,
.thing .title:visited,
.thing.visited .title {
    color: #7730b7;
}

/* author panel - set to white version
--------------------------------------------------------------------------------*/
.flairrow .author,
.side .tagline .author,
.thing .author {
    background-position: 0 -36px
}

/* spoiler overlay
--------------------------------------------------------------------------------*/
.link.linkflair-spoiler a.title:before {
    border: 2px dashed #eaeaea;
    background: #fff;
}

/********************************************************************************
* COMMENT AREA
*********************************************************************************/
.comment-permalink-page .commentarea>.infobar,
.commentarea .child>.usertext,
.commentarea>.menuarea,
.commentarea>.panestack-title,
.commentarea>.usertext,
.gold-accent.comment-visits-box {
    background: #fff;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3
}
.comment-permalink-page .commentarea>.menuarea,
.commentarea>.panestack-title {
    border-top: 1px solid #e3e3e3
}
.comment-permalink-page .commentarea>.infobar,
.commentarea .child>.usertext,
.gold-accent.comment-visits-box {
    border-bottom: 1px solid #e3e3e3
}
.commentarea>.menuarea {
    background: #fafafa;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .1)
}

/* comment visits select and tb macro */
body.mod-toolbox .tb-action-button.tb-top-macro-select,
select#comment-visits {
    background: rgba(0, 0, 0, .05)!important;
    color: #555!important
}

/* text inputs */
.combined-search-page #search input[type=text],
.commentarea>.usertext textarea,
.comments-page .usertext textarea {
    background: #fff;
    color: #333!important;
    border: 1px solid #c8ccd0!important
}
#search input[type=text] {
    background: #fff;
    color: #333!important
}
.gadget .reddit-entry a,
.panestack-title .title,
html.res .commentingAs {
    color: #333
}

/********************************************************************************
* SIDE
*********************************************************************************/
.side {
    border: 1px solid #e3e3e3
}
.linkinfo {
    border: 1px solid #e3e3e3!important
}
.gadget .reddit-entry {
    border: 0;
    background: #fafafa!important
}

/* sub description
--------------------------------------------------------------------------------*/
.side .md>p:first-of-type {
    background: rgba(0, 0, 0, .025);
    color: #222;
    border: 0
}

/* sidebar common button
--------------------------------------------------------------------------------*/
.sidecontentbox .helplink~.content li {
    background: rgba(0, 0, 0, .05)
}

/* toggles and subscription stuff
--------------------------------------------------------------------------------*/
.titlebox .subscribers {
    color: #333
}
.titlebox .users-online,
.toggle.fancy-toggle-button .option.active,
html.res .res-fancy-toggle-button {
    background: #f0f0f0;
    color: #333
}
.titlebox form.toggle.flairtoggle,
.titlebox form.toggle.res-sr-style-toggle {
    color: #333
}

/* sidebar psa box
--------------------------------------------------------------------------------*/
.side .md>h5,
.side .md h5+ul {
    background: rgba(0,0,0,0.02);
}
.side .md>h5 {
    border-top: 1px solid rgba(0,0,0,0.05);
}
.side .md h5+ul {
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

/* sidebar rules
--------------------------------------------------------------------------------*/
.side .md > h3 {
    border-bottom-color: #e3e3e3
}
.side .md h3+ul+ol:after {
    background: #e3e3e3
}
.side .md > h3,
.side .md h3+ul,
.side .md h3+ul+ol {
    border-left-color: #e3e3e3
}
.side .md h3+ul+ol>li:before {
    background: #fff;
    border-color: #e3e3e3;
    font-weight: 700;
    font-size: 13px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    left: -36px;
    top: 3px
}
.side .md h3+ul a {
    color: #777;
}

/* submission filters
--------------------------------------------------------------------------------*/
.side .md>blockquote:nth-of-type(2) h2 a,
.side .md>blockquote:nth-of-type(2) h4 a {
    background: #fff;
    box-shadow: none
}

/* side community links
--------------------------------------------------------------------------------*/
.side .md h6+blockquote p {
    background: rgba(0,0,0,0.03);
}

.side .md h6+blockquote p a {
    background: rgba(0,0,0,0.04);
    color: rgba(0,0,0,0.8);
}
.side .md h6+blockquote p a:hover {
    background: rgba(0,0,0,0.08);
}

.side .md h6+blockquote h4 {
    background: rgba(0,0,0,0.04);
    color: rgba(0,0,0,0.8);
}
/* sun/moon switch day mode
--------------------------------------------------------------------------------*/
.side .md > h1 {
    background: 0 0;
    border: 1px solid #dedede
}
.side .md > h1 a {
    color: #555
}
.side .md > h1 a:last-child {
    border-left: 1px solid #dedede
}

/********************************************************************************
* MISC
*********************************************************************************/

/* listing page sort menu
--------------------------------------------------------------------------------*/
.listing-page .content>.menuarea .spacer {
    background: #fff;
    border: 1px solid #e3e3e3
}

/* md
--------------------------------------------------------------------------------*/
.md,
.md *:not(a),
.side .md,
.side .md *:not(a) {
    color: #222
}
.thing .md hr {
    background: rgba(0, 0, 0, .14)
}
.md code,
.md pre {
    background: rgba(0, 0, 0, .08)
}

/* footer
--------------------------------------------------------------------------------*/
.footer .col li.title,
.footer .col li:not(.title) a,
.side .md table td,
.side .md table td a {
    color: #555
}
.bottommenu,
.bottommenu a {
    color: #777
}

/* misc
--------------------------------------------------------------------------------*/
.RESUserTagImage:after {
    background-image: none!important
}
.drop-choices {
    background: #fff;
    border: 1px solid #e3e3e3;
    color: #222
}