

/* Tagline container element
--------------------------------------------------------------------------------*/
.comment .tagline,
.tagline {
    display: -webkit-flex!important;
    display: flex!important;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    height: 20px;
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}
.tagline>* {
    font-size: x-small
}
.comment .tagline {
    position: static;
    margin-bottom: -15px
}

/* Tagline - time
--------------------------------------------------------------------------------*/
.tagline time {
    line-height: 20px;
    font-size: 11px;
    padding: 0 4px
}

/* Tagline - stickied comment
--------------------------------------------------------------------------------*/
.tagline .stickied-tagline {
    line-height: 20px;
    font-size: 11px;
}

/* Tagline - RES user tag
--------------------------------------------------------------------------------*/
.tagline>.RESUserTag {
    border: none!important;
    padding: 3px;
    position: absolute;
    left: 430px
}
.comment .RESUserTag {
    left: 350px;
    top: -22px
}
.RESUserTagImage:after {
    margin: 3px 5px;
    width: 12px;
    height: 13px;
    background: url(%%pokesheet%%) -195px -159px;
    display: inline-block;
    opacity: .5
}
.side .tagline .flairselectbtn,
.tagline .userattrs {
    display: none
}

/* Tagline - author
--------------------------------------------------------------------------------*/

.thing .author, .flairrow .author, .side .tagline .author {
    width: 280px;
    height: 36px;
    background: url(%%FlairBG%%) 0 -36px;
    position: absolute;
    padding: 3px 0 0 45px!important;
    font-weight: 700;
    white-space: nowrap;
    box-sizing: border-box;
    margin: 0;
    color: #2980b9;
    font-size: 10px;
}

/* ensure transparent background (override RES user highlighter) */
.res .thing .tagline .author.moderator,
.res .thing .tagline .author.moderator:hover,
.res .thing .tagline .author.submitter,
.res .thing .tagline .author.submitter:hover,
.res .thing .tagline .author.friend,
.res .thing .tagline .author.friend:hover,
.res .thing .tagline .author.admin,
.res .thing .tagline .author.admin:hover,
.thing .tagline .author.moderator,
.thing .tagline .author.submitter,
.thing .tagline .author.friend,
.thing .tagline .author.admin {
    background-color: transparent !important
}

/* link author */
.link .author {
    top: -5px;
    left: 147px
}

/* comment author */
.comment .author {
    left: 70px;
    top: -28px
}

/* side tagline */
.side .tagline .author {
    left: 0
}

/* submitter color */
.comment .author.submitter,
.res .thing .tagline .author.submitter,
.res .thing .tagline .author.submitter:hover {
    color: #dd4b39!important
}

/* moderator bubble */
.comment .author.moderator,
.link .author.moderator {
    background-position: 0 -72px!important
}

/* moderator bubble - ensure username is white */
.author.moderator~.flair,
.comment .moderator,
.link .moderator,
.thing .tagline .author.moderator,
.tagline .author.submitter.moderator,
.res .thing .tagline .author.moderator,
.res .thing .tagline .author.submitter.moderator {
    color: #fff!important
}

/* user attributes */
.author.submitter:after {
    content: ' [S]'
}
.author.moderator:after {
    content: ' [M]'
}
.author.admin:after {
    content: ' [A]'
}
.author.friend:after {
    content: ' [F]'
}

.author.friend.submitter:after {
    content: ' [F,S]'
}
.author.friend.moderator:after {
    content: ' [F,M]'
}

.author.submitter.moderator:after {
    content: ' [S,M]'
}
.author.friend.submitter.moderator:after {
    content: ' [F,S,M]'
}
.author.friend.submitter.admin:after {
    content: ' [F,S,A]'
}

/* Tagline misc
--------------------------------------------------------------------------------*/

/* comment show/hide */
.comment .expand {
    background-color: transparent;
    color: #999;
    visibility: visible;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 2px;
    transition: background-color 150ms, color 150ms;
    font-size: 9px
}
.comment .expand:hover {
    background-color: #669bff;
    color: #fff !important;
    text-decoration: none
}

/* RES voteweight */
.tagline>a.voteWeight {
    display: none!important
}

/* link stickied tagline */
.link .tagline .stickied-tagline {
    background: #282;
    color: #fff;
    height: 13px;
    line-height: 13px;
    padding: 2px 5px;
    margin: 3px 4px;
    left: 440px;
    border-radius: 3px;
    opacity: .8;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 0.3px;
    font-weight: bold;
}

/* toolbox buttons
--------------------------------------------------------------------------------*/
.tagline .tb-bracket-button {
    line-height: 19px;
    height: 19px;
    min-width: 19px;
    box-sizing: border-box;
    display: inline-block;
    padding: 0!important
}