/********************************************************************************
* TAGLINE
*********************************************************************************/

/* Tagline container element
--------------------------------------------------------------------------------*/
.comment .tagline,
.top-matter .tagline,
.side .tagline {
    display: -webkit-flex!important;
    display: flex!important;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    height: 30px;
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1px 5px 0 0;
}
.tagline>* {
    font-size: x-small
}
.comment .tagline {
    position: static;
    margin-bottom: -10px;
    height: 20px;
}

.side .tagline .flairselectbtn,
.tagline .userattrs {
    display: none
}

/* Tagline - time
--------------------------------------------------------------------------------*/
.tagline time {
    line-height: 20px;
    font-size: 10.5px;
    margin: 1px 0 0 4px;
}

/* Tagline - RES user tag
--------------------------------------------------------------------------------*/
.tagline>.RESUserTag {
    border: none!important;
    padding: 3px;
    position: absolute;
    left: 430px
}
.comment .RESUserTag {
    left: 350px;
    top: -22px
}

.RESUserTagImage:after {
    opacity: .5
}

[lang$=nm] .RESUserTag {
    color: #ddd;
}

[lang$=nm] .res .userTagLink.hasTag, .res-nightmode .res .userTagLink.hasTag {
    border-color: #494e5a !important;
    background: #40454f;
}

/* Author nameplate box
--------------------------------------------------------------------------------*/
.top-matter .author,
.comment .author,
.flairrow .author,
.side .tagline .author {
    width: 280px;
    height: 36px;
    position: absolute;
    padding: 3px 0 3px 45px!important;
    font-weight: 700;
    white-space: nowrap;
    box-sizing: border-box;
    margin: 0;
    font-size: 10px;
}

/* link author */
.link .top-matter .author {
    top: -5px;
    left: 147px
}

/* comment author */
.comment .author {
    left: 70px;
    top: -28px
}

/* side tagline */
.side .tagline .author {
    left: 0
}

/* ensure transparent nameplate background color (override RES user highlighter)
--------------------------------------------------------------------------------*/
html.res.res-userHighlight body.res.res-userHighlight .author {
    background-color: transparent !important
}

/* user attributes
--------------------------------------------------------------------------------*/
.author.submitter:after {
    content: ' [S]'
}
.author.moderator:after {
    content: ' [M]'
}
.author.admin:after {
    content: ' [A]'
}
.author.friend:after {
    content: ' [F]'
}

.author.friend.submitter:after {
    content: ' [F,S]'
}
.author.friend.moderator:after {
    content: ' [F,M]'
}

.author.submitter.moderator:after {
    content: ' [S,M]'
}
.author.friend.submitter.moderator:after {
    content: ' [F,S,M]'
}
.author.friend.submitter.admin:after {
    content: ' [F,S,A]'
}

/* Comment show/hide
--------------------------------------------------------------------------------*/
.comment .expand {
    background: transparent;
    color: #99a2a8;
    visibility: visible;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 2px;
    transition: background 150ms, color 150ms;
    font-size: 9px;
    border-radius: 3px 0 0 3px;
}
.comment .expand:hover {
    background: #669bff;
    color: #fff !important;
    text-decoration: none
}

/* RES voteweight
--------------------------------------------------------------------------------*/
.tagline>a.voteWeight {
    line-height: 15px;
    height: 15px;
    margin: 4px 3px 0 3px;
    border-radius: 2px;
    padding: 0 1px;
}

/* stickied tagline
--------------------------------------------------------------------------------*/
.thing .tagline .stickied-tagline, .comment .tagline:after {
    background: #20a679;
    color: #fff;
    height: 13px;
    line-height: 13px;
    padding: 2px 5px;
    margin: 3px;
    border-radius: 3px;
    opacity: .8;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 0.3px;
    font-weight: 700;
}

[lang$=nm] .thing .tagline .stickied-tagline, .res-nightmode .thing .tagline .stickied-tagline {
    background: rgba(255,255,255,0.15);
    color: hsl(160, 92%, 60%);
}

.stickied-tagline:before {
    display: none;
}

/* 'new comment' tagline
--------------------------------------------------------------------------------*/
.comment.new-comment .comment .tagline:after {
    content: 'NEW COMMENT';
    background: #2068ee;
}

/* toolbox buttons
--------------------------------------------------------------------------------*/
.tagline .tb-bracket-button {
    line-height: 19px;
    height: 19px;
    min-width: 19px;
    box-sizing: border-box;
    display: inline-block;
    padding: 0!important
}


/* spoiler stamp
--------------------------------------------------------------------------------*/
.spoiler-stamp.stamp {
    background: #e4796b;
    border-color: #e4796b;
    color: white;
    margin-top: -1px;
}

/* nightmode misc
--------------------------------------------------------------------------------*/
[lang$=nm] .comment .score.dislikes, .res-nightmode .comment .score.dislikes,
[lang$=nm] .comment .score.likes, .res-nightmode .comment .score.likes,
[lang$=nm] .comment .score.unvoted, .res-nightmode .comment .score.unvoted,
[lang$=nm] .flair:before, .res-nightmode .flair:before,
[lang$=nm] .link .score.unvoted, .res-nightmode .link .score.unvoted,
[lang$=nm] .tagline time:not(.edited-timestamp), .res-nightmode .tagline time:not(.edited-timestamp) {
    color: #aab1b6
}