
/********************************************************************************
* THING - LINK AND COMMENTS
*********************************************************************************/
.thing {
    overflow: visible!important
}

.link a.title,
.linkflairlabel,
.tagline time {
    font-family: Segoe, "Segoe UI", Verdana, Arial, sans-serif
}

/* Link element
--------------------------------------------------------------------------------*/
.link, .link.promoted.promotedlink {
    padding: 8px 8px 0 57px;
    position: relative;
    margin-top: 0;
    border: 1px solid #cecdcd;
    
    box-shadow: 0px 0px 4px #d7c164;
    background: rgba(255,255,255,0.95);
}
.link.last-clicked {
    overflow: visible;
    border: 1px groove #0082f0
}

.expand-media.preview-object {
    overflow: visible;
    margin-top: -8px;
    padding-top: 8px;
}

/* spam
--------------------------------------------------------------------------------*/
.thing.spam {
    background: 0 0
}
.thing.spam>.entry {
    background: #f4d2d3!important
}
.thing.spam>.entry * {
    color: #111
}
.thing.spam>.entry .buttons li[title*=removed] * {
    color: #e74c3c
}

/* RES Active Thing
--------------------------------------------------------------------------------*/
.child,
.res .RES-keyNav-activeElement .md-container,
.res .link .RES-keyNav-activeElement {
    background: 0 !important;
    border-color: transparent!important
}

.link.RES-keyNav-activeThing {
    background: #F0F3FC
}

/* Link Title
--------------------------------------------------------------------------------*/
.link p.title {
    margin: 10px 0 5px 10px
}

/* self posts in comment pages don't have expandos */
.comments-page:not(.comment-permalink-page) .link.self p.title {
    margin-left: 5px
}

/* title - actual link*/
.link a.title {
    position: relative; /* relative for spoiler overlay */
    font-size: 19px;
    color: #a97100;
}

.link a.title:visited,
.thing .title:visited,
.thing.visited .title {
    color: #D44E00
}

/* domain */
.domain {
    color: transparent;
    position: absolute;
    right: 3px;
    bottom: 3px;
    font-size: 9px
}
.domain a {
    opacity: .4
}

/* Thumbnails
--------------------------------------------------------------------------------*/


.thumbnail.default, .thumbnail.self {
    background-position: 0px 0px
}
.thumbnail.nsfw {
    background: -70px 0
}
.linkflair-spoiler .thumbnail {
    background: -70px -70px
}
.stickied .thumbnail.self {
    background: -140px 0
}
.linkflair-noob .thumbnail.default, .linkflair-noob .thumbnail.self {
    background: -140px -70px
}

.linkflair-spoiler .thumbnail,
.thumbnail,
.thumbnail.default,
.thumbnail.nsfw,
.thumbnail.self {
    width: 70px;
    height: 70px!important;
    background-image: url(%%whitesheet%%) !important;
    border: 1px solid #aaa;
    border-radius: 50%;
    position: relative
}

.linkflair-rotation .thumbnail,
.linkflair-rotation .thumbnail.self {
    background: url(%%extrasheet%%) !important
}

.thumbnail img {
    width: 100%;
    height: 100%
}

.rank,
.linkflair-spoiler .thumbnail img {
    display: none
}

/* entry
--------------------------------------------------------------------------------*/
.entry {
    border-radius: 4px;
    overflow: hidden;
    margin: 17px 0 0!important
}
.link .entry {
    border-color: transparent
}
.comment .entry {
    position: relative;
    overflow: visible;
    padding-left: 70px;
    padding-bottom: 5px;
    border: 1px solid #cecdcd;
    background: #fff;
}
/* entry buttons
--------------------------------------------------------------------------------*/
.link .flat-list {
    margin-top: 2px;
    margin-left: 10px
}

/* midcol element
--------------------------------------------------------------------------------*/
.midcol {
    position: relative;
    left: -3px;
    top: 0;
    text-align: center;
    width: 46px!important;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    z-index: 50;
}
.link .midcol {
    background: rgba(0, 0, 0, .02);
    border-right: 1px solid #ececec;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0
}
.comment .midcol {
    margin: 0 10px;
    top: 25px;
    width: 36px!important;
    left: 15px;
    z-index: 5
}

/* Score
--------------------------------------------------------------------------------*/

.thing .score {
    display: none;
    position: relative;
    float: left;
    font-weight: 700;
    border-radius: 3px;
    line-height: 20px;
    height: 20px;
    text-align: center
}
.score.unvoted {
    color: #333
}
.score.likes {
    color: #e15a5a
}
.score.dislikes {
    color: #598be0
}

/* link score */
.link .score {
    font-size: 13px
}

/* comment score */
.comment .score {
    font-size: 10px;
    letter-spacing: .2px;
    top: -25px;
    left: 0;
    display: none;
    word-spacing: 100px;
    width: 60px;
    position: absolute!important;
    overflow: hidden;
    border: 1px solid #cecdcd;
    background: #fff
}

/* show score */
.comment .dislikes .score.dislikes,
.comment .likes .score.likes,
.comment .unvoted .score.unvoted {
    display: table-caption!important
}
.dislikes .score.dislikes,
.likes .score.likes,
.unvoted .score.unvoted {
    display: block
}

/* Vote arrows
--------------------------------------------------------------------------------*/

.arrow.up {
    background: 0 -2px
}
.arrow.down {
    background: 0 -208px
}
.arrow.upmod {
    background: 0 -146px
}
.arrow.downmod {
    background: 0 -66px
}

.arrow {
    width: 33px;
    height: 33px;
    background-image: url(%%downupsumo%%)!important;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    margin: -2px auto
}

/* Expando buttons
--------------------------------------------------------------------------------*/
.expando-button,
.expando-button.image,
.expando-button.video,
.expando-button.video-muted,
.parent .expando-button {
    position: relative;
    background: url(%%pokesheet%%) -36px -175px!important;
    width: 18px!important;
    height: 17px!important;
    max-width: 18px!important;
    max-height: 17px!important;
    top: 0;
    left: 0;
    margin-left: 10px;
    opacity: .4
}
.expando-button:hover {
    opacity: .8
}
.expando-button.expanded {
    background-position: -37px -197px!important
}