
/********************************************************************************
* THING - LINK AND COMMENTS
*********************************************************************************/
.thing {
    overflow: visible!important
}

/* Link element
--------------------------------------------------------------------------------*/
.link, .link.promoted.promotedlink {
    padding: 8px 8px 0 57px;
    position: relative;
    margin-top: 0;
    background: #fff;
    border: 1px solid #cecdcd;
    box-shadow: 0 1px 3px rgba(173, 178, 255, 0.8); /* BLUE PALETTE */
}
.link.last-clicked {
    overflow: visible;
    border: 1px groove #0082f0
}

.expand-media.preview-object {
    overflow: visible;
    margin-top: -8px;
    padding-top: 8px;
}

[lang$=nm] .entry, .res-nightmode .entry, [lang$=nm] .thing.link, .res-nightmode .thing.link {
    background: hsl(218,9%,15%)!important;
}

[lang$=nm] .thing.link, .res-nightmode .thing.link, [lang$=nm] .comment .entry, .res-nightmode .comment .entry {
    border: 1px solid hsl(218, 9%, 5%);
    box-shadow: 0 1px 3px rgba(173,178,255,.15);
}

.side .link.promoted.promotedlink {
    padding: 0;
    box-shadow: none;
    border: 0;
    margin-top: 10px;
}

/* spam
--------------------------------------------------------------------------------*/
.thing.spam {
    background: 0!important;
}
.thing.link.spam {
    background: #fa8072!important;
}
.thing.spam>.entry {
    background: #fa8072!important;
}
.thing.spam>.entry .buttons li[title*=removed] * {
    color: #e74c3c
}

/* RES Active Thing
--------------------------------------------------------------------------------*/
.child,
.res .RES-keyNav-activeElement .md-container,
.res .link .RES-keyNav-activeElement,
html body .link .entry.res-selected,
html body .entry.res-selected .md-container,
.res.res-nightmode .link .entry.res-selected,
.res.res-nightmode .entry.res-selected .md-container {
    background: 0 !important;
    border-color: transparent!important
}

.link.RES-keyNav-activeThing {
    background: #F0F3FC
}

[lang$=nm] .thing.link.RES-keyNav-activeThing, .res-nightmode .thing.link.RES-keyNav-activeThing,
[lang$=nm] .comment.RES-keyNav-activeThing > .entry, .res-nightmode .comment.RES-keyNav-activeThing > .entry,
[lang$=nm] .comment .entry.res-selected, .res-nightmode .comment .entry.res-selected {
    background: hsl(218, 9%, 11%) !important;
}
[lang$=nm] .comment.RES-keyNav-activeThing > .entry, .res-nightmode .comment.RES-keyNav-activeThing > .entry,
[lang$=nm] .comment .entry.res-selected, .res-nightmode .comment .entry.res-selected {
    border-color: hsl(218, 9%, 9%);
}

/* Link Title
--------------------------------------------------------------------------------*/
.link .top-matter p.title {
    margin: 10px 0 5px 10px
}

/* self posts in comment pages don't have expandos */
.comments-page:not(.comment-permalink-page) .link.self p.title {
    margin-left: 5px
}

/* title - actual link*/
.link a.title {
    font-size: 19px;
    color: rgba(0, 0, 0, .8);
    overflow-wrap: break-word;
    word-break: break-word;
}

/* domain */
.domain {
    color: transparent;
    position: absolute;
    right: 3px;
    bottom: 3px;
    font-size: 9px
}
.domain a {
    opacity: .4
}

/* link color nightmode */
[lang$=nm] .link a.title, .res-nightmode .link a.title {
    color: rgba(255, 255, 255, .8)
}

/* visited color */
.link a.title:visited,
.thing .title:visited,
.thing.visited .title {
    color: #7730b7;
}

/* visited link color nightmode */
[lang$=nm] .link a.title:visited, .res-nightmode .link a.title:visited,
[lang$=nm] .thing .title:visited, .res-nightmode .thing .title:visited,
[lang$=nm] .thing.visited .title, .res-nightmode .thing.visited .title {
    color: #b0a2e6
}

/* stickied color */
.thing.stickied.link a.title {
    color: hsl(160, 67%, 39%);
}
/* stickied color nightmod e*/
[lang$=nm] .thing.stickied.link a.title, .res-nightmode .thing.stickied.link a.title {
    color: hsl(160, 100%, 36%);
}

/* Thumbnails
--------------------------------------------------------------------------------*/

.thumbnail.default,
.thumbnail.self {
    background: 0 0
}
.linkflair-image .thumbnail.default,
.linkflair-image .thumbnail.self,
.thing.linkflair-image .midcol+.entry a.title:before {
    background: 0 -210px;
}
.linkflair-art .thumbnail.default,
.linkflair-art .thumbnail.self,
.thing.linkflair-art .midcol+.entry a.title:before {
    background: -70px -210px;
}
.linkflair-media .thumbnail.default,
.linkflair-media .thumbnail.self,
.thing.linkflair-media .midcol+.entry a.title:before {
    background: -140px -210px;
}
.linkflair-discussion .thumbnail.default,
.linkflair-discussion .thumbnail.self,
.thing.linkflair-discussion .midcol+.entry a.title:before {
    background: 0 -280px;
}
.linkflair-craft .thumbnail.default,
.linkflair-craft .thumbnail.self,
.thing.linkflair-craft .midcol+.entry a.title:before {
    background: -70px -280px;
}
.linkflair-meme .thumbnail.default,
.linkflair-meme .thumbnail.self,
.thing.linkflair-meme .midcol+.entry a.title:before {
    background: -70px -140px;
}
.linkflair-info .thumbnail.default,
.linkflair-info .thumbnail.self,
.thing.linkflair-info .midcol+.entry a.title:before {
    background: -140px -280px;
}

.thumbnail.spoiler,
.thing.spoiler .midcol+.entry a.title:before {
    background: -70px -70px
}
.thumbnail.nsfw,
.thing.over18 .midcol+.entry a.title:before {
    background: -70px 0
}
.stickied .thumbnail.self,
.thing.stickied .midcol+.entry a.title:before {
    background: -140px 0
}

.linkflair-noob .thumbnail.default,
.linkflair-noob .thumbnail.self,
.thing.linkflair-noob .midcol+.entry a.title:before {
    background: -140px -70px;
}
.linkflair-rotation .thumbnail.default,
.linkflair-rotation .thumbnail.self,
.thing.linkflair-rotation .midcol+.entry a.title:before {
    background: 0 -140px;
}

.thumbnail,
.thumbnail.default,
.thumbnail.nsfw,
.thumbnail.self,
.thing.link .midcol+.entry a.title:before {
    width: 70px;
    height: 70px!important;
    background-image: url(%%thumbnails%%) !important;
    border: 1px solid #aaa;
    border-radius: 50%;
    position: relative;
    background-size: initial !important;
}

.thing.link .midcol+.entry {
    margin-left: 77px!important;
}

.thing.link .midcol+.entry a.title:before {
    content: " ";
    top: 8px;
    left: 57px;
    position: absolute;
}

.thumbnail img {
    width: auto;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.rank {
    display: none
}

[lang$=nm] .thumbnail, .res-nightmode .thumbnail,
[lang$=nm] .thumbnail.default, .res-nightmode .thumbnail.default,
[lang$=nm] .thumbnail.nsfw, .res-nightmode .thumbnail.nsfw,
[lang$=nm] .thumbnail.self, .res-nightmode .thumbnail.self,
[lang$=nm] .linkflair-rotation .thumbnail, .res-nightmode .linkflair-rotation .thumbnail,
[lang$=nm] .linkflair-rotation .thumbnail.self, .res-nightmode .linkflair-rotation .thumbnail.self,
[lang$=nm] .thing .midcol+.entry a.title:before , .res-nightmode .thing .midcol+.entry a.title:before  {
    background-image: url(%%thumbnails-nm%%) !important;
    border: 1px solid #111
}

/* entry
--------------------------------------------------------------------------------*/
.entry {
    border-radius: 4px;
    overflow: hidden;
    margin: 22px 0 0!important
}
.link .entry {
    border-color: transparent
}
.comment .entry {
    position: relative;
    overflow: visible;
    padding-left: 70px;
    padding-bottom: 5px;
    border: 1px solid #cecdcd;
    background: #fff;
    min-height: 27px;
    box-sizing: border-box;
}
/* entry buttons
--------------------------------------------------------------------------------*/
.link .flat-list {
    margin-top: 2px;
    margin-left: 10px
}

[lang$=nm] .entry .buttons li a, .res-nightmode .entry .buttons li a,
[lang$=nm] .morecomments a, .res-nightmode .morecomments a, .res-nightmode .entry .morecomments .gray {
    color: rgba(240,252,255,.4);
}

/* midcol element
--------------------------------------------------------------------------------*/
.midcol {
    position: relative;
    left: -3px;
    top: 0;
    text-align: center;
    width: 46px!important;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    z-index: 50;
    padding-top: 3px;
}
.link .midcol {
    background: rgba(0, 0, 0, .02);
    border-right: 1px solid #ececec;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0
}
.comment .midcol {
    margin: 0 7px;
    top: 25px;
    width: 36px!important;
    left: 15px;
    z-index: 5
}

[lang$=nm] .link .midcol, .res-nightmode .link .midcol {
    border-right-color: rgba(0,0,0,0.3);
    background: rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.5);
}

/* Score
--------------------------------------------------------------------------------*/

.thing .score,
.comment .tagline .score-hidden {
    display: none;
    position: relative;
    float: left;
    font-weight: 700;
    border-radius: 3px;
    line-height: 20px;
    height: 20px;
    text-align: center
}
.score.unvoted {
    color: #333
}
.score.likes {
    color: #e15a5a
}
.score.dislikes {
    color: #598be0
}

/* link score */
.link .score {
    font-size: 13px
}

/* comment score */
.comment .score,
.comment .tagline .score-hidden {
    font-size: 10px;
    letter-spacing: .2px;
    top: -22px;
    left: 0;
    display: none;
    word-spacing: 100px;
    width: 60px;
    position: absolute!important;
    overflow: hidden;
    border: 1px solid #cecdcd;
    background: #fff;
    height: 18px;
    line-height: 18px;
}

[lang$=nm] .comment .score, .res-nightmode .comment .score,
[lang$=nm] .comment .tagline .score-hidden, .res-nightmode .comment .tagline .score-hidden {
    background: #282b30 !important;
    border-color: #17191c;
}

/* show score */
.comment .dislikes .score.dislikes,
.comment .likes .score.likes,
.comment .unvoted .score.unvoted,
.comment .tagline .score-hidden {
    display: table-caption!important
}
.dislikes .score.dislikes,
.likes .score.likes,
.unvoted .score.unvoted {
    display: block
}

/* score hidden */
.comment .tagline .score-hidden {
    letter-spacing: 0;
    word-spacing: inherit;
    font-weight: 500;
}

.comment .tagline .score-hidden:before {
    content: 'score hidden';
    display: block;
    font-size: 6.5px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 18px;
    padding-top: 1px;
    opacity: 0.6;
}

/* Vote arrows
--------------------------------------------------------------------------------*/

.arrow.up {
    background-position: 0 33.3% !important
}
.arrow.down {
    background-position: 0 100% !important
}
.arrow.upmod {
    background-position: 0 0 !important
}
.arrow.downmod {
    background-position: 0 66.6% !important
}

.arrow {
    width: 33px;
    height: 33px;
    background-image: url(%%downup%%)!important;
    background-size: 100%;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    margin: -2px auto
}

/* Expando buttons
--------------------------------------------------------------------------------*/
.expando-button {
    position: relative;
    background: url(%%pokesheet%%) -36px -35px!important;
    width: 18px!important;
    height: 17px!important;
    max-width: 18px!important;
    max-height: 17px!important;
    top: 0;
    left: 0;
    margin-left: 10px;
    opacity: .4
}
.expando-button:hover {
    opacity: .8
}
.expando-button.expanded {
    background-position: -37px -57px!important
}

.res .expando-button:after {
    display: none;
}

[lang$=nm] .expando-button, .res-nightmode .expando-button {
    background-position: -175px -57px!important;
}
[lang$=nm] .expando-button.expanded, .res-nightmode .expando-button.expanded {
    background-position: -193px -57px!important;
}

/* Reddit Video
--------------------------------------------------------------------------------*/
.reddit-video-controller-root button {
    box-shadow: none;
}
.reddit-video-controller-root button:hover {
    background: inherit;
}

/* General misc
--------------------------------------------------------------------------------*/
.post-sharing {
    margin: 10px;
}

.post-sharing .c-close {
    font-size: 0;
}

/* Nightmode misc
--------------------------------------------------------------------------------*/
[lang$=nm] .post-sharing, .res-nightmode .post-sharing,
[lang$=nm] .subreddit-report-form, .res-nightmode .subreddit-report-form {
    border-color: rgba(255, 255, 255, .2)!important;
    background: rgba(255, 255, 255, .02)!important
}
[lang$=nm] .thing .md hr, .res-nightmode .thing .md hr {
    background: rgba(255,255,255,0.1)
}
[lang$=nm] .md code, .res-nightmode .md code,
[lang$=nm] .md pre, .res-nightmode .md pre {
    background: rgba(0, 0, 0, .08)
}
