/********************************************************************************
* USER FLAIR
*********************************************************************************/
.flair,
.flair:after,
.flair:before {
    position: absolute
}

.flair {
    background-color: transparent;
    visibility: visible;
    width: 40px;
    height: 32px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    z-index: 2;
    text-indent: -9999px;
    
    /* comment flair position */
    top: -28px;
    left: 67px;
}

.flair.flair-placeholder {
    background-image: none !important;
}

/* link flair position*/
.link .flair {
    top: -4px;
    left: 145px
}

/* flair text */
.flair:before {
    content: attr(title);
    font-size: 9px;
    text-indent: 0;
    display: block;
    width: 220px;
    left: 44px;
    bottom: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 206px
}

/* flair pokeball */
.flair:after {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(%%balls%%) -9px -14px;
    visibility: visible;
    top: 4px;
    left: 245px
}

/* sidecontentbox flair fix */
.sidecontentbox .author, .sidecontentbox .author,
.sidecontentbox .author:before, .sidecontentbox .author:after {
    margin-left: 38px; font-size: 11px;
}
.sidecontentbox .flair { left: 0; top: -2px; margin-left: -5px; }
.sidecontentbox .flair:after { left: 235px; }
.sidecontentbox .flair:before { bottom: 3px; }

/* side tagline flair fix */
.titlebox .flair {
    top: 0;
    left: -2px
}

/********************************************************************************
* CUSTOM USER FLAIRS
*********************************************************************************/
.author[href$="/TheGhost983"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: 0 -13px
}
.author[href$="/David920"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -36px -14px
}
.author[href$="/technophonix1"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -69px -16px
}
.author[href$="/Thief-Noctis"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -107px -16px
}
.author[href$="/Mockturne"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -149px -16px;
}
.author[href$="/Hero_Of_Legend"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: 0 -54px;
}

/********************************************************************************
* CUSTOM USER BALL FLAIRS
*********************************************************************************/

/* special user bubles
--------------------------------------------------------------------------------*/
.author[href$="/AutoModerator"] {
    background-position: 0 -36px!important
}
.thing .author[href$="/A_Wild_Abra"],
.side .tagline .author[href$="/A_Wild_Abra"] {
    background-position: 0 -144px!important;
    color: #fff!important
}
.author[href$="/A_Wild_Abra"]~.flair:after {
    background: url(%%balls%%) -49px -128px!important
}

.thing .author[href$="/Hero_Of_Legend"],
.side .tagline .author[href$="/Hero_Of_Legend"],
.author[href$="/Hero_Of_Legend"]~.flair:before {
    background-position: 0 -72px!important;
    color: #fff !important;
}

/* Greatballs
--------------------------------------------------------------------------------*/
.author[href$="/Raiyou"]~.flair:after,
.author[href$="/chibikurai"]~.flair:after,
.author[href$="/likeitsmaddie"]~.flair:after,
.author[href$="/ParisaXOXO"]~.flair:after,
.author[href$="/wtfReddit"]~.flair:after,
.author[href$="/Fuwante0"]~.flair:after,
.author[href$="/Seagrove"]~.flair:after,
.author[href$="/WolfeyVG"]~.flair:after,
.author[href$="/13Yoshi37"]~.flair:after {
    background-position: -45px -14px
}

/* Ultraballs
--------------------------------------------------------------------------------*/
.author[href$="/thesuzerain"]~.flair:after,
.author[href$="/Bobdor"]~.flair:after,
.author[href$="/electricpenguin7"]~.flair:after,
.author[href$="/Kyle1337"]~.flair:after,
.author[href$="/Larkman22"]~.flair:after {
    background-position: -83px -14px
}

/* Masterballs
--------------------------------------------------------------------------------*/
.author[href$="/Captainium"]~.flair:after,
.author[href$="/TownIdiot25"]~.flair:after,
.author[href$="/Will-TVR"]~.flair:after,
.author[href$="/Dragon_Claw"]~.flair:after {
    background-position: -119px -14px
}

/* Repeat balls
--------------------------------------------------------------------------------*/
.author[href$="/RepeatBall"]~.flair:after {
    background-position: -187px -14px
}

/* Timerballs
--------------------------------------------------------------------------------*/
.author[href$="/Kingfin128"]~.flair:after,
.author[href$="/CrimsonMudkip"]~.flair:after,
.author[href$="/cabforpitt"]~.flair:after,
.author[href$="/keskisormi"]~.flair:after{
    background-position: -222px -14px
}

/* Premierballs
--------------------------------------------------------------------------------*/
.author[href$="/neelim98"]~.flair:after,
.author[href$="/Hero_Of_Legend"]~.flair:after,
.author[href$="/Mockturne"]~.flair:after {
    background-position: -260px -14px
}

/* Diveballs
--------------------------------------------------------------------------------*/
.author[href$="/jensenj2"]~.flair:after,
.author[href$="/Gnifle"]~.flair:after,
.author[href$="/pieraite_cannerball"]~.flair:after,
.author[href$="/yineedname"]~.flair:after,
.author[href$="/Grandfather_Clock"]~.flair:after,
.author[href$="/Not_A_Yam"]~.flair:after,
.author[href$="/estrellitadelmar"]~.flair:after {
    background-position: -119px -54px
}

/* Healballs
--------------------------------------------------------------------------------*/
/*
    background-position: -152px -54px;
*/

/* Luxuryballs
--------------------------------------------------------------------------------*/
.author[href$="/SeraphixRaleigh"]~.flair:after,
.author[href$="/HexKor"]~.flair:after,
.author[href$="/KKBlitz11"]~.flair:after,
.author[href$="/lyouke"]~.flair:after,
.author[href$="/xzmeister"]~.flair:after,
.author[href$="/SynergizerSyd"]~.flair:after,
.author[href$="/TheRoto"]~.flair:after,
.author[href$="/ElStrawFedora"]~.flair:after,
.author[href$="/Invis-"]~.flair:after {
    background-position: -117px -54px;
}

/* Quickballs
--------------------------------------------------------------------------------*/
.author[href$="/Ferretsroq"]~.flair:after,
.author[href$="/MintyFreshNipples"]~.flair:after,
.author[href$="/Pokefanatic230"]~.flair:after,
.author[href$="/Crusader1998123"]~.flair:after,
.author[href$="/TheShavvy"]~.flair:after,
.author[href$="/SHINX_FUCKER"]~.flair:after,
.author[href$="/James_Versus"]~.flair:after,
.author[href$="/kwwxis"]~.flair:after {
    background-position: -187px -54px
}

/* Duskballs
--------------------------------------------------------------------------------*/
.author[href$="/dr_crispin"]~.flair:after,
.author[href$="/myheadisahammer"]~.flair:after,
.author[href$="/duskull11"]~.flair:after,
.author[href$="/LogieBlackBear"]~.flair:after {
    background-position: -222px -54px
}

/* Cherish ball
--------------------------------------------------------------------------------*/
.author[href$="/operrett"]~.flair:after,
.author[href$="/InfamousPeace"]~.flair:after,
.author[href$="/TheGhost983"]~.flair:after,
.author[href$="/h_n_g_m_n"]~.flair:after,
.author[href$="/SalomonG18"]~.flair:after,
.author[href$="/Katsuro_Naginata"]~.flair:after,
.author[href$="/LucarioPrime"]~.flair:after,
.author[href$="/mannerson"]~.flair:after {
    background-position: -260px -54px
}

/* Parkballs
--------------------------------------------------------------------------------*/
.author[href$="/KrishaCZ"]~.flair:after,
.author[href$="/scottmonster"]~.flair:after,
.author[href$="/karinasuperkul"]~.flair:after,
.author[href$="/quantumcamel"]~.flair:after,
.author[href$="/AssiveAggressive"]~.flair:after {
    background-position: -9px -90px
}

/* Dreamball
--------------------------------------------------------------------------------*/
.author[href$="/foggiewindow"]~.flair:after,
.author[href$="/Starrodkirby86"]~.flair:after,
.author[href$="/KaSlaps"]~.flair:after,
.author[href$="/chronafox"]~.flair:after,
.author[href$="/castoweary"]~.flair:after {
    background-position: -45px -90px
}

/* Moon ball
--------------------------------------------------------------------------------*/
.author[href$="/Thief-Noctis"]~.flair:after {
    background-position: -81px -90px;
}

/* Love ball
--------------------------------------------------------------------------------*/
/*.author[href$="/username"]~.flair:after {
    background-position: -117px -90px;
}*/

/********************************************************************************
* CUSTOM NON-BALL BALL-FLAIRS
*********************************************************************************/

/* New mods icon
--------------------------------------------------------------------------------*/
.author[href$="/ngbeslhang"]~.flair:after,
.author[href$="/DavidLuizshair"]~.flair:after,
.author[href$="/Mlahk7"]~.flair:after,
.author[href$="/jaksida"]~.flair:after,
.author[href$="/TangleNathair"]~.flair:after {
    background-position: -83px -128px
}

/* technophonix1 stone
--------------------------------------------------------------------------------*/
.author[href$="/technophonix1"]~.flair:after {
    background-position: -119px -128px
}

/* bigslothonmyface marble
--------------------------------------------------------------------------------*/
.author[href$="/bigslothonmyface"]~.flair:after {
    background-position: -154px -128px;
}

/********************************************************************************
* CONTEST FLAIRS
*********************************************************************************/

.author[href$="/tuskx"]~.flair:after,
/*.author[href$="/Mockturne"]~.flair:after,*/
.author[href$="/liteayan"]~.flair:after,
.author[href$="/FakeKitten"]~.flair:after,
.author[href$="/dslashc"]~.flair:after,
.author[href$="/akbarizcool"]~.flair:after,
.author[href$="/TheOfficialFJR"]~.flair:after,
.author[href$="/Stan64"]~.flair:after,
.author[href$="/LInkash"]~.flair:after,
.author[href$="/Negalodon"]~.flair:after {
    background-position: -263px -118px;
    width: 32px;
    height: 35px;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: top 5px;
    transform-origin: top 5px;
}

/* tall alolan exeggutor ballflair - shitpost winners */
.author[href$="/PassingThroughRider"]~.flair:after,
.author[href$="/SomebodyUnown"]~.flair:after,
.author[href$="/Cls31"]~.flair:after,
.author[href$="/akbarizcool"]~.flair:after {
    background-position: -13px -169px;
    height: 95px;
    margin-top: -68px;
}

/* pumpkin ball flair */
.author[href$="/Ultra_Lobster"]~.flair:after,
.author[href$="/Hax_r_us_kappa"]~.flair:after,
.author[href$="/kfeebalione"]~.flair:after,
.author[href$="/Kidneyjoe"]~.flair:after {
    background-position: -186px -127px;
}