/********************************************************************************
* USER FLAIR
*********************************************************************************/
.flair,
.flair:after,
.flair:before {
    position: absolute
}

.flair {
    background-color: transparent;
    visibility: visible;
    width: 40px;
    height: 32px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    z-index: 2;
    text-indent: -9999px;
    
    /* comment flair position */
    top: -28px;
    left: 67px;
}

.flair.flair-placeholder {
    background-image: none !important;
}

/* link flair position*/
.link .flair {
    top: -4px;
    left: 145px
}

/* flair text */
.flair:before {
    content: attr(title);
    font-size: 9px;
    text-indent: 0;
    display: block;
    width: 220px;
    left: 44px;
    bottom: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 206px
}

/* flair pokeball */
.flair:after {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(%%balls%%) -9px -14px;
    visibility: visible;
    top: 4px;
    left: 245px
}

/* sidecontentbox flair fix */
.sidecontentbox .author, .sidecontentbox .author,
.sidecontentbox .author:before, .sidecontentbox .author:after {
    margin-left: 38px; font-size: 11px;
}
.sidecontentbox .flair { left: 0; top: -2px; margin-left: -5px; }
.sidecontentbox .flair:after { left: 235px; }
.sidecontentbox .flair:before { bottom: 3px; }

/* side tagline flair fix */
.titlebox .flair {
    top: 0;
    left: -2px
}

/********************************************************************************
* TRAINER USER FLAIRS
*********************************************************************************/

.flair.flair-tf {
    width: 50px;
    height: 50px;
    top: -42px;
    left: 63px;
}

.flair.flair-tf.flair-tf2 {
    width: 75px;
    left: 49px
}

.link .flair.flair-tf {
    top: -18px;
    left: 140px;
}

.link .flair.flair-tf.flair-tf2 {
    left: 126px;
}

.titlebox .flair.flair-tf {
    bottom: -16px;
    top: auto;
    left: -7px;
}

.titlebox .flair.flair-tf.flair-tf2 {
    left: -21px;
}

.sidecontentbox .flair.flair-tf {
    left: 2px;
    top: auto;
    bottom: 0px;
    margin-left: -5px;
    transform: scale(0.7);
    transform-origin: left bottom;
}
.sidecontentbox .flair.flair-tf:before {
    transform: scale(1.4);
    transform-origin: left bottom;
    left: 60px;
    bottom: 4px;
}
.sidecontentbox .flair.flair-tf:after {
    transform: scale(1.4);
    transform-origin: left bottom;
    left: 333px;
}

.flair.flair-tf:before {
    left: 51px;
    bottom: 4px;
}
.flair.flair-tf.flair-tf2:before {
    left: 65px;
}

.flair.flair-tf:after {
    top: auto;
    bottom: 2px;
    left: 249px;
}
.flair.flair-tf.flair-tf2:after {
    left: 263px;
}

/********************************************************************************
* CUSTOM USER FLAIRS
*********************************************************************************/
.author[href$="/TheGhost983"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: 0 -13px
}
.author[href$="/David920"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -36px -14px
}
.author[href$="/technophonix1"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -69px -16px
}
.author[href$="/Thief-Noctis"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -107px -16px
}
.author[href$="/Mockturne"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -149px -16px;
}
.author[href$="/Hero_Of_Legend"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: 0 -54px;
}
.author[href$="/scottmonster"]~.flair, .flair-tournament {
    background-image: url(%%specialflairs%%)!important;
    background-position: -37px -54px;
}
.author[href$="/DavidLuizshair"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -76px -52px;
}
.author[href$="/Otterz82"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -121px -52px;
}
.author[href$="/Kokudko"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -168px -50px;
    height: 40px;
}
.author[href$="/Kokudko"]~.flair:before {
    bottom: 9px;
}
.author[href$="/Ap_Sona_Bot"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -217px -50px;
}
.author[href$="/WDey"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -257px -54px;
}
.author[href$="/Scathee"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: 3px -91px;
}
.author[href$="/Haruka-sama"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -38px -89px;
}
.author[href$="/Theprinceofarendelle"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -76px -90px;
}
.author[href$="/The_Little_Thingy"]~.flair{
    background-image:url(%%specialflairs%%) !important;
    background-position:-118px -92px
}
.author[href$="/Cephei_Delta"]~.flair{
    background-image:url(%%specialflairs%%) !important;
    background-position:-162px -90px
}

/********************************************************************************
* CUSTOM USER BALL FLAIRS
*********************************************************************************/

/* special user bubles
--------------------------------------------------------------------------------*/
.author[href$="/AutoModerator"] {
    background-position: 0 -36px!important
}

.thing .author[href$="/A_Wild_Abra"],
.res .thing .tagline .author.submitter[href$="/A_Wild_Abra"],
.side .tagline .author[href$="/A_Wild_Abra"] {
    background-position: 0 -144px!important;
    color: #fff!important
}

/* OLD MODERATORS RED BUBBLE */
/* Hero_Of_Legend */
.thing .author[href$="/Hero_Of_Legend"],
.res .thing .tagline .author.submitter[href$="/Hero_Of_Legend"],
.side .tagline .author[href$="/Hero_Of_Legend"],
.author[href$="/Hero_Of_Legend"]~.flair:before,

/* SHINX_FUCKER */
.thing .author[href$="/SHINX_FUCKER"],
.res .thing .tagline .author.submitter[href$="/SHINX_FUCKER"],
.side .tagline .author[href$="/SHINX_FUCKER"],
.author[href$="/SHINX_FUCKER"]~.flair:before,

/* Thundergrunge */
.thing .author[href$="/Thundergrunge"],
.res .thing .tagline .author.submitter[href$="/Thundergrunge"],
.side .tagline .author[href$="/Thundergrunge"],
.author[href$="/Thundergrunge"]~.flair:before {
    background-position: 0 -72px !important;
    color: #fff !important;
}

/* TPP AMA
.thing .author[href$="/Twitch-Plays-Pokemon"],
.res .thing .tagline .author.submitter[href$="/Twitch-Plays-Pokemon"],
.side .tagline .author[href$="/Twitch-Plays-Pokemon"],
.author[href$="/Twitch-Plays-Pokemon"]~.flair:before {
    background-position: 0 -108px !important;
    color: #fff !important;
}
*/

.thing .tagline .author.moderator[href$="/technophonix1"],
.thing .author[href$="/technophonix1"],
.side .tagline .author[href$="/technophonix1"],
.author[href$="/technophonix1"]~.flair:before {
    background-position: 0 -180px !important;
    color: #333 !important;
}

/* Greatballs
--------------------------------------------------------------------------------*/
.author[href$="/Raiyou"]~.flair:after,
.author[href$="/chibikurai"]~.flair:after,
.author[href$="/likeitsmaddie"]~.flair:after,
.author[href$="/ParisaXOXO"]~.flair:after,
.author[href$="/wtfReddit"]~.flair:after,
.author[href$="/Fuwante0"]~.flair:after,
.author[href$="/Seagrove"]~.flair:after,
.author[href$="/WolfeyVG"]~.flair:after,
.author[href$="/13Yoshi37"]~.flair:after {
    background-position: -45px -14px
}

/* Ultraballs
--------------------------------------------------------------------------------*/
.author[href$="/thesuzerain"]~.flair:after,
.author[href$="/Bobdor"]~.flair:after,
.author[href$="/electricpenguin7"]~.flair:after,
.author[href$="/Kyle1337"]~.flair:after,
.author[href$="/Larkman22"]~.flair:after {
    background-position: -83px -14px
}

/* Masterballs
--------------------------------------------------------------------------------*/
.author[href$="/Captainium"]~.flair:after,
.author[href$="/TownIdiot25"]~.flair:after,
.author[href$="/Will-TVR"]~.flair:after,
.author[href$="/Dragon_Claw"]~.flair:after {
    background-position: -119px -14px
}

/* Repeat balls
--------------------------------------------------------------------------------*/
.author[href$="/RepeatBall"]~.flair:after {
    background-position: -187px -14px
}

/* Timerballs
--------------------------------------------------------------------------------*/
.author[href$="/Kingfin128"]~.flair:after,
.author[href$="/CrimsonMudkip"]~.flair:after,
.author[href$="/cabforpitt"]~.flair:after,
.author[href$="/keskisormi"]~.flair:after{
    background-position: -222px -14px
}

/* Premierballs
--------------------------------------------------------------------------------*/
.author[href$="/neelim98"]~.flair:after,
.author[href$="/Hero_Of_Legend"]~.flair:after,
.author[href$="/Mockturne"]~.flair:after {
    background-position: -260px -14px
}

/* Diveballs
--------------------------------------------------------------------------------*/
.author[href$="/jensenj2"]~.flair:after,
.author[href$="/Gnifle"]~.flair:after,
.author[href$="/pieraite_cannerball"]~.flair:after,
.author[href$="/yineedname"]~.flair:after,
.author[href$="/Grandfather_Clock"]~.flair:after,
.author[href$="/Not_A_Yam"]~.flair:after,
.author[href$="/estrellitadelmar"]~.flair:after {
    background-position: -119px -54px
}

/* Healballs
--------------------------------------------------------------------------------*/
/*
    background-position: -152px -54px;
*/

/* Luxuryballs
--------------------------------------------------------------------------------*/
.author[href$="/SeraphixRaleigh"]~.flair:after,
.author[href$="/HexKor"]~.flair:after,
.author[href$="/KKBlitz11"]~.flair:after,
.author[href$="/lyouke"]~.flair:after,
.author[href$="/xzmeister"]~.flair:after,
.author[href$="/SynergizerSyd"]~.flair:after,
.author[href$="/TheRoto"]~.flair:after,
.author[href$="/ElStrawFedora"]~.flair:after,
.author[href$="/keskisormi"]~.flair:after,
.author[href$="/Deku-Miguel"]~.flair:after,
.author[href$="/Invis-"]~.flair:after {
    background-position: -117px -54px;
}

/* Quickballs
--------------------------------------------------------------------------------*/
.author[href$="/Ferretsroq"]~.flair:after,
.author[href$="/MintyFreshNipples"]~.flair:after,
.author[href$="/Pokefanatic230"]~.flair:after,
/*.author[href$="/Crusader1998123"]~.flair:after,*/
.author[href$="/TheShavvy"]~.flair:after,
.author[href$="/SHINX_FUCKER"]~.flair:after,
.author[href$="/James_Versus"]~.flair:after,
.author[href$="/kwwxis"]~.flair:after {
    background-position: -187px -54px
}

/* Duskballs
--------------------------------------------------------------------------------*/
.author[href$="/dr_crispin"]~.flair:after,
.author[href$="/myheadisahammer"]~.flair:after,
.author[href$="/duskull11"]~.flair:after,
.author[href$="/LogieBlackBear"]~.flair:after {
    background-position: -222px -54px
}

/* Cherish ball
--------------------------------------------------------------------------------*/
.author[href$="/operrett"]~.flair:after,
.author[href$="/InfamousPeace"]~.flair:after,
.author[href$="/TheGhost983"]~.flair:after,
.author[href$="/h_n_g_m_n"]~.flair:after,
.author[href$="/SalomonG18"]~.flair:after,
.author[href$="/Katsuro_Naginata"]~.flair:after,
.author[href$="/LucarioPrime"]~.flair:after,
.author[href$="/mannerson"]~.flair:after {
    background-position: -260px -54px
}

/* Parkballs
--------------------------------------------------------------------------------*/
.author[href$="/KrishaCZ"]~.flair:after,
.author[href$="/scottmonster"]~.flair:after,
.author[href$="/karinasuperkul"]~.flair:after,
.author[href$="/quantumcamel"]~.flair:after,
.author[href$="/AssiveAggressive"]~.flair:after {
    background-position: -9px -90px
}

/* Dreamball
--------------------------------------------------------------------------------*/
.author[href$="/foggiewindow"]~.flair:after,
.author[href$="/Starrodkirby86"]~.flair:after,
.author[href$="/KaSlaps"]~.flair:after,
.author[href$="/chronafox"]~.flair:after,
.author[href$="/castoweary"]~.flair:after {
    background-position: -45px -90px
}

/* Moon ball
--------------------------------------------------------------------------------*/
.author[href$="/Thief-Noctis"]~.flair:after {
    background-position: -81px -90px;
}

/* Love ball
--------------------------------------------------------------------------------*/
/*.author[href$="/username"]~.flair:after {
    background-position: -117px -90px;
}*/

/* Beast ball
--------------------------------------------------------------------------------*/
/*.author[href$="/username"]~.flair:after {
    background-position: -152px -90px;
}*/

/********************************************************************************
* CUSTOM NON-BALL BALL-FLAIRS
*********************************************************************************/

/* New mods icon
--------------------------------------------------------------------------------*/
.author[href$="/ngbeslhang"]~.flair:after,
.author[href$="/DavidLuizshair"]~.flair:after,
.author[href$="/Mlahk7"]~.flair:after,
.author[href$="/jaksida"]~.flair:after,
.author[href$="/TangleNathair"]~.flair:after {
    background-position: -83px -128px
}

/* New mods icon 2.0
--------------------------------------------------------------------------------*/
.author[href$="/tizorres"]~.flair:after,
.author[href$="/RustRider"]~.flair:after,
.author[href$="/xRaw-HD"]~.flair:after,
.author[href$="/CrimsonMudkip"]~.flair:after,
.author[href$="/TARS-CASE"]~.flair:after,
.author[href$="/Scathee"]~.flair:after,
.author[href$="/ad3z10"]~.flair:after,
.author[href$="/Hyouten"]~.flair:after,
.author[href$="/Haruka-sama"]~.flair:after,
.author[href$="/AinhartLoz"]~.flair:after,
.author[href$="/Koni_Fox"]~.flair:after,
.author[href$="/IAmzSamz"]~.flair:after,
.author[href$="/PlayOnSunday"]~.flair:after,
.author[href$="/Lady_Baruren"]~.flair:after,
.author[href$="/TexasAndroid"]~.flair:after {
    background-position: -83px -171px;
}

/* AWild_Abra spoon */
.author[href$="/A_Wild_Abra"]~.flair:after {
    background: url(%%balls%%) -49px -128px
}

/* technophonix1 stone
--------------------------------------------------------------------------------*/
.author[href$="/technophonix1"]~.flair:after {
    background-position: -119px -128px
}

/* bigslothonmyface GBsounds
--------------------------------------------------------------------------------*/
.author[href$="/bigslothonmyface"]~.flair:after {
    background-position: -153px -128px;
}

/********************************************************************************
* CONTEST FLAIRS
*********************************************************************************/

.author[href$="/tuskx"]~.flair:after,
/*.author[href$="/Mockturne"]~.flair:after,*/
.author[href$="/liteayan"]~.flair:after,
.author[href$="/FakeKitten"]~.flair:after,
.author[href$="/dslashc"]~.flair:after,
.author[href$="/akbarizcool"]~.flair:after,
.author[href$="/TheOfficialFJR"]~.flair:after,
.author[href$="/Stan64"]~.flair:after,
.author[href$="/LInkash"]~.flair:after,
.author[href$="/Negalodon"]~.flair:after {
    background-position: -263px -118px;
    width: 32px;
    height: 35px;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: top 5px;
    transform-origin: top 5px;
}

/* tall alolan exeggutor ballflair - shitpost winners */
.author[href$="/PassingThroughRider"]~.flair:after,
.author[href$="/SomebodyUnown"]~.flair:after,
.author[href$="/akbarizcool"]~.flair:after {
    background-position: -13px -169px;
    height: 95px;
    margin-top: -68px;
}

/* pumpkin ball flair */
.author[href$="/Ultra_Lobster"]~.flair:after,
.author[href$="/Hax_r_us_kappa"]~.flair:after,
.author[href$="/kfeebalione"]~.flair:after,
.author[href$="/Kidneyjoe"]~.flair:after {
    background-position: -186px -127px;
}

/* Gen 7 Lottery Prediction Pool */
.author[href$="/ElectricEntity"]~.flair:after,
.author[href$="/bladderrunner"]~.flair:after,
.author[href$="/mayberryS9"]~.flair:after,
.author[href$="/TheKOg77"]~.flair:after,
.author[href$="/ChinroTensei"]~.flair:after,
.author[href$="/error521"]~.flair:after,
.author[href$="/daius"]~.flair:after,
.author[href$="/TheCruncher"]~.flair:after,
.author[href$="/messejesseb"]~.flair:after,
.author[href$="/FoolTarot"]~.flair:after,
.author[href$="/SkittlesDB"]~.flair:after,
.author[href$="/iadrummer"]~.flair:after,
.author[href$="/baraboosh"]~.flair:after,
.author[href$="/Ryantcairns"]~.flair:after,
.author[href$="/Yugeulb"]~.flair:after,
.author[href$="/Sushikitteh"]~.flair:after {
    background-position: -8px -129px;
}

/* best of 2016 */
.author[href$="/Flying__Penguin"]~.flair:after,
.author[href$="/Unluckyturtle"]~.flair:after,
.author[href$="/MistaWhiska"]~.flair:after,
.author[href$="/InnocuousSpaniard"]~.flair:after,
.author[href$="/Anarkey94"]~.flair:after,
.author[href$="/Bobdor"]~.flair:after {
    background-position: -118px -172px;
    transform: scale(0.9);
}

/* Pokedex */
.author[href$="/Crusader1998123"]~.flair:after,
.author[href$="/Xiiao"]~.flair:after,
.author[href$="/KingPikablu"]~.flair:after,
.author[href$="/Cls31"]~.flair:after,
.flair.flair-dex-complete:after {
    background-position: -48px -171px;
    transform: scale(0.9);
}

/* pokebank guess winners */
.flair.flair-bankflair:after {
    background: url(%%balls%%) no-repeat -13px -266px !important;
    transform: scale(0.9);
}

.flair.flair-tapubulu-medal:after {
    background: url(%%balls%%) no-repeat -211px -206px !important;
    width: 42px;
    height: 42px;
    margin-top: -8px;
    margin-left: -10px;
}

/* background: url(%%balls%%) no-repeat -258px -206px !important;*/
/* background: url(%%balls%%) no-repeat -260px -162px !important;*/

.flair.flair-tapufini-medal:after {
    background: url(%%balls%%) no-repeat -258px -248px !important;
    width: 42px;
    height: 42px;
    margin-top: -8px;
    margin-left: -10px;
}


.flair.flair-pikacup:after {
    background: url(%%balls%%) no-repeat -225px -127px !important;
}
