/********************************************************************************
* USER FLAIR
*********************************************************************************/
.flair, .flair:after, .flair:before {
    position: absolute
}

.flair {
    background-color: transparent;
    visibility: visible;
    width: 40px;
    height: 32px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    z-index: 2;
    font-size: 0 !important;
    image-rendering: pixelated;
}

.res-nightmode .flair {
    background-color: transparent;
}

.flair.flair-placeholder {
    background-image: none !important;
}

span.flairemoji {width: 30px;height: 28px;margin: 2px 5px;}

/* positioning
--------------------------------------------------------------------------------*/
.comment .flair { top: -22px }
.link .flair    { top: -4px }

/* flair text
--------------------------------------------------------------------------------*/
.flair:before {
    content: attr(title);
    font-size: 9px;
    display: block;
    width: 220px;
    bottom: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 206px
}


/* ball flair
--------------------------------------------------------------------------------*/
.flair:after {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    background: 0;
    visibility: visible;
    top: 4px;
}

/* sidebar flair fix
--------------------------------------------------------------------------------*/
.sidecontentbox .author, .sidecontentbox .author,
.sidecontentbox .author:before, .sidecontentbox .author:after {
    margin-left: 38px; font-size: 11px;
}
.sidecontentbox .flair { left: -5px; top: -2px; }
.sidecontentbox .flair:after { left: 235px; }
.sidecontentbox .flair:before { bottom: 2px; left: 43px; }

.titlebox .flair {
    top: 0;
    left: -2px
}

/* hide flair in search page, wiki page revision listing, and crossposts
--------------------------------------------------------------------------------*/
.search-result-group .flair,
.wiki-page .wiki-page-content .flair,
.crosspost-preview-tagline .flair {
    display: none;
}

/********************************************************************************
* TRAINER USER FLAIRS
*********************************************************************************/
.flair.flair-tf {
    bottom: 0;
    top: auto;
}

.comment .flair.flair-tf {
    bottom: 100%;
    margin-bottom: -14px;
}

.flair.flair-tf:before { bottom: 4px; }
.flair.flair-tf:after { top: auto; bottom: 2px; }

/* mod box fix
--------------------------------------------------------------------------------*/
.sidecontentbox .flair.flair-tf {
    left: -3px;
    transform: scale(0.8);
    transform-origin: left bottom;
}
.sidecontentbox .flair.flair-tf:before {
    left: 60px;
    bottom: 4px;
    transform: scale(1.2);
    transform-origin: 38px 12px;
}
.sidecontentbox .flair.flair-tf:after {
    left: 333px;
    transform: scale(1.2);
    transform-origin: 200px 34px;
}

/********************************************************************************
* USER SPECIAL FLAIRS
*********************************************************************************/
.author[href$="/lamomok"]~.flair {
    background: url(%%sp%%) 0 -13px !important;
}

/*.author[href$="/TheGhost983"]~.flair {
    background: url(%%sp%%) 0 -13px !important;
}
.author[href$="/David920"]~.flair {
    background: url(%%sp%%) -36px -14px !important;
}*/
/*.author[href$="/technophonix1"]~.flair {
    background: url(%%sp%%) -69px -16px !important; -- OLD FLAIR TYPE
    background: url(%%mtf%%) 0px 0px !important;
}*/

/* bigslothonmyface
.author[href$="/bigslothonmyface"]~.flair{
    background:url(%%sp%%) -165px -127px !important;
}*/

.author[href$="/Thief-Noctis"]~.flair {
    background: url(%%sp%%) -107px -16px !important;
}
.author[href$="/Mockturne"]~.flair {
    background: url(%%sp%%) -149px -16px !important;
}
.author[href$="/Hero_Of_Legend"]~.flair {
    background: url(%%sp%%) 0 -54px !important;
}
.author[href$="/scottmonster"]~.flair, .flair-tournament {
    background: url(%%sp%%) -37px -54px !important;
}
 /*.author[href$="/DavidLuizshair"]~.flair {
    background: url(%%sp%%) -76px -52px !important; -- OLD FLAIR TYPE
    background: url(%%mtf%%) -600px 0 !important;
}*/
.author[href$="/Otterz82"]~.flair {
    background: url(%%sp%%) -121px -52px !important;
}
.author[href$="/Kokudko"]~.flair {
    background: url(%%sp%%) -168px -50px !important;
    height: 40px;
}
.author[href$="/Kokudko"]~.flair:before {
    bottom: 9px;
}
.author[href$="/Ap_Sona_Bot"]~.flair {
    background: url(%%sp%%) -217px -50px !important;
}
.author[href$="/WDey"]~.flair {
    background: url(%%sp%%) -257px -54px !important;
}
.author[href$="/Scathee"]~.flair {
    background: url(%%sp%%) 3px -91px !important;
}

/*.author[href$="/Haruka-sama"]~.flair {
    background: url(%%sp%%) -38px -89px !important; -- OLD FLAIR TYPE
    background: url(%%mtf%%) -150px 0 !important;
}*/

.author[href$="/Theprinceofarendelle"]~.flair {
    background: url(%%sp%%) -76px -90px !important;
}
.author[href$="/The_Little_Thingy"]~.flair{
    background:url(%%sp%%) -118px -92px !important;
}
.author[href$="/Cephei_Delta"]~.flair{
    background:url(%%sp%%) -162px -90px !important;
}

/*
 AUG 17 - TOURNEY WINNWERS
*/
.author[href$="/A_Wild_Noob_Appeared"]~.flair {
    background: url(%%sp%%) -213px -89px !important;
}
.author[href$="/Paladinknight"]~.flair{
    background:url(%%sp%%) -255px -90px !important;
}
.author[href$="/TheSpoonMaster"]~.flair{
    background:url(%%sp%%) -3px -126px !important;
}

/* Fable */
.author[href$="/Draycen"]~.flair{
    background:url(%%sp%%) -38px -126px !important;
}

/* Lost */
.author[href$="/Im_Lost_Send_Help"]~.flair{
    background:url(%%sp%%) -78px -126px !important;
}

/* BamSquid */
.author[href$="/ninjatoasty"]~.flair{
    background:url(%%sp%%) -118px -126px !important;
}

/*.author[href$="/rileydelete"]~.flair {
    background: url(%%sp%%)  -38px -89px !important; -- OLD FLAIR TYPE
    background: url(%%mtf%%) -150px 0!important
}*/

/********************************************************************************
* MOD TRAINER FLAIRS
*********************************************************************************/
/*
NOW USING FLAIR CLASSES FOR TRAINER FLAIRS INSTEAD OF HARD-CODING
.author[href$="/ad3z10"]~.flair{
    background: url(%%mtf%%) -50px 0!important
}

.author[href$="/TARS-CASE"]~.flair{
    background: url(%%mtf%%) -100px 0!important
}

.author[href$="/Will-TVR"]~.flair{
    background: url(%%mtf%%) -200px 0!important
}

.author[href$="/RustRider"]~.flair{
    background: url(%%mtf%%) -250px 0!important
}

.author[href$="/CrimsonMudkip"]~.flair{
    background: url(%%mtf%%) -350px 0!important
}

.author[href$="/Koni_Fox"]~.flair{
    background: url(%%mtf%%) -400px 0!important
}

.author[href$="/Hyouten"]~.flair{
    background: url(%%mtf%%) -450px 0!important
}

.author[href$="/IAmzSamz"]~.flair{
    background: url(%%mtf%%) -500px 0!important
}

.author[href$="/TexasAndroid"]~.flair{
    background: url(%%mtf%%) -550px 0!important
}*/
