
/* usertext md
--------------------------------------------------------------------------------*/
.link .usertext-body .md {
    border: 0
}
.thing .md {
    background: 0 0!important;
    position: relative;
    left: 5px
}
.md .expando-button {
    position: relative;
    margin-bottom: 3px
}
.comments-page .comment .md {
    font-weight: 400;
    font-size: 14px;
    font-family: Arial, sans-serif;
    line-height: 1.35em;
    padding-right: 10px;
}
.comment .md p,
.link .md p {
    margin: 0;
    padding: 5px 0
}
.md blockquote,
.md del {
    margin-left: 0
}
.md blockquote {
    border-left: 2px solid
}
.md code,
.md pre {
    border: 0;
    background: rgba(0, 0, 0, .08)
}
.thing .md hr {
    height: 1px;
    margin-right: 10px
}

/*spoiler in-text stuff*/
a[href$="#spoiler"], a[href$="#s"], a[href="/s"], a[href="/spoiler"] {
    color: #515151!important;
    background-color: #515151;
    transition: ease-in-out .15s;
    transition: color .2s ease
}
a[href$="#spoiler"]:hover, a[href$="#s"]:hover, a[href="/s"]:hover, a[href="/spoiler"]:hover {
    transition: ease-in-out .5s;
    color: #fff!important
}
a[href$="#spoiler"]:before, a[href$="#s"]:before, a[href="/s"]:before, a[href="/spoiler"]:before {
    content: "SPOILER: ";
    text-shadow: none;
    color: #fff
}

a[href="/s"]:active,
a[href="/spoiler"]:active {
  pointer-events: none;
}