
/* usertext md
--------------------------------------------------------------------------------*/

.link .usertext-body .md {
    border: none;
}

.thing .md {
    background: transparent !important;
    position: relative;
    left: 5px;
}

.md .expando-button {
    width: 0 !important;
    position: relative;
    top: -13px;
    left: 10px;
    right: 0;
    bottom: 0;
    margin-right: 20px;
}

.comments-page .comment .md {
    font-weight: 400;
    font-size: 14px;
    font-family: Arial,sans-serif;
    line-height: 1.35em;
}

.comment .md p, .link .md p {
    margin: 0;
    padding: 5px 0;
}

.md blockquote, .md del {
    margin-left: 0;
}
.md blockquote {
    border-left: 2px solid;
}

.md code, .md pre {
    border: 0;
}

.thing .md hr {
    height: 1px;
    margin-right: 10px;
}

/*spoiler in-text stuff*/
a[href$="#spoiler"] {
    color: #515151!important;;
    background-color: #515151;
    transition: ease-in-out 0.15s;
    transition: color 0.2s ease;
}

a[href$="#spoiler"]:hover {
    transition: ease-in-out 0.5s;
    color: white!important;
}

a[href$="#spoiler"]:before {
    content:"SPOILER: ";
    text-shadow: none;
    color: white;
} 

