/********************************************************************************
* USER FLAIR
*********************************************************************************/
.flair,
.flair:after,
.flair:before {
    position: absolute
}

.flair {
    background-color: transparent;
    visibility: visible;
    width: 40px;
    height: 32px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    z-index: 2;
    text-indent: -9999px;
    image-rendering: pixelated;
}

.flair.flair-placeholder {
    background-image: none !important;
}

.comment .flair { top: -28px }
.link .flair    { top: -4px }

/* flair text */
.flair:before {
    content: attr(title);
    font-size: 9px;
    text-indent: 0;
    display: block;
    width: 220px;
    bottom: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 206px
}

/* sidecontentbox flair fix */
.sidecontentbox .author, .sidecontentbox .author,
.sidecontentbox .author:before, .sidecontentbox .author:after {
    margin-left: 38px; font-size: 11px;
}
.sidecontentbox .flair { left: 0; top: -2px; margin-left: -5px; }
.sidecontentbox .flair:after { left: 235px; }
.sidecontentbox .flair:before { bottom: 2px; left: 43px; }

/* side tagline flair fix */
.titlebox .flair {
    top: 0;
    left: -2px
}

/* hide flair in search page and wiki page */
.search-result-group .flair,
.wiki-page .wiki-page-content .flair {
    display: none !important;
}

/********************************************************************************
* TRAINER USER FLAIRS
*********************************************************************************/

.flair.flair-tf {
    bottom: 0;
    top: auto;
}

.comment .flair.flair-tf {
    bottom: 100%;
    margin-bottom: -8px;
}

.flair.flair-tf:before { bottom: 4px; }
.flair.flair-tf:after { top: auto; bottom: 2px; }

/* mod box */
.sidecontentbox .flair.flair-tf {
    left: 2px;
    top: auto;
    bottom: 0px;
    margin-left: -5px;
    transform: scale(0.8);
    transform-origin: left bottom;
}
.sidecontentbox .flair.flair-tf:before {
    left: 60px;
    bottom: 4px;
    transform: scale(1.2);
    transform-origin: 38px 12px;
}
.sidecontentbox .flair.flair-tf:after {
    left: 333px;
    transform: scale(1.2);
    transform-origin: 200px 34px;
}

/********************************************************************************
* CUSTOM USER FLAIRS
*********************************************************************************/
.author[href$="/lamomok"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: 0 -13px
/*}
.author[href$="/TheGhost983"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: 0 -13px
}
.author[href$="/David920"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -36px -14px
}
.author[href$="/technophonix1"]~.flair {
    /*background-image: url(%%specialflairs%%)!important; -- OLD FLAIR TYPE
    background-position: -69px -16px*/ 
    /* background-image: url(%%modtrainerflair%%)!important;
    background-position: 0 0 */
}
.author[href$="/Thief-Noctis"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -107px -16px
}
.author[href$="/Mockturne"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -149px -16px;
}
.author[href$="/Hero_Of_Legend"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: 0 -54px;
}
.author[href$="/scottmonster"]~.flair, .flair-tournament {
    background-image: url(%%specialflairs%%)!important;
    background-position: -37px -54px;
}
 /*.author[href$="/DavidLuizshair"]~.flair {  -- OLD FLAIR TYPE
    background-image: url(%%specialflairs%%)!important;
    background-position: -76px -52px;*/
    /* background-image: url(%%modtrainerflair%%)!important;
    background-position: -600px 0
}*/
.author[href$="/Otterz82"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -121px -52px;
}
.author[href$="/Kokudko"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -168px -50px;
    height: 40px;
}
.author[href$="/Kokudko"]~.flair:before {
    bottom: 9px;
}
.author[href$="/Ap_Sona_Bot"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -217px -50px;
}
.author[href$="/WDey"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -257px -54px;
}
.author[href$="/Scathee"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: 3px -91px;
}
.author[href$="/Haruka-sama"]~.flair {
    /*background-image: url(%%specialflairs%%)!important; -- OLD FLAIR TYPE
    background-position: -38px -89px;*/
    /* background-image: url(%%modtrainerflair%%)!important;
    background-position: -150px 0  */
}

.author[href$="/Theprinceofarendelle"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -76px -90px;
}
.author[href$="/The_Little_Thingy"]~.flair{
    background-image:url(%%specialflairs%%) !important;
    background-position:-118px -92px
}
.author[href$="/Cephei_Delta"]~.flair{
    background-image:url(%%specialflairs%%) !important;
    background-position:-162px -90px
}

/*
 AUG 17 - TOURNEY WINNWERS
*/
.author[href$="/A_Wild_Noob_Appeared"]~.flair {
    background-image: url(%%specialflairs%%)!important;
    background-position: -213px -89px;
}
.author[href$="/Paladinknight"]~.flair{
    background-image:url(%%specialflairs%%) !important;
    background-position:-255px -90px
}
.author[href$="/TheSpoonMaster"]~.flair{
    background-image:url(%%specialflairs%%) !important;
    background-position:-3px -126px
}

/* Fable */
.author[href$="/Draycen"]~.flair{
    background-image:url(%%specialflairs%%) !important;
    background-position:-38px -126px
}

/*.author[href$="/rileydelete"]~.flair {
    background-image: url(%%specialflairs%%)!important; -- OLD FLAIR TYPE
    background-position: -38px -89px;
    background-image: url(%%modtrainerflair%%)!important;
    background-position: -150px 0 
}*/

/*
NOW USING FLAIR CLASSES FOR TRAINER FLAIRS INSTEAD OF HARD-CODING
.author[href$="/ad3z10"]~.flair{
    background-image: url(%%modtrainerflair%%)!important;
    background-position: -50px 0
}

.author[href$="/TARS-CASE"]~.flair{
    background-image: url(%%modtrainerflair%%)!important;
    background-position: -100px 0 
}

.author[href$="/Will-TVR"]~.flair{
    background-image: url(%%modtrainerflair%%)!important;
    background-position: -200px 0 
}

.author[href$="/RustRider"]~.flair{
    background-image: url(%%modtrainerflair%%)!important;
    background-position: -250px 0 
}

.author[href$="/CrimsonMudkip"]~.flair{
    background-image: url(%%modtrainerflair%%)!important;
    background-position: -350px 0 
}

.author[href$="/Koni_Fox"]~.flair{
    background-image: url(%%modtrainerflair%%)!important;
    background-position: -400px 0 
}

.author[href$="/Hyouten"]~.flair{
    background-image: url(%%modtrainerflair%%)!important;
    background-position: -450px 0 
}

.author[href$="/IAmzSamz"]~.flair{
    background-image: url(%%modtrainerflair%%)!important;
    background-position: -500px 0 
}

.author[href$="/TexasAndroid"]~.flair{
    background-image: url(%%modtrainerflair%%)!important;
    background-position: -550px 0 
}*/

/********************************************************************************
* CUSTOM USER BALL FLAIRS
*********************************************************************************/

/* AMA host user bubbles

TEMPLATE:
.thing .tagline .author.moderator[href$="/username"],
.author.moderator[href$="/username"]~.flair:before,
.side .tagline .author[href$="/username"],
.side .tagline .author[href$="/username"]~.flair:before {
    background-position: 0 -168px !important;
    color: #fff !important;
}

--------------------------------------------------------------------------------*/

.thing .author[href$="/Koolboyman"],
.author[href$="/Koolboyman"]~.flair:before,
.side .tagline .author[href$="/Koolboyman"],
.side .tagline .author[href$="/Koolboyman"]~.flair:before {
    background-position: 0 -144px !important;
    color: #fff !important;
}

/* special user bubles
--------------------------------------------------------------------------------*/

/* ABRA YELLOW */
.thing .author[href$="/A_Wild_Abra"],
.res .thing .tagline .author.submitter[href$="/A_Wild_Abra"],
.side .tagline .author[href$="/A_Wild_Abra"] {
    background-position: 0 -180px!important;
    color: #fff!important
}

.side .tagline .author[href$="/A_Wild_Abra"]~.flair:before,
.author[href$="/A_Wild_Abra"]~.flair:before {
    color: #333 !important;
}

/* Tech Green */
.thing .tagline .author.moderator[href$="/technophonix1"],
.thing .author[href$="/technophonix1"],
.side .tagline .author[href$="/technophonix1"],
.author[href$="/technophonix1"]~.flair:before {
    background-position: 0 -216px !important;
    color: #333 !important;
}

/* Haruka Purple - Distinguish Only */
.thing .tagline .author.moderator[href$="/Haruka-sama"],
.author.moderator[href$="/Haruka-sama"]~.flair:before,
.side .tagline .author[href$="/Haruka-sama"],
.side .tagline .author[href$="/Haruka-sama"]~.flair:before {
    background-position: 0 -252px !important;
    color: #fff !important;
}

/* Samz Purple/Turqoise - Distinguish Only */
.thing .tagline .author.moderator[href$="/IAmzSamz"],
.author.moderator[href$="/IAmzSamz"]~.flair:before,
.side .tagline .author[href$="/IAmzSamz"],
.side .tagline .author[href$="/IAmzSamz"]~.flair:before  {
    background-position: 0 -288px !important;
    color: #fff !important;
}

/* Baru Orange - Distinguish Only */
.thing .tagline .author.moderator[href$="/Lady_Baruren"],
.author.moderator[href$="/Lady_Baruren"]~.flair:before,
.side .tagline .author[href$="/Lady_Baruren"],
.side .tagline .author[href$="/Lady_Baruren"]~.flair:before  {
    background-position: 0 -324px !important;
    color: #fff !important;
}

/* DLH Black/Yellow - Distinguish Only */
.thing .tagline .author.moderator[href$="/DavidLuizshair"],
.side .tagline .author[href$="/DavidLuizshair"] {
    background-position: 0 -360px !important;
    color: #fff !important;
}
.side .tagline .author[href$="/DavidLuizshair"]~.flair:before,
.author.moderator[href$="/DavidLuizshair"]~.flair:before {
    color: #333 !important;
}

/* Mudkip Blue/Orange - Distinguish Only */
.thing .tagline .author.moderator[href$="/CrimsonMudkip"],
.author.moderator[href$="/CrimsonMudkip"]~.flair:before,
.side .tagline .author[href$="/CrimsonMudkip"],
.side .tagline .author[href$="/CrimsonMudkip"]~.flair:before  {
    background-position: 0 -396px !important;
    color: #fff !important;
}

/* TexasAndroid Black/White - Distinguish Only */
.thing .tagline .author.moderator[href$="/TexasAndroid"],
.side .tagline .author[href$="/TexasAndroid"] {
    background-position: 0 -432px !important;
    color: #fff !important;
}
.side .tagline .author[href$="/TexasAndroid"]~.flair:before,
.author.moderator[href$="/TexasAndroid"]~.flair:before {
    color: #333 !important;
}

/* Mockturne Vermillion - Distinguish Only */
.thing .tagline .author.moderator[href$="/Mockturne"],
.author.moderator[href$="/Mockturne"]~.flair:before,
.side .tagline .author[href$="/Mockturne"],
.side .tagline .author[href$="/Mockturne"]~.flair:before  {
    background-position: 0 -468px !important;
    color: #fff !important;
}

/* Draycen - Distinguish Only */
.thing .tagline .author.moderator[href$="/Draycen"],
.author.moderator[href$="/Draycen"]~.flair:before,
.side .tagline .author[href$="/Draycen"],
.side .tagline .author[href$="/Draycen"]~.flair:before  {
    background-position: 0 -504px !important;
    color: #fff !important;
}

/* SnowPhoenix9999 - Distinguish Only */
.thing .tagline .author.moderator[href$="/SnowPhoenix9999"],
.side .tagline .author[href$="/SnowPhoenix9999"],
/* im lazy sue me - haruka 
 -- UrsineKing - Distinguish Only
*/
.thing .tagline .author.moderator[href$="/UrsineKing"],
.side .tagline .author[href$="/UrsineKing"]
{
    background-position: 0 -540px !important;
    color: #fff !important;
}
.side .tagline .author[href$="/SnowPhoenix9999"]~.flair:before,
.author.moderator[href$="/SnowPhoenix9999"]~.flair:before,
/* im lazy sue me - haruka 
 -- UrsineKing - Distinguish Only
*/
.side .tagline .author[href$="/UrsineKing"]~.flair:before,
.author.moderator[href$="/UrsineKing"]~.flair:before
{
    color: #333 !important;
}

/* leaffyleif - Distinguish Only */
.thing .tagline .author.moderator[href$="/leaffyleif"],
.author.moderator[href$="/leaffyleif"]~.flair:before,
.side .tagline .author[href$="/leaffyleif"],
.side .tagline .author[href$="/leaffyleif"]~.flair:before  {
    background-position: 0 -576px !important;
    color: #fff !important;
}


/* OFFICIAL ACCOUNT BUBBLES */

/* NINTENDO OF AMERICA OFFICIAL - user Flair */
.thing .author[href$="/Nintendo_America"],
.author[href$="/CrimsonMudkip"]~.flair:before,
.side .tagline .author[href$="/Nintendo_America"]
.side .tagline .author[href$="/Nintendo_America"]~.flair:before  {
    background-position: 0 108px!important;
    color: #fff!important
}

/* OLD MODERATORS RED BUBBLE 
--------------------------------------------------------------------------------*/
/* Hero_Of_Legend */
.thing .author[href$="/Hero_Of_Legend"],
.res .thing .tagline .author.submitter[href$="/Hero_Of_Legend"],
.side .tagline .author[href$="/Hero_Of_Legend"],
.author[href$="/Hero_Of_Legend"]~.flair:before,

/* SHINX_FUCKER */
.thing .author[href$="/SHINX_FUCKER"],
.res .thing .tagline .author.submitter[href$="/SHINX_FUCKER"],
.side .tagline .author[href$="/SHINX_FUCKER"],
.author[href$="/SHINX_FUCKER"]~.flair:before,

/* Thundergrunge */
.thing .author[href$="/Thundergrunge"],
.res .thing .tagline .author.submitter[href$="/Thundergrunge"],
.side .tagline .author[href$="/Thundergrunge"],
.author[href$="/Thundergrunge"]~.flair:before {
    background-position: 0 -108px !important;
    color: #fff !important;
}



/* AMA
--------------------------------------------------------------------------------*/
.thing .author[href$="/aDr1v3"],
.res .thing .tagline .author.submitter[href$="/aDr1v3"],
.side .tagline .author[href$="/aDr1v3"],
.author[href$="/aDr1v3"]~.flair:before,

.thing .author[href$="/DeathlytK"],
.res .thing .tagline .author.submitter[href$="/DeathlytK"],
.side .tagline .author[href$="/DeathlytK"],
.author[href$="/DeathlytK"]~.flair:before,

.thing .author[href$="/CrimsonCBAD"],
.res .thing .tagline .author.submitter[href$="/CrimsonCBAD"],
.side .tagline .author[href$="/CrimsonCBAD"],
.author[href$="/CrimsonCBAD"]~.flair:before

{
    background-position: 0 -144px !important;
    color: #fff !important;
}


/* WEEKY ANIME THREAD
--------------------------------------------------------------------------------*/

/* UNCOMMENT THIS IF WE EVER USE IT

.thing[data-url*="weekly_anime_thread"] .author,
#gtm-jail[name*="weekly_anime_thread"]~.content .commentarea .sitetable .thing .author.submitter {
    background-position: 0 -324px !important;
    color: #fff !important; 
}

.thing[data-url*="weekly_anime_thread"] .author~.flair,
#gtm-jail[name*="weekly_anime_thread"]~.content .commentarea .sitetable .thing .author.submitter~.flair {
    color: #fff !important;
}

*/
 
/* NEW BALL BACKGROUND FLAIRS
--------------------------------------------------------------------------------*/

/* Poke balls - Subscription
--------------------------------------------------------------------------------*/
.flair:after {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(%%ballflair%%) 0 0;
    visibility: visible;
    top: 4px;
}


/* Great balls
--------------------------------------------------------------------------------*/
.author[href$="/Raiyou"]~.flair:after,
.author[href$="/chibikurai"]~.flair:after,
.author[href$="/likeitsmaddie"]~.flair:after,
.author[href$="/ParisaXOXO"]~.flair:after,
.author[href$="/wtfReddit"]~.flair:after,
.author[href$="/Fuwante0"]~.flair:after,
.author[href$="/Seagrove"]~.flair:after,
.author[href$="/WolfeyVG"]~.flair:after,
.author[href$="/13Yoshi37"]~.flair:after {
    background-position: -30px 0
}

/* Ultra balls
--------------------------------------------------------------------------------*/
.author[href$="/thesuzerain"]~.flair:after,
.author[href$="/Bobdor"]~.flair:after,
.author[href$="/electricpenguin7"]~.flair:after,
.author[href$="/Kyle1337"]~.flair:after,
.author[href$="/Larkman22"]~.flair:after {
    background-position: -60px 0
}

/* Master balls
--------------------------------------------------------------------------------*/
.author[href$="/Captainium"]~.flair:after,
.author[href$="/TownIdiot25"]~.flair:after,
.author[href$="/Will-TVR"]~.flair:after,
.author[href$="/Dragon_Claw"]~.flair:after {
    background-position: -90px 0
}
/* Safari balls
--------------------------------------------------------------------------------*/
/*{
    background-position: -120px 0
}*/

/* Repeat balls
--------------------------------------------------------------------------------*/
.author[href$="/RepeatBall"]~.flair:after {
    background-position: -150px 0
}

/* Timer balls
--------------------------------------------------------------------------------*/
.author[href$="/Kingfin128"]~.flair:after,
.author[href$="/CrimsonMudkip"]~.flair:after,
.author[href$="/cabforpitt"]~.flair:after,
.author[href$="/keskisormi"]~.flair:after{
    background-position: -180px 0
}

/* Premier balls
--------------------------------------------------------------------------------*/
.author[href$="/neelim98"]~.flair:after,
.author[href$="/Hero_Of_Legend"]~.flair:after,
.author[href$="/Mockturne"]~.flair:after,
.author[href$="/rileydelete"]~.flair:after
.author[href$="/Helaenaa"]~.flair:after {
    background-position: -210px 0
}

/* Nest balls
--------------------------------------------------------------------------------*/
/*.author[href$="/username"]~.flair:after {
    background-position: -240px 0
}*/

/* Net balls
--------------------------------------------------------------------------------*/
.author[href$="/WestsideWalrus"]~.flair:after {
    background-position: -270px 0
}

/* Dive balls
--------------------------------------------------------------------------------*/
.author[href$="/jensenj2"]~.flair:after,
.author[href$="/Gnifle"]~.flair:after,
.author[href$="/pieraite_cannerball"]~.flair:after,
.author[href$="/yineedname"]~.flair:after,
.author[href$="/Grandfather_Clock"]~.flair:after,
.author[href$="/Not_A_Yam"]~.flair:after,
.author[href$="/estrellitadelmar"]~.flair:after,
.author[href$="/HintoTokala"]~.flair:after {
    background-position: -300px 0
}

/* Luxury balls
--------------------------------------------------------------------------------*/
/*.author[href$="/SeraphixRaleigh"]~.flair:after,*/ /* Currently has Manaphy Egg flair */
.author[href$="/HexKor"]~.flair:after,
.author[href$="/KKBlitz11"]~.flair:after,
.author[href$="/lyouke"]~.flair:after,
.author[href$="/xzmeister"]~.flair:after,
.author[href$="/SynergizerSyd"]~.flair:after,
.author[href$="/TheRoto"]~.flair:after,
.author[href$="/ElStrawFedora"]~.flair:after,
.author[href$="/keskisormi"]~.flair:after,
.author[href$="/Deku-Miguel"]~.flair:after,
.author[href$="/Invis-"]~.flair:after,
.author[href$="/resaja"]~.flair:after {
    background-position: -330px 0;
}

/* Heal balls
--------------------------------------------------------------------------------*/
/*.author[href$="/username"]~.flair:after {
    background-position: -360px 0;
}*/


/* Quick balls
--------------------------------------------------------------------------------*/
.author[href$="/Ferretsroq"]~.flair:after,
.author[href$="/MintyFreshNipples"]~.flair:after,
.author[href$="/Pokefanatic230"]~.flair:after,
/*.author[href$="/Crusader1998123"]~.flair:after,*/
.author[href$="/TheShavvy"]~.flair:after,
.author[href$="/SHINX_FUCKER"]~.flair:after,
.author[href$="/James_Versus"]~.flair:after,
.author[href$="/kwwxis"]~.flair:after {
    background-position: -390px 0
}

/* Cherish balls
--------------------------------------------------------------------------------*/
.author[href$="/operrett"]~.flair:after,
.author[href$="/InfamousPeace"]~.flair:after,
.author[href$="/TheGhost983"]~.flair:after,
.author[href$="/h_n_g_m_n"]~.flair:after,
.author[href$="/SalomonG18"]~.flair:after,
.author[href$="/Katsuro_Naginata"]~.flair:after,
.author[href$="/LucarioPrime"]~.flair:after,
.author[href$="/mannerson"]~.flair:after,
.author[href$="/xBR0SKIx"]~.flair:after {
    background-position: -420px 0
}

/* Dusk balls
--------------------------------------------------------------------------------*/
.author[href$="/dr_crispin"]~.flair:after,
.author[href$="/myheadisahammer"]~.flair:after,
.author[href$="/duskull11"]~.flair:after,
.author[href$="/LogieBlackBear"]~.flair:after {
    background-position: -450px 0
}

/* Park balls
--------------------------------------------------------------------------------*/
.author[href$="/KrishaCZ"]~.flair:after,
.author[href$="/scottmonster"]~.flair:after,
.author[href$="/karinasuperkul"]~.flair:after,
.author[href$="/quantumcamel"]~.flair:after,
/* .author[href$="/saltimmortalsea"]~.flair:after, changed to egg at their request*/
.author[href$="/AssiveAggressive"]~.flair:after {
    background-position: -480px 0
}

/* Dreamball
--------------------------------------------------------------------------------*/
.author[href$="/foggiewindow"]~.flair:after,
.author[href$="/Starrodkirby86"]~.flair:after,
.author[href$="/KaSlaps"]~.flair:after,
.author[href$="/chronafox"]~.flair:after,
.author[href$="/castoweary"]~.flair:after,
.author[href$="/lycilla"]~.flair:after {
    background-position: -510px 0
}

/* Moon ball
--------------------------------------------------------------------------------*/
.author[href$="/Thief-Noctis"]~.flair:after {
    background-position: -540px 0
}

/* Love ball
--------------------------------------------------------------------------------*/
/*.author[href$="/username"]~.flair:after {
    background-position: -570px 0
}*/

/* Beast ball
--------------------------------------------------------------------------------*/
/*.author[href$="/username"]~.flair:after {
    background-position: -600px 0
}*/

/********************************************************************************
* CUSTOM NON-BALL BALL-FLAIRS
*********************************************************************************/

/* New mods icon JOHTO
--------------------------------------------------------------------------------*/
.author[href$="/ngbeslhang"]~.flair:after,
.author[href$="/DavidLuizshair"]~.flair:after,
.author[href$="/Mlahk7"]~.flair:after,
.author[href$="/jaksida"]~.flair:after,
.author[href$="/TangleNathair"]~.flair:after {
    background-position: -630px 0
}

/* New mods icon 2.0 HOENN
--------------------------------------------------------------------------------*/
.author[href$="/tizorres"]~.flair:after,
.author[href$="/RustRider"]~.flair:after,
.author[href$="/xRaw-HD"]~.flair:after,
.author[href$="/CrimsonMudkip"]~.flair:after,
.author[href$="/TARS-CASE"]~.flair:after,
.author[href$="/Scathee"]~.flair:after,
.author[href$="/ad3z10"]~.flair:after,
.author[href$="/Hyouten"]~.flair:after,
.author[href$="/Haruka-sama"]~.flair:after,
.author[href$="/AinhartLoz"]~.flair:after,
.author[href$="/Koni_Fox"]~.flair:after,
.author[href$="/IAmzSamz"]~.flair:after,
.author[href$="/PlayOnSunday"]~.flair:after,
.author[href$="/Lady_Baruren"]~.flair:after,
.author[href$="/TexasAndroid"]~.flair:after {
    background-position: -660px 0
}

/* New mods icon 3.0 SINNOH
--------------------------------------------------------------------------------*/
.flair.flair-sinnohmod:after {
    background-position: -690px 0
}

/* New mods icon 4.0 UNOVA
--------------------------------------------------------------------------------*/
/*.author[href$="/username"]~.flair:after {
    background-position: -720px 0
}*/

/* New mods icon 5.0 KALOS
--------------------------------------------------------------------------------*/
/*.author[href$="/username"]~.flair:after {
    background-position: -750px 0
}*/

/* New mods icon 6.0 ALOLA
--------------------------------------------------------------------------------*/
/*.author[href$="/username"]~.flair:after {
    background-position: -780px 0
}*/

/********************************************************************************
* SPECIAL ACHIVEMENT FLAIRS
*********************************************************************************/

/* Pokedex */
.author[href$="/Crusader1998123"]~.flair:after,
.author[href$="/Xiiao"]~.flair:after,
.author[href$="/KingPikablu"]~.flair:after,
.author[href$="/Cls31"]~.flair:after,
.flair.flair-dex-complete:after {
    background-position: -840px 0;
    transform: scale(0.9);
}

/* Rotom Dex */
/*.author[href$="/username"]~.flair:after,*/
.flair.flair-aloladex-complete:after {
    background-position: -900px 0
}

/* Oval Charm */
/*.author[href$="/username"]~.flair:after,*/
.flair.flair-ovalcharm:after {
    background-position: -930px 0
}

/* Shiny Charm */
/*.author[href$="/username"]~.flair:after,*/
.flair.flair-shinycharm:after {
    background-position: -960px 0
}

/* Golden Pokedex */
.author[href$="/Crusader1998123"]~.flair:after {
    background-position: -990px 0;
    width: 34px;
    transform: scale(0.9);
}

/********************************************************************************
* CONTEST FLAIRS
*********************************************************************************/

/* Strange Souvenier - Gen 7 Lottery Prediction Pool */
.author[href$="/ElectricEntity"]~.flair:after,
.author[href$="/bladderrunner"]~.flair:after,
.author[href$="/mayberryS9"]~.flair:after,
.author[href$="/TheKOg77"]~.flair:after,
.author[href$="/ChinroTensei"]~.flair:after,
.author[href$="/error521"]~.flair:after,
.author[href$="/daius"]~.flair:after,
.author[href$="/TheCruncher"]~.flair:after,
.author[href$="/messejesseb"]~.flair:after,
.author[href$="/FoolTarot"]~.flair:after,
.author[href$="/SkittlesDB"]~.flair:after,
.author[href$="/iadrummer"]~.flair:after,
.author[href$="/baraboosh"]~.flair:after,
.author[href$="/Ryantcairns"]~.flair:after,
.author[href$="/Yugeulb"]~.flair:after,
.author[href$="/Sushikitteh"]~.flair:after {
    background-position: -1140px 0;
}

/* Alola Trial Medal - best of 2016 */
.author[href$="/Flying__Penguin"]~.flair:after,
.author[href$="/Unluckyturtle"]~.flair:after,
.author[href$="/MistaWhiska"]~.flair:after,
.author[href$="/InnocuousSpaniard"]~.flair:after,
.author[href$="/Anarkey94"]~.flair:after,
.author[href$="/Bobdor"]~.flair:after {
    background-position: -1170px 0;
    transform: scale(0.9);
}

/* Pikachu Cup - Cup project helpers */
.flair.flair-pikacup:after {
    background: url(%%ballflair%%) no-repeat -1200px 0 !important;
}

/* golden Pumpkaoo - best pumpkin 2016 */
.author[href$="/Ultra_Lobster"]~.flair:after,
.author[href$="/Hax_r_us_kappa"]~.flair:after,
.author[href$="/kfeebalione"]~.flair:after,
.author[href$="/Kidneyjoe"]~.flair:after {
    background-position: 0 -30px;
}

/* golden pokebank - pokebank guess winners */
.flair.flair-bankflair:after {
    background: url(%%ballflair%%) no-repeat -30px -30px !important;
}

/* POGO Gym - MVP 100 Gyms */
.author[href$="/tuskx"]~.flair:after,
/*.author[href$="/Mockturne"]~.flair:after,*/
.author[href$="/liteayan"]~.flair:after,
.author[href$="/FakeKitten"]~.flair:after,
.author[href$="/dslashc"]~.flair:after,
.author[href$="/akbarizcool"]~.flair:after,
.author[href$="/TheOfficialFJR"]~.flair:after,
.author[href$="/Stan64"]~.flair:after,
.author[href$="/LInkash"]~.flair:after,
.author[href$="/Negalodon"]~.flair:after {
    background-position: -60px -30px;
    width: 32px;
    height: 35px;
    -webkit-transform-origin: top 5px;
    transform-origin: top 5px;
}

/* Golden Team Skull Badge - shitpost winners */
.author[href$="/somebodyandnobody"]~.flair:after,
.author[href$="/InternetDude9001"]~.flair:after,
.author[href$="/Vulpixel16"]~.flair:after,
.author[href$="/BugcatcherJay"]~.flair:after, 
.author[href$="/Sorrica"]~.flair:after {
    background-position: -90px -30px
}

/* Golden Teeth */
.flair.flair-goldenteeth:after {
    background-position: -120px -30px;
}

/* Coin Case */
.flair.flair-coincase:after {
    background-position: -150px -30px;
}

/* Red Scale */
.flair.flair-redscale:after {
    background-position: -180px -30px;
}

/* Shiny Magikarp */
.flair.flair-shinykarp:after {
    background-position: -210px -30px;
}

/* necroparticipant */
.flair.flair-necroparticipant:after {
    background-position: -240px -30px;
}

/* necrowinner */
.author[href$="/NesMeister123"]~.flair:after,
.flair.flair-necrowinner:after {
    background-position: -270px -30px;
}

/* tall alolan exeggutor ballflair - shitpost winners */
.author[href$="/PassingThroughRider"]~.flair:after,
.author[href$="/SomebodyUnown"]~.flair:after,
.author[href$="/akbarizcool"]~.flair:after {
    background-position: -1290px -30px;
    height: 95px;
    margin-top: -68px;
}

/* Egg - Easter 2018 Contest Participants */
.author[href$="/TheKornManCan"]~.flair:after,
.author[href$="/saltimmortalsea"]~.flair:after {
    background-position: -300px -30px;
}

/* Manaphy Egg - Easter 2018 Contest Winners */
/* .author[href$="/NesMeister123"]~.flair:after, */
.author[href$="/SeraphixRaleigh"]~.flair:after,
.author[href$="/Olivchen"]~.flair:after {
    background-position: -330px -30px;
}

/* TAPU CHALLENGE MEDALS */
.flair.flair-tapubulu-medal:after,
.flair.flair-tapufini-medal:after,
.flair.flair-tapulele-medal:after,
.flair.flair-tapukoko-medal:after {
    background: url(%%ballflair%%) no-repeat;
    width: 42px;
    height: 42px;
    margin-top: -8px;
    margin-left: -10px;
}

/* Tapu bulu - Challenge Medal */
.flair.flair-tapubulu-medal:after {
    background-position: -1106px -86px !important;
}

/* Tapu fini - Challenge Medal */
.flair.flair-tapufini-medal:after {
    background-position: -1152px -86px !important;
}

/* Tapu lele - Challenge Medal */
.flair.flair-tapulele-medal:after {
    background-position: -1200px -86px !important;
}

/* Tapu koko - Challenge Medal */
.flair.flair-tapukoko-medal:after {
    background-position: -1244px -86px !important;
}

/********************************************************************************
* EXTERNAL COMMUNITY FLAIRS
*********************************************************************************/
.flair.flair-discordmod:after {
    background-position: -1260px 0px !important;
}

.flair.flair-verified-account:after {
    background-position: -1230px 0px !important;
}

/********************************************************************************
* ADMIN EXCLUSIVE FLAIRS
*********************************************************************************/

/* technophonix1 stone
--------------------------------------------------------------------------------*/
.author[href$="/technophonix1"]~.flair:after {
    background-position: 0 -60px
}

/* bigslothonmyface GBsounds
--------------------------------------------------------------------------------
.author[href$="/bigslothonmyface"]~.flair:after {
    background-position: -30px -60px;
}*/

/* A_Wild_Abra spoon
--------------------------------------------------------------------------------*/
.author[href$="/A_Wild_Abra"]~.flair:after {
    background: url(%%ballflair%%) -60px -60px;
}

/* SnowPhoenix9999 NeverMeltIce
--------------------------------------------------------------------------------*/
.author[href$="/SnowPhoenix9999"]~.flair:after {
    background-position: -90px -60px
}

/* Jaksida Farfetch'd
--------------------------------------------------------------------------------*/
.author[href$="/jaksida"]~.flair:after {
    background-position: -120px -60px
}

/* ad3z10 Heat Drive
--------------------------------------------------------------------------------*/
.author[href$="/ad3z10"]~.flair:after {
    background-position: -150px -60px
}

/* TARS-CASE Leftovers 2
--------------------------------------------------------------------------------*/
.author[href$="/TARS-CASE"]~.flair:after {
    background-position: -180px -60px
}

/* RustRider Snooball 
--------------------------------------------------------------------------------*/
.author[href$="/RustRider"]~.flair:after {
    background-position: -210px -60px;
}

/* Mockturne Present 
--------------------------------------------------------------------------------*/
.author[href$="/Mockturne"]~.flair:after {
    background-position: -240px -60px;
}

/* CrimsonMudkip Mega Stone
--------------------------------------------------------------------------------*/
.author[href$="/CrimsonMudkip"]~.flair:after {
    background-position: -270px -60px;
}

/* TexasAndroid TeachyTV
--------------------------------------------------------------------------------*/
.author[href$="/TexasAndroid"]~.flair:after {
    background-position: -300px -60px;
}

/* IAmzSamz Deoxys Stone
--------------------------------------------------------------------------------*/
.author[href$="/IAmzSamz"]~.flair:after {
    background-position: -330px -60px;
}

/* DavidLuizshair Altarianite
--------------------------------------------------------------------------------*/
.author[href$="/DavidLuizshair"]~.flair:after {
    background-position: -360px -60px;
}

/* Draycen Meteorite
--------------------------------------------------------------------------------*/
.author[href$="/Draycen"]~.flair:after {
    background-position: -390px -60px;
}

/* Ursineking Ice Stone
--------------------------------------------------------------------------------*/
.author[href$="/UrsineKing"]~.flair:after {
    background-position: -420px -60px;
}
